{{ define "base" }}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    {{ template "head" .}} {{ block "extend_head" .}}{{ end }}
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      {{ template "sidebar" .}}
      <div class="flex flex-col flex-1 w-full">
        {{ template "navbar" .}}
        <main class="h-full overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <!-- contents -->
            {{ if eq .page "dashboard" }}
              {{ block "dashboard_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "customers" }}
              {{ block "dashboard_customers_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "blank" }}
              {{ block "dashboard_blank_content" .}}{{ end }}
            {{ end }}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
{{ end }}
