{{ define "base" }}
<!DOCTYPE html>
<html 
  :class="{ 'theme-dark': dark }"
  x-data="data()"
  lang="en"
  x-init="$watch('openAlertBox', value => {
    if(value){
      setTimeout(function () {
        openAlertBox = false
      }, 2000)
    }
  })">
  <head>
    {{ template "head" .}} {{ block "extend_head" .}}{{ end }}
  </head>
  <body>
    <div @modal.window="openModal(); modalTitle = $event.detail.title; modalContent = $event.detail.content; if (typeof($event.detail.html) != 'undefined') { showModalHTML = true }; $refs.modalHTML.innerHTML = $event.detail.html; if (typeof($event.detail.callback) != 'undefined') { modalCallback = $event.detail.callback }"></div>
    <div @notif.window="showAlert($event.detail.type); alertMessage = $event.detail.message"></div>

    <template x-if="openAlertBox">
      <div
        class="fixed bottom-0 right-0 z-50"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        <div class="p-10">
          <div class="flex items-center text-white text-sm font-bold px-4 py-3 rounded shadow-md" :class="alertBackgroundColor" role="alert">
            <span x-html="alertMessage" class="flex"></span>
            <button type="button" class="flex" @click="openAlertBox = false">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 ml-4"><path d="M6 18L18 6M6 6l12 12"></path></svg>
            </button>
          </div>
        </div>
      </div>
    </template>
    
    <div
      class="flex overflow-hidden h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      {{ template "sidebar" .}}
      <div class="flex flex-col flex-1 w-full">
        {{ template "navbar" .}}
        <main class="h-full overflow-hidden">
          <div class="container px-6 mx-auto grid">
            <!-- contents -->
            {{ if eq .page "dashboard" }}
              {{ block "dashboard_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "account" }}
              {{ block "dashboard_account_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "users" }}
              {{ block "dashboard_users_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "products" }}
              {{ block "dashboard_products_content" .}}{{ end }}
            {{ end }}

            {{ if eq .page "blank" }}
              {{ block "dashboard_blank_content" .}}{{ end }}
            {{ end }}
          </div>
        </main>
      </div>
    </div>

<!-- Modal backdrop. This what you want to place close to the closing body tag -->
    <div
      x-cloak
      x-show="isModalOpen"
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-150"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    >
      <!-- Modal -->
      <div
        x-show="isModalOpen"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 transform translate-y-1/2"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0  transform translate-y-1/2"
        @click.away="closeModal"
        @keydown.escape="closeModal"
        class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
        role="dialog"
        id="modal"
      >
        <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
        <header class="flex justify-end">
          <button
            class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
            aria-label="close"
            @click="closeModal"
          >
            {{ template "_svg_icon_close" }}
          </button>
        </header>
        <!-- Modal body -->
        <div 
          class="mt-4 mb-6"          
        >
          <!-- Modal title -->
          <p
            class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300"
            x-text="modalTitle"
          >
            {{ .l_modal_header }}
          </p>
          <!-- Modal content -->
          <div x-ref="modalHTML" x-show="showModalHTML"></div>
          <p
            class="text-sm text-gray-700 dark:text-gray-400"
            x-text="modalContent"
            x-show="modalContent != ''"
          >
            {{ .l_modal_content }}
          </p>
        </div>
        <footer
          class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800"
        >
          <button
            @click="closeModal"
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray"
          >
            {{ .l_modal_btn_one }}
          </button>
          <button
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            @click="modalCallback(); closeModal()"
          >
            {{ .l_modal_btn_two }}
          </button>
        </footer>
      </div>
    </div>
    <!-- End of modal backdrop -->


  </body>
</html>
{{ end }}
