<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .site_title }} - {{ .site_name }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/tailwind.optimized.css" />
    <script src="/assets/js/alpine.min.js" defer></script>
    <script src="/assets/js/init-alpine.js"></script>
  </head>
  <body>
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
        <div class="flex flex-col overflow-y-auto md:flex-row">
          <div class="h-32 md:h-auto md:w-1/2">
            <img
              aria-hidden="true"
              class="object-cover w-full h-full dark:hidden"
              src="../assets/img/create-account-office.jpeg"
              alt="Office"
            />
            <img
              aria-hidden="true"
              class="hidden object-cover w-full h-full dark:block"
              src="../assets/img/create-account-office-dark.jpeg"
              alt="Office"
            />
          </div>
          <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
            <div class="w-full">
              <h1
                class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
              >
                {{ .l_c_form_title }}
              </h1>

              <div x-data="create()">
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >{{ .l_c_form_phone }}</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="081xxx"
                    x-model="formData.phone"
                    @keydown.enter="submitData()"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPhone }"
                  />
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmPhone"
                    :class="{'invisible': errPhone == false}"
                  >
                  </span>
                </label>

                <div class="flex flex-wrap mb-6">
                  <div class="w-full md:w-1/2 md:pr-3">
                    <label class="block mt-4 text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >{{ .l_c_form_firstname }}</span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        placeholder="Rika"
                        x-model="formData.firstname"
                        @keydown.enter="submitData()"
                        :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errFirstname }"
                      />
                    </label>
                  </div>
                  <div class="w-full md:w-1/2 md:pl-3">
                    <label class="block mt-4 text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >{{ .l_c_form_lastname }}</span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        placeholder="Artamevia"
                        x-model="formData.lastname"
                        @keydown.enter="submitData()"
                      />
                    </label>
                  </div>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmFirstname"
                    :class="{'invisible': errFirstname == false}"
                  >
                  </span>
                </div>

                <div class="mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">
                    {{ .l_c_form_gender }}
                  </span>
                  <div class="mt-2">
                    <label
                      class="inline-flex items-center text-gray-600 dark:text-gray-400"
                    >
                      <input
                        type="radio"
                        class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                        name="gender"
                        @click="formData.gender = 'm'"
                      />
                      <span class="ml-2">{{ .l_c_form_gender_m }}</span>
                    </label>
                    <label
                      class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
                    >
                      <input
                        type="radio"
                        class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                        name="gender"
                        @click="formData.gender = 'f'"
                      />
                      <span class="ml-2">{{ .l_c_form_gender_f }}</span>
                    </label>
                  </div>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmGender"
                    :class="{'invisible': errGender == false}"
                  >
                  </span>
                </div>

                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >{{ .l_c_form_password }}</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="***************"
                    type="password"
                    x-model="formData.password"
                    @keydown.enter="submitData()"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPassword }"
                  />
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmPassword"
                    :class="{'invisible': errPassword == false}"
                  >
                  </span>
                </label>
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">
                    {{ .l_c_form_repassword }}
                  </span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="***************"
                    type="password"
                    x-model="formData.repassword"
                    @keydown.enter="submitData()"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errRepassword }"
                  />
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmRepassword"
                    :class="{'invisible': errRepassword == false}"
                  >
                  </span>
                </label>

                <div class="flex mt-6 text-sm">
                  <label class="items-center dark:text-gray-400">
                    <input
                      type="checkbox"
                      class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      x-model="formData.policy"
                      :class="{'border-red-600': errPolicy }"
                    />
                    <span class="ml-2">
                      {{ .l_c_form_agree }}
                      <span class="underline"
                        >{{ .l_c_form_privacy_link }}</span
                      > </span
                    ><br />
                    <span
                      class="text-xs text-red-600 dark:text-red-400"
                      x-text="errmPolicy"
                      :class="{'invisible': errPolicy == false}"
                    >
                    </span>
                  </label>
                </div>

                <button
                  type="submit"
                  class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  @click="submitData()"
                  :disabled="loading == true"
                  x-text="loadingText"
                  :class="{'cursor-not-allowed opacity-50': loading == true }"
                >
                  {{ .l_c_form_create }}
                </button>

                <div :class="{'hidden': showNotif == false}">
                  <hr class="my-8" />
                  <div
                    class="px-4 py-3 mb-8 rounded-lg shadow-md dark:bg-gray-800"
                    :class="{'bg-red-400': notifStatus == 'error', 'bg-orange-400': notifStatus == 'fail', 'bg-green-400': notifStatus == 'success'}"
                  >
                    <p
                      class="text-sm text-gray-600 dark:text-gray-400"
                      x-text="message"
                    ></p>
                  </div>
                </div>
              </div>

              <script>
                function create() {
                  return {
                    formData: {
                      phone: "",
                      firstname: "",
                      lastname: "",
                      gender: "",
                      password: "",
                      repassword: "",
                      policy: false,
                    },
                    loadingText: "{{ .l_c_form_create }}",
                    loading: false,
                    message: "",
                    errPhone: false,
                    errmPhone: "",
                    errFirstname: false,
                    errmFirstname: "",
                    errGender: false,
                    errmGender: "",
                    errPassword: false,
                    errmPassword: "",
                    errRepassword: false,
                    errmRepassword: "",
                    errPolicy: false,
                    errmPolicy: "",
                    showNotif: false,
                    notifStatus: "",

                    submitData() {
                      this.loadingText = "Loading . . .";
                      this.loading = true;

                      fetch("/api/v1/local/create-account", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(this.formData),
                      })
                        .then((res) => res.json())
                        .then((data) => {
                          this.loadingText = "{{ .l_c_form_create }}";
                          this.loading = false;
                          if (data.phone) {
                            this.errPhone = true;
                            this.errmPhone = data.phone;
                          } else {
                            this.errPhone = false;
                            this.errmPhone = "";
                          }
                          if (data.firstname) {
                            this.errFirstname = true;
                            this.errmFirstname = data.firstname;
                          } else {
                            this.errFirstname = false;
                            this.errmFirstname = "";
                          }
                          if (data.gender) {
                            this.errGender = true;
                            this.errmGender = data.gender;
                          } else {
                            this.errGender = false;
                            this.errmGender = "";
                          }
                          if (data.password) {
                            this.errPassword = true;
                            this.errmPassword = data.password;
                          } else {
                            this.errPassword = false;
                            this.errmPassword = "";
                          }
                          if (data.repassword) {
                            this.errRepassword = true;
                            this.errmRepassword = data.repassword;
                          } else {
                            this.errRepassword = false;
                            this.errmRepassword = "";
                          }
                          if (data.policy) {
                            this.errPolicy = true;
                            this.errmPolicy = data.policy;
                          } else {
                            this.errPolicy = false;
                            this.errmPolicy = "";
                          }

                          if (data.status == "error") {
                            this.notifStatus = "error";
                          }
                          if (data.status == "fail") {
                            this.notifStatus = "fail";
                          }
                          if (data.status == "success") {
                            this.notifStatus = "success";
                          }

                          if (data.message) {
                            this.message = data.message;
                            this.showNotif = true;
                          } else {
                            this.showNotif = false;
                            this.message = "";
                          }
                        })
                        .catch(() => {
                          console.log("error");
                        });
                    },
                  };
                }
              </script>

              <hr class="my-8" />

              <p class="mt-4">
                <a
                  class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                  href="../login"
                >
                  {{ .l_c_have }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
