{{ template "base" .}}

<!-- Halaman order id -->
{{ define "dashboard_orders_receipt_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-500 dark:text-gray-200"
>
  Order ID #{{ .code }}
</h2>

<!-- Daftar Order -->
<div x-data="OrderReceipt()" class="w-full mb-8 overflow-hidden">
  <div>
    <div class="w-full overflow-x-auto overflow-y-auto">
      <template
        x-if="monthlyCredit !== null"
        x-for="(monthly, index) in monthlyCredit"
        :key="monthly.ID"
      >
        <div class="w-full">
          <div class="w-full relative lg:items-center lg:justify-center">
            <div
              class="m-5 flex flex-wrap content-center items-center justify-center paper"
              style="width: 240mm; height: 140mm"
            >
              <div class="w-full px-10" :id="monthly.Code">
                <div class="shadow-xs">
                  <div
                    class="w-full flex flex-row text-left px-4 py-2 text-sm leading-5"
                  >
                    <div class="w-3/5 relative">
                      <span
                        class="pt-3 block pl-30 text-3xl font-extrabold tracking-wider"
                        style="font-family: 'Lapica'"
                        >NAZWA ELEKTRONIK</span
                      >
                      <div class="leading-4 pt-6">
                        <p class="text-sm">
                          Jalan Raya Cihaur - Bojongsari - Jampangkulon 43178
                        </p>
                        <p class="text-sm tracking-tighter">
                          Telp. 0858-6355-5270 / 0815-6346-5840
                        </p>
                        <p class="text-sm tracking-tighter">
                          website
                          <a
                            href="https://cvnazwa.com"
                            class="text-blue-500 underline"
                            >https://cvnazwa.com</a
                          >
                        </p>
                        <div class="w-20 h-10 top-0 absolute ml-2 mt-1">
                          <img
                            src="/assets/img/logo.svg"
                            class="object-cover w-full h-full"
                            loading="lazy"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="w-2/5 relative">
                      <div class="top-0 right-0 absolute">
                        <img
                          :src="`data:image/png;base64,${monthly.QR}`"
                          class="object-cover w-full h-full"
                          loading="lazy"
                        />
                      </div>
                      <div class="font-semibold text-lg">K W I T A N S I</div>
                      <table class="w-full table-fixed">
                        <tr>
                          <th class="w-2/6 align-top font-normal">
                            Angsuran ke
                          </th>
                          <td class="flex flex-wrap">
                            <span>:</span
                            ><span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${monthly.Nth}`"
                            ></span>
                          </td>
                        </tr>
                        <tr>
                          <th class="w-2/6 align-top font-normal">
                            Jatuh Tempo
                          </th>
                          <td class="flex flex-wrap">
                            <span>:</span
                            ><span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${monthly.DueDate}`"
                            ></span>
                          </td>
                        </tr>
                        <tr>
                          <th class="w-2/6 align-top font-normal">
                            Janji Bayar
                          </th>
                          <td class="flex flex-wrap">
                            <span>:</span
                            ><span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${monthly.Promise}`"
                              x-show="monthly.Promise != ''"
                            ></span>
                            <span
                              style="width: 98%"
                              class="pl-1"
                              x-show="monthly.Promise == ''"
                              >....................</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <th class="w-2/6 align-top font-normal">
                            Tanggal Cetak
                          </th>
                          <td class="flex flex-wrap">
                            <span>:</span
                            ><span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${monthly.PrintDate}`"
                            ></span>
                          </td>
                        </tr>
                        <tr>
                          <th class="w-2/6 align-top font-normal">
                            Kode Cetak
                          </th>
                          <td class="flex flex-wrap">
                            <span>:</span
                            ><span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${monthly.Code}`"
                            ></span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- Info Order -->
                  <div class="w-full text-left px-4 py-2">
                    <table class="w-full table-fixed border">
                      <tr class="border-b">
                        <th class="w-2/6 align-top font-normal px-2">
                          Tertagih
                        </th>
                        <td class="flex flex-wrap px-2">
                          <span>:</span>
                          <span
                            style="width: 98%"
                            class="pl-1 capitalize"
                            x-text="`${order.Customer.Name}`"
                          ></span>
                        </td>
                      </tr>
                      <tr class="border-b">
                        <th class="w-2/6 align-top font-normal px-2">
                          Alamat Tagih
                        </th>
                        <td class="flex flex-wrap px-2">
                          <span>:</span>
                          <span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${order.BillingAddress}`"
                          ></span>
                        </td>
                      </tr>
                      <tr class="border-b">
                        <th class="w-2/6 align-top font-normal px-2">
                          Besar Tagihan
                        </th>
                        <td class="flex flex-wrap px-2">
                          <span>:</span>
                          <span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${toRupiah(order.CreditDetail.Monthly)} ( ${terbilang(order.CreditDetail.Monthly)} )`"
                          ></span>
                        </td>
                      </tr>
                      <tr class="border-b">
                        <th class="w-2/6 align-top font-normal px-2">
                          Terbayar untuk
                        </th>
                        <td class="flex flex-wrap px-2">
                          <span>:</span>
                          <span style="width: 98%" class="pl-1">
                            <template x-if="order.Items !== null">
                              <template
                                x-for="(item, idx) in order.Items"
                                :key="idx"
                              >
                                <div class="flex item-center text-sm">
                                  &nbsp;
                                  <p
                                    class="text-sm text-gray-600 dark:text-gray-400"
                                    x-text="`[${item.Quantity}x ${item.Product.Name}]`"
                                  ></p>
                                  <p
                                    class="pr-1"
                                    x-show="order.Items.length > 1 && idx < (order.Items.length-2)"
                                  >
                                    ,
                                  </p>
                                  <p
                                    class="px-1"
                                    x-show="order.Items.length > 1 && idx == (order.Items.length-2)"
                                  >
                                    dan
                                  </p>
                                </div>
                              </template>
                            </template>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!-- Info Tagihan -->
                  <div class="w-full text-left px-4 py-2">
                    <div class="w-full flex flex-row border p-2">
                      <div class="w-3/5 pr-2">
                        <table class="w-full table-fixed">
                          <tr class="border-b">
                            <th class="w-2/6 align-top font-normal">
                              Total Kredit
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span>
                              <span
                                style="width: 98%"
                                class="pl-1 capitalize"
                                x-text="`${toRupiah(order.PriceTotal)}`"
                              ></span>
                            </td>
                          </tr>
                          <tr class="border-b">
                            <th class="w-2/6 align-top font-normal">
                              Sisa Kredit
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span>
                              <span
                                style="width: 98%"
                                class="pl-1 capitalize"
                                x-text="`${toRupiah(order.PriceTotal-((index+1)*order.CreditDetail.Monthly))}`"
                              ></span>
                            </td>
                          </tr>
                          <tr class="border-b">
                            <th class="w-2/6 align-top font-normal">
                              Jumlah Bayar
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span>
                              <span
                                style="width: 98%"
                                class="pl-1 capitalize"
                              ></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="w-2/6 align-top font-normal">
                              Sisa Setelah Bayar
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span>
                              <span
                                style="width: 98%"
                                class="pl-1 capitalize"
                                x-text="`${toRupiah(order.PriceTotal-((index+1)*order.CreditDetail.Monthly)-order.CreditDetail.Monthly)}`"
                              ></span>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="w-1/5 text-center border-l border-r">
                        <p>Tanggal Bayar</p>
                        <p>....................</p>
                        <p>Penagih, TTD</p>

                        <p
                          x-text="order.Collector.Name"
                          x-show="order.Collector.Name != ''"
                        ></p>
                        <p x-show="order.Collector.Name == ''">-</p>
                      </div>
                      <div class="w-1/5 relative text-center">
                        <p class="absolute top-0 inset-x-0 mx-auto">Admin</p>
                        <p class="absolute bottom-0 inset-x-0 mx-auto">
                          Rika Artamevia
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  function OrderReceipt() {
    return {
      monthlyCredit: {{ .monthly }},
      order: {{ .order }},
    };
  }
</script>
{{ end }}
