{{ define "dashboard_orders_add_substitute_modal" }}

<template x-if="formData.substitutes.length > 0">
  <div class="w-full relative md:w-2/3 md:px-1">
    <label class="block mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400"> Pendamping</span>
    </label>
    <div class="overflow-x-auto mt-4">
      <!-- Items -->
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-3 py-3 w-3">No</th>
            <th class="px-4 py-3">Nama</th>
            <th class="px-4 py-3">NIK</th>
          </tr>
        </thead>
        <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
          <template x-for="(s, index) in formData.substitutes" :key="index">
            <tr
              class="text-gray-700 dark:text-gray-400 hover:bg-green-100 cursor-pointer border-b"
              @dblclick="removeSubstitute(index)"
            >
              <td class="px-3 py-3 text-sm" x-text="index + 1"></td>
              <td class="px-4 py-3 text-sm">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="text-sm">
                      <span class="text-sm" x-show="s.gender == 'm'"
                        >Bpk.
                      </span>
                      <span class="text-sm" x-show="s.gender == 'f'">Ibu </span>
                      <span x-text="`${s.firstname} ${s.lastname}`"></span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-sm text-gray-500">
                <p x-show="s.ric != ''" x-text="`NIK ${s.ric}`"></p>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<div class="w-full md:px-1">
  <!-- Pengganti/orang yang ikut bertanggung jawab -->
  <label class="block mt-4 text-sm">
    <span class="text-blue-700 dark:text-blue-400">
      <a
        href="#"
        @click="$dispatch('modal', { html: $refs.userSubstitute.innerHTML });"
        >Tambahkan Pendamping</a
      ></span
    >
  </label>
</div>

<template x-ref="userSubstitute">
  <div x-data="substitute()">
    <!-- Title -->
    <div
      class="absolute top-0 mt-3 ml-3 sm:mr-0 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
    >
      Tambah Pendamping
    </div>
    <!-- Formulir data pendamping -->
    <div
      class="mx-3 text-sm tracking-wide text-left text-gray-500 dark:text-gray-400"
    >
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Nomor KTP</span>
        <input
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          placeholder="Nomor Induk Kependudukan"
          x-model="substitute.ric"
          @keydown.enter="add($dispatch)"
          :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errRIC }"
        />
        <span
          class="text-xs text-red-600 dark:text-red-400"
          x-text="errmRIC"
          :class="{'invisible': errRIC == false}"
        >
        </span>
        <span
          class="text-xs text-gray-500"
          x-show="existSubstitutes.length > 0"
        >
          <p>Ditemukan pendamping dengan nama</p>
          <div class="flex flex-wrap">
            <template
              x-if="existSubstitutes.length > 0"
              x-for="(s, index) in existSubstitutes"
              :key="index"
            >
              <div class="flex">
                <p
                  class="font-bold"
                  :class="{'text-green-600 dark:text-green-400': confirm, 'text-red-600 dark:text-red-400': !confirm }"
                  x-text="s.Name"
                ></p>
                <p
                  class="pr-1"
                  x-show="existSubstitutes.length > 1 && index < (existSubstitutes.length-2)"
                >
                  ,
                </p>
                <p
                  class="px-1"
                  x-show="existSubstitutes.length > 1 && index == (existSubstitutes.length-2)"
                >
                  dan
                </p>
              </div>
            </template>
            <a
              class="text-blue-500 pl-1"
              href="#"
              @click="confirm = true"
              x-show="!confirm"
              >Benar?</a
            >
          </div>
        </span>
      </label>
      <!-- Nama Lengkap -->
      <div class="flex flex-wrap mb-6">
        <div class="w-full md:w-1/2 md:pr-3">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Nama Depan</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="Rika"
              x-model="substitute.firstname"
              @keydown.enter="add($dispatch)"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errFirstname }"
            />
          </label>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmFirstname"
            :class="{'invisible': errFirstname == false}"
          >
          </span>
        </div>
        <div class="w-full md:w-1/2 md:pl-3">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Nama Belakang</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="Artamevia"
              x-model="substitute.lastname"
              @keydown.enter="add($dispatch)"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errLastname }"
            />
          </label>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmLastname"
            :class="{'invisible': errLastname == false}"
          >
          </span>
        </div>
      </div>
      <!-- Jenis Kelamin -->
      <div class="mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400"> Jenis Kelamin </span>
        <div class="mt-2">
          <label
            class="inline-flex items-center text-gray-600 dark:text-gray-400"
          >
            <input
              type="radio"
              class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              name="s_gender"
              @click="substitute.gender = 'm'"
            />
            <span class="ml-2">Laki-laki</span>
          </label>
          <label
            class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
          >
            <input
              type="radio"
              class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              name="s_gender"
              @click="substitute.gender = 'f'"
            />
            <span class="ml-2">Perempuan</span>
          </label>
        </div>
        <span
          class="text-xs text-red-600 dark:text-red-400"
          x-text="errmGender"
          :class="{'invisible': errGender == false}"
        >
        </span>
      </div>
      <!-- Tombol tambah -->
      <button
        type="submit"
        class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        @click="add($dispatch)"
        :disabled="loading == true"
        :class="{'cursor-not-allowed opacity-50': loading == true }"
      >
        Tambahkan
      </button>
    </div>
  </div>
</template>
<script>
  function substitute() {
    return {
      substitute: {
        ric: "",
        firstname: "",
        lastname: "",
        gender: "",
      },
      next: true,
      last: "",
      confirm: true,
      existSubstitutes: [],
      loading: false,
      errRIC: false,
      errmRIC: "",
      errFirstname: false,
      errmFirstname: "",
      errLastname: false,
      errmLastname: "",
      errGender: false,
      errmGender: "",
      add($dispatch) {
        this.loading = true;
        var ste = document.getElementById("create").__x.$data.formData
          .substitutes;

        if (this.substitute.ric != "") {
          if (isNaN(this.substitute.ric)) {
            this.errRIC = true;
            this.errmRIC = "Nomor ID KTP harus berupa angka";
            this.next = false;
          } else {
            if (this.substitute.ric.toString().length > 16) {
              this.errRIC = true;
              this.errmRIC = "Nomor ID KTP tidak boleh lebih dari 16 digit";
              this.next = false;
            } else if (this.substitute.ric.toString().length < 16) {
              this.errRIC = true;
              this.errmRIC = "Nomor ID KTP tidak boleh kurang dari 16 digit";
              this.next = false;
            } else {
              this.errRIC = false;
              this.errmRIC = "";
              this.next = true;
            }
          }
        } else {
          this.errRIC = false;
          this.errmRIC = "";
          this.next = true;
        }

        if (this.substitute.firstname == "") {
          this.errFirstname = true;
          this.errmFirstname = "Nama depan harus di isi";
          this.next = false;
        } else {
          if (this.substitute.firstname.length > 25) {
            this.errFirstname = true;
            this.errmFirstname =
              "Nama depan tidak boleh lebih dari 25 karakter";
            this.next = false;
          } else if (this.substitute.firstname.length < 3) {
            this.errFirstname = true;
            this.errmFirstname = "Nama depan tidak boleh kurang dari 3 huruf";
            this.next = false;
          } else {
            this.errFirstname = false;
            this.errmFirstname = "";
          }
        }

        if (this.substitute.lastname != "") {
          if (this.substitute.lastname.length > 25) {
            this.errLastname = true;
            this.errmLastname =
              "Nama belakang tidak boleh lebih dari 25 karakter";
            this.next = false;
          } else {
            this.errLastname = false;
            this.errmLastname = "";
          }
        }

        if (this.substitute.gender == "") {
          this.errGender = true;
          this.errmGender = "Jenis kelamin tidak boleh kosong";
          this.next = false;
        } else {
          if (this.substitute.gender == "m" || this.substitute.gender == "f") {
            this.errGender = false;
            this.errmGender = "";
          } else {
            this.errGender = true;
            this.errmGender = "Format tidak valid";
            this.next = false;
          }
        }

        if (this.next) {
          if (this.substitute.ric != "" && this.last != this.substitute.ric) {
            this.next = false;
            this.last = this.substitute.ric;
            this.checkRIC($dispatch);
          } else {
            if (!this.confirm) {
              this.next = false;
            }
          }
        }

        if (this.next) {
          for (i = 0; i < ste.length; i++) {
            if (ste[i].ric == this.substitute.ric) {
              $dispatch("notif", {
                type: "warning",
                message: "Pendamping ini sudah ditambahkan",
              });
              this.next = false;
            }
          }
        }

        if (!this.next) {
          this.loading = false;
          return;
        }

        ste.push(this.substitute);

        document.getElementById("root").__x.$data.closeModal();
      },
      checkRIC($dispatch) {
        fetch(
          `/api/v1/local/order/substitute/ric?number=${this.substitute.ric}`,
          {
            method: "GET",
          }
        )
          .then((res) => res.json())
          .then((data) => {
            if (data.substitutes.length > 0) {
              this.existSubstitutes = data.substitutes;
              this.confirm = false;
            } else {
              this.existSubstitutes = "";
              this.confirm = true;
              this.add($dispatch);
            }
          })
          .catch(() => {
            console.log("Telah terjadi kesalahan saat memuat data produk");
          });
      },
    };
  }
</script>
{{ end }}
