{{ template "base" .}}

<!-- Pengaturan akun -->
{{ define "dashboard_account_content" }}
<h2 class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  {{ .l_account_header }}
</h2>

<div class="grid gap-6 mb-8 md:grid-cols-2">
  <!-- User info -->
  <div class="min-w-0 p-4 bg-white sm:rounded-lg shadow-xs dark:bg-gray-800">
    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
      {{ .l_account_user_contact }}
    </h4>

    <div x-data="updateContact()">
      <div class="flex flex-wrap mb-6">
        <div class="w-full md:w-1/2 md:pr-3">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"
              >{{ .l_u_account_firstname }}</span
            >
            <input
              class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="firstname"
              disabled
            />
          </label>
        </div>
        <div class="w-full md:w-1/2 md:pl-3">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"
              >{{ .l_u_account_lastname }}</span
            >
            <input
              class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="lastname"
              disabled
            />
          </label>
        </div>
      </div>

      <div class="mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
          {{ .l_u_account_gender }}
        </span>
        <div class="mt-2">
          <label
            class="inline-flex items-center text-gray-600 dark:text-gray-400"
          >
            <input
              type="radio"
              class="cursor-not-allowed opacity-50 text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              name="gender"
              disabled
              {{ if eq .user.Gender "m" }}checked{{ end }}
            />
            <span class="ml-2">{{ .l_u_account_gender_m }}</span>
          </label>
          <label
            class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
          >
            <input
              type="radio"
              class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              name="gender"
              disabled
              {{ if eq .user.Gender "f" }}checked{{ end }}
            />
            <span class="ml-2">{{ .l_u_account_gender_f }}</span>
          </label>
        </div>
      </div>

      <!-- Username -->
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400"
          >{{ .l_u_account_username }}</span
        >
        <input
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          type="text"
          x-model="updateData.username"
          @keydown.enter="updateContact($dispatch)"
          :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errUsername }"
        />
        <span
          class="text-xs text-red-600 dark:text-red-400"
          x-text="errmUsername"
          :class="{'invisible': errUsername == false}"
        >
        </span>
      </label>

      <!-- Nomor HP -->
      <div x-show="phones != ''">
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_account_phone }}</span
          >

          <template x-for="(phone, index) in phones" :key="index">
            <div class="relative">
              <input
                class="cursor-not-allowed opacity-50 block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                :value="phone.Phone"
                type="text"
                disabled
              />
              <div class="absolute inset-y-0 right-0 flex">
                <button
                  class="px-4 text-sm font-medium leading-5 text-green-500 transition-colors duration-150 hover:text-green-700 focus:text-green-600 focus:outline-none focus:shadow-outline-none"
                  @click="$dispatch('modal', {title: 'Maaf!', content: 'Fitur ini belum di implementasikan'})"
                  x-show="!phone.Verified"
                >
                  {{ .l_u_account_verify_btn }}
                </button>
                <button
                  class="px-4 text-sm font-medium leading-5 text-red-500 transition-colors duration-150 hover:text-red-700 focus:text-red-600 focus:outline-none focus:shadow-outline-none"
                  @click="$dispatch('modal', { footer: true, title: 'Peringatan!', content:'Apakah yakin ingin menghapus nomor ini?', callback: function() { deletePhone($dispatch, phone.ID) } })"
                  x-show="phones.length > 1"
                >
                  {{ template "_svg_icon_close" }}
                </button>
              </div>
            </div>
          </template>
        </label>
      </div>
      <label class="block mt-4 text-sm">
        <span class="text-blue-700 dark:text-blue-400">
          <a
            href="#"
            @click="$dispatch('modal', { footer: true, title: 'Tambahkan nomor HP', html: $refs.addPhoneForm.innerHTML, callback: function() { addPhone($dispatch) } })">
            {{ .l_u_account_add_phone }}
          </a></span
        >
      </label>
      <template x-ref="addPhoneForm">
        <div
          id="newPhDat"
          x-data="{ newPhone: '' }"
        >
          <input
            class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            x-model="newPhone"
            type="text"
            @keydown.enter="$parent.modalCallback(); $parent.closeModal()"
            placeholder="Nomor HP..."
          />
        </div>
      </template>

      <!-- Email -->
      <div x-show="emails.length > 0">
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_account_email }}</span
          >

          <template x-for="(email, index) in emails" :key="index">
            <div class="relative">
              <input
                class="cursor-not-allowed opacity-50 block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                :value="email.Email"
                type="text"
                disabled
              />
              <div class="absolute inset-y-0 right-0 flex">
                <button
                  class="px-4 text-sm font-medium leading-5 text-green-500 transition-colors duration-150 hover:text-green-700 focus:text-green-600 focus:outline-none focus:shadow-outline-none"
                  @click="$dispatch('modal', {title: 'Maaf!', content: 'Fitur ini belum di implementasikan'})"
                  x-show="!email.Verified"
                >
                  {{ .l_u_account_verify_btn }}
                </button>
                <button
                  class="px-4 text-sm font-medium leading-5 text-red-500 transition-colors duration-150 hover:text-red-700 focus:text-red-600 focus:outline-none focus:shadow-outline-none"
                  @click="$dispatch('modal', { footer: true, title: 'Peringatan!', content:'Apakah yakin ingin menghapus email ini?', callback: function() { deleteEmail($dispatch, email.ID) } })"
                  x-show="emails.length > 1"
                >
                  {{ template "_svg_icon_close" }}
                </button>
              </div>
            </div>
          </template>
        </label>
      </div>
      <label class="block mt-4 text-sm">
        <span class="text-blue-700 dark:text-blue-400">
          <a
            href="#"
            @click="$dispatch('modal', { footer: true, title: 'Tambahkan email', html: $refs.addEmailForm.innerHTML, callback: function() { addEmail($dispatch) } })">
              {{ .l_u_account_add_email }}
          </a></span
        >
      </label>
      <template x-ref="addEmailForm">
        <div
          id="newEmDat"
          x-data="{ newEmail: '' }"
        >
          <input
            class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            x-model="newEmail"
            type="text"
            @keydown.enter="$parent.modalCallback(); $parent.closeModal()"
            placeholder="Email..."
          />
        </div>
      </template>

      <label class="block mt-4 text-sm">
        <span class="text-blue-700 dark:text-blue-400">
          <a href="#" @click="changePassword = !changePassword"
            >{{ .l_u_account_change_password }}</a
          ></span
        >
      </label>
      <div x-show="changePassword !== false">
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_account_password }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="***************"
            type="password"
            x-model="updateData.password"
            @keydown.enter="updateContact($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPassword }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmPassword"
            :class="{'invisible': errPassword == false}"
          >
          </span>
        </label>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">
            {{ .l_u_account_repassword }}
          </span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="***************"
            type="password"
            x-model="updateData.repassword"
            @keydown.enter="updateContact($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errRepassword }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmRepassword"
            :class="{'invisible': errRepassword == false}"
          >
          </span>
        </label>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">
            {{ .l_u_account_oldpassword }}
          </span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="***************"
            type="password"
            x-model="updateData.oldpassword"
            @keydown.enter="updateContact($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errOldpassword }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmOldpassword"
            :class="{'invisible': errOldpassword == false}"
          >
          </span>
        </label>
      </div>

      <button
        type="submit"
        class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        @click="updateContact($dispatch)"
        :disabled="updateSubmitDisable"
        :class="{'cursor-not-allowed opacity-50': updateSubmitDisable }"
        x-text="updateSubmit"
      >
        {{ .l_u_account_update_btn }}
      </button>
    </div>
    <script>
      function updateContact() {
        return {
          firstname: "{{ .user.Firstname }}",
          lastname: "{{ .user.Lastname | maynull }}",
          gender: "{{ .user.Gender }}",
          emails: {{ if not .user.Emails }} [] {{ else }} {{ .user.Emails }} {{ end }},
          phones: {{ if not .user.Phones }} [] {{ else }} {{ .user.Phones }} {{ end }},
          showNotif: false,
          notifStatus: "",
          message: "",
          changePassword: false,
          updateSubmit: "{{ .l_u_account_update_btn }}",
          updateSubmitDisable: false,
          errUsername: false,
          errPassword: false,
          errRepassword: false,
          errOldpassword: false,
          errmUsername: "",
          errmPassword: "",
          errmRepassword: "",
          errmOldpassword: "",
          updateData: {       
            username: '{{ .user.Username | maynull }}',
            password: '',
            repassword: '',
            oldpassword: '',
          },
          updateContact($dispatch) {
            this.updateSubmit = "Loading. . .";
            this.updateSubmitDisable = true;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/update/contact", {
              method: "PATCH",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.updateData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.updateSubmit = {{ .l_u_account_update_btn }}
              this.updateSubmitDisable = false
              if (json.username) {
                this.errUsername = true;
                this.errmUsername = json.username;
              } else {
                this.errUsername = false;
                this.errmUsername = '';
              }
              if (json.password) {
                this.errPassword = true;
                this.errmPassword = json.password;
              } else {
                this.errPassword = false;
                this.errmPassword = '';
              }
              if (json.repassword) {
                this.errRepassword = true;
                this.errmRepassword = json.repassword;
              } else {
                this.errRepassword = false;
                this.errmRepassword = '';
              }
              if (json.oldpassword) {
                this.errOldpassword = true;
                this.errmOldpassword = json.oldpassword;
              } else {
                this.errOldpassword = false;
                this.errmOldpassword = '';
              }
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          deleteEmailData: {
            id: null,
          },
          deleteEmail($dispatch, eid) {
            this.deleteEmailData.id = eid;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/delete/email", {
              method: "DELETE",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.deleteEmailData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.emails = json.emails;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          addEmailData: {
            email: null,
          },
          addEmail($dispatch) {
            email = document.getElementById("newEmDat").__x.$data.newEmail;
            this.addEmailData.email = email;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/add/email", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.addEmailData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.emails = json.emails;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          deletePhoneData: {
            id: null,
          },
          deletePhone($dispatch, pid) {
            this.deletePhoneData.id = pid;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/delete/phone", {
              method: "DELETE",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.deletePhoneData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.phones = json.phones;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          addPhoneData: {
            phone: null,
          },
          addPhone($dispatch) {
            phone = document.getElementById("newPhDat").__x.$data.newPhone;
            this.addPhoneData.phone = phone;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/add/phone", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.addPhoneData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.phones = json.phones;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
        };
      }
    </script>
  </div>

  <!-- User address -->
  <div class="min-w-0 p-4 bg-white sm:rounded-lg shadow-xs dark:bg-gray-800">
    <h3 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
      {{ .l_account_user_address }}
    </h3>
    <div
      x-data="addAddressDetail()"
      x-init="initPlaces($watch)"
    >

      <div x-show="addresses.length > 0">
        <template x-for="(address, index) in addresses" :key="index">
        <dl>
          <div 
            class="cursor-pointer px-4 py-5 border-b border-gray-200 sm:px-6 hover:opacity-50"
            @click="showSelected !== address.ID ? showSelected = address.ID : showSelected = null"
          >
            <h5
              class="leading-6 font-medium text-gray-900"
              x-text="address.name"
            >         
            </h5>
            <p 
              class="mt-1 max-w-2xl text-sm leading-5 text-gray-500"
              x-text="address.description"
            >
            </p>
          </div>
          <div x-show="showSelected == address.ID">
            <div class="bg-gray-50 px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_one }}
              </dt>
              <dd 
                class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.one"
              >
              </dd>
            </div>
            <div
              class="bg-gray-50 px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              x-show="address.two != ''"
            >
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_two }}
              </dt>
              <dd 
                class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.two"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_zip }}
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.zip"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_village }}
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.VillageName"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_district }}
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.DistrictName"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_city }}
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.CityName"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                {{ .l_u_address_show_province }}
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                x-text="address.ProvinceName"
              >
              </dd>
            </div>
            <div class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <p
                class="cursor-pointer text-blue-700"
                x-show="addresses.length > 1"
                @click="$dispatch('modal', { footer: true, title: 'Peringatan!', content:'Apakah yakin ingin menghapus alamat ini?', callback: function() { deleteAddress($dispatch, address.ID) } })"
              >{{ .l_u_address_delete_btn }}</p>
            </div>
          </div>
        </dl>
        </template>
      </div>

      <!-- Tambah address -->
      <label class="block mt-4 text-sm">
        <span class="text-blue-700 dark:text-blue-400">
          <a href="#" @click="addAddressOpen = !addAddressOpen"
            >{{ .l_u_address_add }}</a
          ></span
        >
      </label>
      <div x-show="addAddressOpen">
        <!-- Nama panggilan alamat -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_name }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.name"
            @keydown.enter="addAddress($dispatch)"
            placeholder="Misal 'Rumahku'"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressName }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressName"
            :class="{'invisible': errAddressName == false}"
          >
          </span>
        </label>

        <!-- Deskripsi alamat -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_description }} (opsional)</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.description"
            @keydown.enter="addAddress($dispatch)"
            placeholder="Misal 'Alamat rumah di jampang deket abah'"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressDescription }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressDescription"
            :class="{'invisible': errAddressDescription == false}"
          >
          </span>
        </label>

        <!-- Alamat 1 -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_one }} (kolom ke-2 opsional)</span
          >
          <div class="rounded-md shadow-sm">
            <div>
              <input
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                placeholder="Alamat 1"
                @keydown.enter="addAddress($dispatch)"
                x-model="addAddressData.one"
              >
            </div>
            <div class="-mt-px">
              <input 
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                placeholder="Alamat 2"
                @keydown.enter="addAddress($dispatch)"
                x-model="addAddressData.two"
              >
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressOne"
            :class="{'invisible': errAddressOne == false}"
          >
          </span>
        </label>

        <!-- Kode POS -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_zip }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.zip"
            @keydown.enter="addAddress($dispatch)"
            placeholder="POS"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressZip }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressZip"
            :class="{'invisible': errAddressZip == false}"
          >
          </span>
        </label>

        <!-- Provinsi -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_province }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.province"
            >
              <option value="">Pilih provinsi</option>
              <template x-for="(province, index) in provinces" :key="index">
                <option :value="province.ID" x-text="province.Name"></option>
              </template>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressProvince"
            :class="{'invisible': errAddressProvince == false}"
          >
          </span>
        </label>

        <!-- Kota/Kabupaten -->
        <label 
          class="block mt-4 text-sm"
          x-show="cities.length > 0"
        >
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_city }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.city"
            >
              <option value="">Pilih kota/kabupaten</option>
              <template x-for="(city, index) in cities" :key="index">
                <option :value="city.ID" x-text="city.Name"></option>
              </template>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressCity"
            :class="{'invisible': errAddressCity == false}"
          >
          </span>
        </label>

        <!-- Distrik/Kecamatan -->
        <label 
          class="block mt-4 text-sm"
          x-show="districts.length > 0"
        >
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_district }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.district"
            >
              <option value="">Pilih distrik/kecamatan</option>
              <template x-for="(district, index) in districts" :key="index">
                <option :value="district.ID" x-text="district.Name"></option>
              </template>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressDistrict"
            :class="{'invisible': errAddressDistrict == false}"
          >
          </span>
        </label>

        <!-- Kelurahan/Desa -->
        <label 
          class="block mt-4 text-sm"
          x-show="villages.length > 0"
        >
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_village }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.village"
            >
              <option value="">Pilih kelurahan/desa</option>
              <template x-for="(village, index) in villages" :key="index">
                <option :value="village.ID" x-text="village.Name"></option>
              </template>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressVillage"
            :class="{'invisible': errAddressVillage == false}"
          >
          </span>
        </label>

        <button
          type="submit"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          @click="addAddress($dispatch)"
          :disabled="addAddressDisable"
          :class="{'cursor-not-allowed opacity-50': addAddressDisable }"
          x-text="addAddressBtn"
        >
          {{ .l_u_address_add_btn }}
        </button>
      </div>
    </div>
    <script>
      function addAddressDetail() {
        return {
          showSelected: null,
          addAddressOpen: false,
          errAddressName: false,
          errAddressDescription: false,
          errAddressOne: false,
          errAddressTwo: false,
          errAddressZip: false,
          errAddressProvince: false,
          errAddressCity: false,
          errAddressDistrict: false,
          errAddressVillage: false,
          errmAddressName: '',
          errmAddressDescription: '',
          errmAddressOne: '',
          errmAddressTwo: '',
          errmAddressZip: '',
          errmAddressProvince: '',
          errmAddressCity: '',
          errmAddressDistrict: '',
          errmAddressVillage: '',
          deleteAddressData: {
            id: null,
          },
          deleteAddress($dispatch, pid) {
            this.deleteAddressData.id = pid;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/delete/address", {
              method: "DELETE",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.deleteAddressData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.addresses = json.addresses;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          addAddressData: {
            name: '',
            description: '',
            one: '',
            two: '',
            zip: '',
            province: '',
            city: '',
            district: '',
            village: '',
          },
          addAddressDisable: false,
          addAddressBtn: {{ .l_u_address_add_btn }},
          addresses: {{ if not .addresses }} [] {{ else }} {{ .addresses }} {{ end }},
          addAddress($dispatch) {
            this.addAddressBtn = "Loading. . .";
            this.addAddressDisable = true;
            fetch("/api/v1/local/user/edit/{{ .user.ID }}/add/address", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.addAddressData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.addAddressBtn = {{ .l_u_address_add_btn }}
              this.addAddressDisable = false
              if (json.name) {
                this.errAddressName = true;
                this.errmAddressName = json.name;
              } else {
                this.errAddressName = false;
                this.errmAddressName = '';
              }
              if (json.description) {
                this.errAddressDescription = true;
                this.errmAddressDescription = json.description;
              } else {
                this.errAddressDescription = false;
                this.errmAddressDescription = '';
              }
              if (json.one) {
                this.errAddressOne = true;
                this.errmAddressOne = json.one;
              } else {
                this.errAddressOne = false;
                this.errmAddressOne = '';
              }
              if (json.two) {
                this.errAddressTwo = true;
                this.errmAddressTwo = json.two;
              } else {
                this.errAddressTwo = false;
                this.errmAddressTwo = '';
              }
              if (json.zip) {
                this.errAddressZip = true;
                this.errmAddressZip = json.zip;
              } else {
                this.errAddressZip = false;
                this.errmAddressZip = '';
              }
              if (json.province) {
                this.errAddressProvince = true;
                this.errmAddressProvince = json.province;
              } else {
                this.errAddressProvince = false;
                this.errmAddressProvince = '';
              }
              if (json.city) {
                this.errAddressCity = true;
                this.errmAddressCity = json.city;
              } else {
                this.errAddressCity = false;
                this.errmAddressCity = '';
              }
              if (json.district) {
                this.errAddressDistrict = true;
                this.errmAddressDistrict = json.district;
              } else {
                this.errAddressDistrict = false;
                this.errmAddressDistrict = '';
              }
              if (json.village) {
                this.errAddressVillage = true;
                this.errmAddressVillage = json.village;
              } else {
                this.errAddressVillage = false;
                this.errmAddressVillage = '';
              }
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
                this.addresses = json.addresses
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },    
          initPlaces($watch) {
            $watch('addAddressData.province', (value) => {
              this.addAddressData.city = '';
              this.cities = [];
              if (value != "") {
                this.fetchCities();
              }
            });
            $watch('addAddressData.city', (value) => {
              this.addAddressData.district = '';
              this.districts = [];
              if (value != "") {
                this.fetchDistricts();
              }
            });
            $watch('addAddressData.district', (value) => {
              this.addAddressData.village = '';
              this.villages = [];
              if (value != "") {
                this.fetchVillages();
              }
            });
            this.fetchProvinces();
          },
          provinces: [],
          fetchProvinces() {
            fetch("/api/v1/local/address/provinces", {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.provinces = json.province
            })
            .catch((err) => {
              console.log(err)
            });
          },
          cities: [],
          fetchCities() {
            fetch("/api/v1/local/address/cities/"+this.addAddressData.province, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.cities = json.cities
            })
            .catch((err) => {
              console.log(err)
            });
          },
          districts: [],
          fetchDistricts() {
            fetch("/api/v1/local/address/districts/"+this.addAddressData.city, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.districts = json.districts
            })
            .catch((err) => {
              console.log(err)
            });
          },
          villages: [],
          fetchVillages() {
            fetch("/api/v1/local/address/villages/"+this.addAddressData.district, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.villages = json.villages
            })
            .catch((err) => {
              console.log(err)
            });
          },
        };
      }
    </script>
  </div>
</div>
{{ end }}
