{{ template "base" .}}

<!-- Halaman Tagihan -->
{{ define "dashboard_instalments_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Tagihan
</h2>

<!-- tagihan -->
<div class="w-full px-2 md:px-0 mb-8">
  <div x-data="instalment()" x-init="initWatch($watch, $dispatch)">
    <div class="w-full">
      <!-- Zona -->
      <div class="w-full">
        <div class="w-full md:w-1/4 px-1">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Tanggal</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              type="date"
              x-model="date"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errDate }"
            />
          </label>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmDate"
            :class="{'invisible': errDate == false}"
          >
          </span>
        </div>
        <div class="w-full flex flex-wrap mt-2">
          <template x-if="zones.length > 0">
            <template x-for="zone in zones" :key="zone.ID">
              <div
                class="w-full md:w-1/3 p-1 cursor-pointer rounded-sm hover:bg-green-50"
                @click="if (selectedZone !== zone.ID) { selectedZone = zone.ID; selectedLine = null; }"
              >
                <div
                  class="flex items-center p-4 bg-white rounded-lg shadow-xs hover:bg-gray-50 dark:bg-gray-800"
                >
                  <div
                    class="p-3 mr-4 rounded-full"
                    :class="{'text-orange-500 bg-orange-100': selectedZone == zone.ID, 'text-blue-500 bg-blue-100': selectedZone !== zone.ID }"
                  >
                    {{ template "_svg_icon_globe" }}
                  </div>
                  <div>
                    <p
                      class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                      x-text="`#${zone.Name}`"
                    ></p>
                    <p
                      class="text-xs text-gray-700 dark:text-gray-200"
                      x-text="zone.Collector.Name"
                    ></p>
                  </div>
                </div>
              </div>
            </template>
          </template>
        </div>
        <!-- Arah -->
        <template x-if="lines !== null">
          <div class="w-full px-1">
            <div
              class="w-full overflow-x-auto flex flex-wrap p-2 mt-2 text-sm font-medium text-gray-500 rounded-md shadow-inner bg-blue-50 dark:text-gray-400 dark:bg-gray-900"
            >
              <template x-for="line in lines" :key="line.ID">
                <div
                  class="w-full md:w-1/3 py-1 px-2 cursor-pointer hover:bg-blue-200 hover:text-blue-500"
                  :class="{'text-blue-500': selectedLine == line.ID }"
                  x-text="`#${line.Code} - ${line.Name} (${line.Count})`"
                  @click="if (selectedLine !== line.ID) { selectedLine = line.ID; }"
                ></div>
              </template>
            </div>
          </div>
        </template>

        <!-- Kwitansi -->
        <template x-if="orders !== null">
          <template x-for="order in orders" :key="order.OrderID">
            <div
              x-show="order.OrderInfo.CreditDetail.ZoneLine.ID == selectedLine"
            >
              <div
                class="w-full px-1 cursor-pointer"
                @contextmenu.prevent="order.showall = !order.showall;"
              >
                <template
                  x-for="(receipt, idx) in order.Monthly"
                  :key="receipt.ID"
                >
                  <div class="w-full relative">
                    <template
                      x-if="idx == order.Monthly.length - 1 || order.showall"
                    >
                      <div
                        class="w-full py-1 relative"
                        :class="{'pl-10': order.showall }"
                      >
                        <!-- Garis vertikal -->
                        <div
                          class="absolute"
                          :class="{'h-50': idx == order.Monthly.length - 1, 'h-50 -bottom-1': idx == 0, 'h-full': idx !== order.Monthly.length - 1 && idx > 0 }"
                          style="left: 1rem;"
                          x-show="order.showall"
                        >
                          <div class="border-opacity-20 border-gray-700 h-full border"></div>
                        </div>
                        <div
                          class="w-full flex flex-wrap border p-1"
                          :class="{'bg-white text-black': !receipt.Done && today(receipt.DueDate), 'bg-red-100 text-red-400 border-red-500': !receipt.Done && past(receipt.DueDate) && !today(receipt.DueDate), 'bg-green-100 text-orange-400 border-orange-500': past(receipt.DueDate) && !receipt.Done && receipt.Paid > 0 }"
                        >
                          <div
                            class="w-full relative flex items-center"
                            style="min-height: 80px"
                            :class="{'printed': receipt.Printed }"
                          >
                            <div class="relative z-10">
                              <div
                                class="w-full h-full relative flex items-center flex-wrap"
                              >
                                <!-- Aangsuran ke- dalam bulatan -->
                                <div
                                  class="absolute"
                                  style="left: -2.8rem"
                                  x-show="order.showall"
                                >
                                  <div
                                    class="bg-black text-white font-bold w-8 h-8 flex items-center justify-center rounded-full"
                                    x-text="receipt.Nth"
                                  ></div>
                                </div>
                                <div class="w-full md:w-4/6 flex flex-wrap">
                                  <div class="w-full md:w-2/6 flex flex-wrap">
                                    <div
                                      class="w-1/6 flex items-center justify-center text-2xl"
                                      x-text="receipt.Nth"
                                      x-show="!order.showall"
                                    ></div>
                                    <div
                                      class="flex items-center justify-center px-2"
                                      :class="{'w-5/6': !order.showall, 'w-full': order.showall }"
                                    >
                                      <div class="w-full flex flex-wrap md:block md:flex-no-wrap text-center">
                                        <div
                                          class="w-1/2 md:w-full"
                                          x-text="order.OrderInfo.CreditDetail.CreditCode"
                                        ></div>
                                        <hr />
                                        <div
                                          class="w-1/2 md:w-full"
                                          x-text="`${toRupiah(order.OrderInfo.CreditDetail.Monthly)}`"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="w-full border py-2 md:py-0 md:border-none md:w-4/6 px-2">
                                    <div
                                      x-text="`${itemsToString(order.OrderInfo.Items)}`"
                                    ></div>
                                    <hr />
                                    <div
                                      x-text="order.OrderInfo.BillingAddress"
                                    ></div>
                                  </div>
                                </div>
                                <div class="w-full md:w-2/6 flex flex-wrap">
                                  <div
                                    class="w-3/6 flex items-center justify-center"
                                  >
                                    <div class="w-full px-2 text-center">
                                      <div
                                        class="w-full"
                                        x-text="`${toRupiah(receipt.Paid)}`"
                                      ></div>
                                      <hr />
                                      <div
                                        class="w-full"
                                        x-text="`${toRupiah(order.OrderInfo.CreditDetail.Monthly-receipt.Paid)}`"
                                      ></div>
                                    </div>
                                  </div>
                                  <div
                                    class="w-3/6 flex items-center justify-center"
                                  >
                                    <div class="w-full px-2 text-center">
                                      <div
                                        class="w-full"
                                        x-text="receipt.DueDate"
                                      ></div>
                                      <hr />
                                      <div
                                        class="w-full"
                                        x-text="receipt.PrintDate"
                                      ></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
  <script>
    function instalment() {
      return {
        date: new Date().toISOString().split("T")[0],
        zones: {{ if not .zones }} [] {{ else }} {{ .zones }} {{ end }},
        lines: null,
        orders: null,
        loading: false,
        selectedZone: null,
        selectedLine: null,
        errDate: false,
        errmDate: "",

        initWatch($watch, $dispatch) {
          $watch("date", (value) => {
            if (value !== null) {
              this.fetchData($dispatch);
            }
          });
          $watch("selectedZone", (value) => {
            if (value !== null) {
              this.fetchData($dispatch);
            }
          });
          this.fetchData($dispatch);
        },

        fetchData($dispatch) {
          if (this.selectedZone == null || this.date == "") {
            return;
          }
          this.loading = true;
          fetch(`/api/v1/local/instalment/z/${this.selectedZone}/date/${this.date}`, {
            method: "GET",
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.status == "error") {
                $dispatch("notif", {
                  type: data.status,
                  message: data.message,
                });
              }
              if (data.orders !== null) {
                this.orders = data.orders;
              } else {
                this.orders = null;
              }
              if (data.lines !== null) {
                this.lines = data.lines;
              } else {
                this.lines = null;
              }
            })
            .catch((err) => {
              console.log("fetchData() " + err);
            });
        },
      };
    }
  </script>
</div>
{{ end }}
