{{ template "base" .}}

<!-- Halaman Arah Tagih -->
{{ define "dashboard_locations_lines_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Arah Tagih
</h2>

<!-- Arah Tagih -->
<div class="w-full mb-8">
  <div x-data="line()" x-init="fetchLines($dispatch)" id="line">
    <div class="w-full">
      <!-- Tambah arah -->
      <div class="w-full flex flex-wrap">
        <div class="w-full p-2 lg:w-4/6">
          <div class="w-full">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Tambah Arah</span>
              <div class="w-full flex flex-wrap">
                <div class="w-1/6 pr-1">
                  <input
                    class="block w-full mt-1 pr-10 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="newLine.code"
                    placeholder="Kode"
                    @keydown.enter="addLine($dispatch)"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCode }"
                  />
                </div>
                <div class="w-5/6 relative pl-1">
                  <input
                    class="block w-full mt-1 pr-10 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="newLine.name"
                    placeholder="Nama arah"
                    @keydown.enter="addLine($dispatch)"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errName }"
                  />
                  <div class="absolute inset-y-0 right-0 flex">
                    <button
                      class="px-4 text-xl font-black leading-5 text-blue-500 transition-colors duration-150 hover:text-blue-700 focus:text-blue-600 focus:outline-none focus:shadow-outline-none"
                      @click="addLine($dispatch)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmAddLine"
              :class="{'invisible': errCode == false && errName == false}"
            >
            </span>
          </div>
        </div>
      </div>

      <!-- Tampilkan list arah -->
      <template x-if="lines.length > 0">
        <div class="w-full flex flex-wrap">
          <div class="p-2">
            <label class="block text-sm">
              <span class="block mb-2 text-gray-700 dark:text-gray-400"
                >Daftar Arah</span
              >
              <template x-for="line in lines" :key="line.ID">
                <span
                  class="inline-block cursor-pointer rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2"
                  :class="{'bg-red-300 text-red-500 select-none': selectedLine == line.ID, 'bg-orange-300 text-orange-500': selectedLine !== line.ID }"
                  x-text="`${line.Code} - ${line.Name} ${getCount(line.Count)}`"
                  @dblclick="if (selectedLine == line.ID) { deleteLine($dispatch, line.ID); }"
                  @contextmenu.prevent="if (selectedLine !== line.ID) { selectedLine = line.ID; } else { selectedLine = null; }"
                ></span>
              </template>
            </label>
          </div>
        </div>
      </template>
    </div>
  </div>
  <script>
    function line() {
      return {
        lines: [],
        newLine: {
          code: "",
          name: "",
        },
        selectedLine: null,
        errCode: false,
        errmCode: "",
        errName: false,
        errmName: "",
        get errmAddLine() {
          errmess = "";
          if (this.errCode) {
            errmess = `Kode ${this.errmCode}`;
          }
          if (this.errName) {
            if (this.errCode) {
              errmess = `${errmess},`;
            }
            errmess = `${errmess} Nama ${this.errmName}`;
          }
          return errmess;
        },
        getCount(count) {
          retc = "";
          if (count > 0) {
            retc = `(${count})`;
          }

          return retc;
        },
        addLine($dispatch) {
          fetch("/api/v1/local/line/new", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(this.newLine),
          })
            .then((res) => res.json())
            .then((json) => {
              if (json.code) {
                this.errCode = true;
                this.errmCode = json.code;
              } else {
                this.errCode = false;
                this.errmCode = "";
              }
              if (json.name) {
                this.errName = true;
                this.errmName = json.name;
              } else {
                this.errName = false;
                this.errmName = "";
              }
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }

              if (json.lines != null) {
                this.lines = json.lines;
              }
            })
            .catch((err) => {
              console.log("addLine() " + err);
            });
        },
        fetchLines($dispatch) {
          fetch(`/api/v1/local/line/list`, {
            method: "GET",
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.message != "") {
                $dispatch("notif", {
                  type: data.status,
                  message: data.message,
                });
              }
              if (data.lines) {
                this.lines = data.lines;
              }
            })
            .catch((err) => {
              console.log("Telah terjadi kesalahan saat memuat data arah ");
              console.warn(err);
            });
        },
        deleteLine($dispatch, lid) {
          fetch(`/api/v1/local/line/edit/${lid}/delete`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.lines !== null) {
                this.lines = json.lines;
              }
            })
            .catch((err) => {
              console.log("Error: deleteLine() " + err);
            });
        },
      };
    }
  </script>
</div>
{{ end }}
