{{ template "base" .}} {{ define "dashboard_products_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Data Produk Barang
</h2>

<!-- Daftar Produk -->
<div
  x-data="ProductData()"
  x-init="fetchInit($watch, $dispatch)"
  class="w-full mb-8 overflow-hidden rounded-lg shadow-xs"
>
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">No</th>
          <th class="px-4 py-3">Nama Barang</th>
          <th class="px-4 py-3">Harga Beli</th>
          <th class="px-4 py-3">Harga Jual</th>
          <th class="px-4 py-3">Tanggal Ditambahkan</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="(product, index) in products" :key="index">
          <tr
            class="text-gray-700 dark:text-gray-400 hover:opacity-50 cursor-pointer"
            @click="$dispatch('modal', { tmp: product.ID, init: function() { fetchById($dispatch, product.ID) }, title: 'Detail data produk/barang', html: $refs.productDetail.innerHTML, callback: function() { alert('Fungsi belum di implementasikan') } });"
          >
            <td class="px-3 py-3 text-sm" x-text="index + loaded + 1"></td>
            <td class="px-1 py-3">
              <div class="flex items-center text-sm">
                <!-- Tampilkan avatar -->
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    :src="'/file/product/no-photo.png'"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold" x-text="product.Name"></p>
                  <p
                    class="text-xs text-gray-600 dark:text-gray-400"
                    x-text="product.Code"
                  ></p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm" x-text="product.BasePrice"></td>
            <td class="px-4 py-3 text-sm" x-text="product.Price"></td>
            <td class="px-4 py-3 text-sm" x-text="product.CreatedAt"></td>
          </tr>
        </template>
        <template x-ref="productDetail">
          <div
            id="productIdInfo"
            x-init="fetchById($dispatch)"
            x-data="fProDetail($parent)"
          >
            <!-- Photo produk -->
            <div class="w-full h-48 flex flex-col justify-center items-center">
              <div class="w-full relative">
                <!-- Slide photo -->
                <template x-for="(photo, index) in photos" :key="index">
                  <div
                    x-show="activeSlide === index + 1"
                    class="h-48 w-full flex items-center rounded-lg"
                  >
                    <div class="relative w-full h-full">
                      <img
                        class="object-scale-down w-full h-full"
                        :src="'/file/product/'+photo.Photo"
                        alt=""
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>
                  </div>
                </template>
                <!-- Prev/Next Arrows -->
                <div class="absolute inset-0 flex">
                  <div class="flex items-center justify-start w-1/2">
                    <button
                      class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6"
                      x-on:click="activeSlide = activeSlide === 1 ? photos.length : activeSlide - 1"
                    >
                      &#8592;
                    </button>
                  </div>
                  <div class="flex items-center justify-end w-1/2">
                    <button
                      class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow rounded-full w-12 h-12 -mr-6"
                      x-on:click="activeSlide = activeSlide === photos.length ? 1 : activeSlide + 1"
                    >
                      &#8594;
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full md:w-1/2 md:pr-3">
                <label class="block mt-4 text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400">Nama</span>
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.Name"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.Name"
                  />
                </label>
              </div>
              <div class="w-full md:w-1/2 md:pl-3">
                <label class="block mt-4 text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400">Kode</span>
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.Code"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.Code"
                  />
                </label>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full md:w-1/2 md:pr-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400">Tipe</span>
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.Type"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.Type"
                  />
                </label>
              </div>
              <div class="w-full md:w-1/2 md:pl-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400">Brand</span>
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.Brand"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.Brand"
                  />
                </label>
              </div>
            </div>

            <label class="block text-sm mb-2">
              <span class="text-gray-700 dark:text-gray-400"
                >Ditambahkan pada</span
              >
              <input
                class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                x-model="product.CreatedAt"
                @keydown.enter="$parent.modalCallback();"
                disabled
                :title="product.CreatedAt"
              />
            </label>

            <div class="flex flex-wrap">
              <div class="w-full md:w-1/2 md:pr-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Beli</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.BasePrice"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.BasePrice"
                  />
                </label>
              </div>
              <div class="w-full md:w-1/2 md:pl-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Jual</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.Price"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.Price"
                  />
                </label>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full md:w-1/2 md:pr-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Kredit 6x</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.CreditSix"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.CreditSix"
                  />
                </label>
              </div>
              <div class="w-full md:w-1/2 md:pl-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Kredit 8x</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.CreditEight"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.CreditEight"
                  />
                </label>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full md:w-1/2 md:pr-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Kredit 10x</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.CreditTen"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.CreditTen"
                  />
                </label>
              </div>
              <div class="w-full md:w-1/2 md:pl-3">
                <label class="block text-sm mb-2">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Harga Kredit 12x</span
                  >
                  <input
                    class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    x-model="product.CreditTwelve"
                    @keydown.enter="$parent.modalCallback();"
                    disabled
                    :title="product.CreditTwelve"
                  />
                </label>
              </div>
            </div>

            <label class="block text-sm mb-2">
              <span class="text-gray-700 dark:text-gray-400"
                >Harga Kredit 15x</span
              >
              <input
                class="cursor-not-allowed opacity-50 block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                x-model="product.CreditFifteen"
                @keydown.enter="$parent.modalCallback();"
                disabled
                :title="product.CreditFifteen"
              />
            </label>
          </div>
        </template>
        <script>
          function fProDetail($parent) {
            return {
              init: $parent.modalInit,
              id: $parent.modalTmp,
              product: [],
              activeSlide: 1,
              photos: [
                {
                  ID: 0,
                  Photo: "no-photo.png",
                },
              ],
              fetchById($dispatch) {
                var product = [];
                fetch(`/api/v1/local/product/id/${this.id}`, {
                  method: "GET",
                })
                  .then((res) => res.json())
                  .then((json) => {
                    if (json.error) {
                      $dispatch("notif", {
                        type: "error",
                        message: json.error,
                      });
                    }

                    if (json.product == null) {
                      $dispatch("notif", {
                        type: "error",
                        message:
                          "Sepertinya telah terjadi kesalahan saat memuat data produk",
                      });
                    } else {
                      this.product = json.product;
                      if (json.product.Photos != null) {
                        this.photos = json.product.Photos;
                      } else {
                        this.photos = [
                          {
                            ID: 0,
                            Photo: "no-photo.png",
                          },
                        ];
                      }
                    }
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              },
            };
          }
        </script>
      </tbody>
    </table>
  </div>
  <div
    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
  >
    <span
      class="flex items-center justify-center sm:justify-start col-span-10 sm:col-span-1"
    >
      <div class="relative">
        <select
          class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
          x-model="limit"
        >
          <option value="">Jumlah per halaman</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          {{ template "_svg_icon_arrow_bottom" }}
        </div>
      </div>
    </span>
    <span class="flex items-center col-span-10 sm:col-span-7 justify-center">
      Total
      <div x-text="total" class="px-1"></div>
      -
      <div class="px-1"></div>
      Halaman
      <div x-text="page" class="px-1"></div>
    </span>
    <!-- Pagination -->
    <span
      class="flex justify-center col-span-10 sm:col-span-1 mt-2 sm:mt-auto sm:justify-end"
    >
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <!-- Backwaard -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Previous"
              @click="backW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': page <= 1 || loading == true}"
              :disabled="page <= 1 || loading == true"
            >
              <svg
                aria-hidden="true"
                class="w-4 h-4 fill-current"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
          <!-- Forward -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Next"
              @click="forW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': last == true || loading == true}"
              :disabled="last == true || loading == true"
            >
              <svg
                class="w-4 h-4 fill-current"
                aria-hidden="true"
                viewBox="0 0 20 20"
              >
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>

<script>
  function ProductData() {
    return {
      fetchInit($watch, $dispatch) {
        $watch("limit", (value) => {
          if (value != "") {
            this.products = [];
            this.page = 1;
            this.loaded = 0;
            this.fetchProductsData($dispatch, true, "init");
          }
        });
        this.fetchProductsData($dispatch, true, "init");
      },
      products: [],
      loading: false,
      lastid: 0,
      limit: 10,
      productType: "all",
      loaded: 0,
      last: false,
      page: 1,
      total: 0,
      fetchProductsData($dispatch, reset, go) {
        this.loading = true;
        if (reset) {
          this.lastid = 0;
        }
        if (go == "back") {
          ffrom = `/api/v1/local/product/list/${this.limit}?lastid=${this.lastid}&direction=back&role=${this.productType}`;
        } else {
          ffrom = `/api/v1/local/product/list/${this.limit}?lastid=${this.lastid}&direction=next&role=${this.productType}`;
        }
        fetch(ffrom, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            this.loading = false;
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.products != null) {
              this.products = json.products;
              this.lastid = json.lastid;
              this.last = json.last;
              this.total = json.total;

              if (go == "back") {
                this.page = Number(this.page) - 1;
                this.loaded -= 10;
              } else if (go == "next") {
                this.page = Number(this.page) + 1;
                this.loaded += 10;
              }
            } else {
              this.last = true;
              $dispatch("notif", {
                type: "error",
                message: "Tidak ada data produk/barang yang bisa ditampilkan",
              });
            }
          })
          .catch((err) => {
            console.log(err);
            this.loading = false;
          });
      },
      backW($dispatch) {
        if (this.page > 1) {
          this.fetchProductsData($dispatch, false, "back");
        }
      },
      forW($dispatch) {
        this.fetchProductsData($dispatch, false, "next");
      },
    };
  }
</script>
{{ end }}
