{{ template "base" .}} {{ define "dashboard_users_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Data Pengguna
</h2>

<!-- Daftar Pengguna -->
<div
  x-data="UserData()"
  x-init="fetchInit($watch, $dispatch)"
  class="w-full mb-8 overflow-hidden rounded-lg shadow-xs"
  id="user_data"
>
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">No</th>
          <th class="px-4 py-3">Nama Lengkap</th>
          <th class="px-4 py-3">Kode</th>
          <th class="px-4 py-3">Saldo</th>
          <th class="px-4 py-3">Tanggal Ditambahkan</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="(user, index) in users" :key="index">
          <tr
            class="text-gray-700 dark:text-gray-400 hover:bg-yellow-50 cursor-pointer"
            @click="$dispatch('modal', { tmp: user.ID, html: $refs.userDetail.innerHTML });"
          >
            <td class="px-3 py-3 text-sm" x-text="index + loaded + 1"></td>
            <td class="px-1 py-3">
              <div class="flex items-center text-sm">
                <!-- Tampilkan avatar -->
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    :src="'/file/profile/thumbnail/'+user.Avatar"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p
                    class="font-semibold"
                    x-text="user.Firstname+' '+user.Lastname"
                  ></p>
                  <p
                    class="text-xs text-gray-600 dark:text-gray-400"
                    x-text="user.Role"
                  ></p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm" x-text="user.Username"></td>
            <td class="px-4 py-3 text-sm" x-text="user.Balance"></td>
            <td class="px-4 py-3 text-sm" x-text="user.CreatedAt"></td>
          </tr>
        </template>
        <template x-ref="userDetail">
          <div
            x-init="watchData($watch, $dispatch); fetchById($dispatch);"
            x-data="fUseDetail($parent)"
            id="user_detail"
          >
            <div
              class="absolute top-0 mt-4 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
              x-text="'Kode #'+user.Username"
            ></div>
            <!-- Photo pengguna -->
            <div
              class="w-full h-48 flex flex-col justify-center items-center"
              x-show="typeof user.Avatar !== 'undefined'"
            >
              <div class="w-full relative">
                <div class="h-48 w-full flex items-center rounded-lg">
                  <div
                    class="relative cursor-pointer w-full h-full"
                    @click="$dispatch('preview', {
                    html: '<img @click=\'closePreview()\' src=\'/file/profile/'+user.Avatar+'\' class=\'object-scale-down object w-full h-full\' />',
                    });"
                  >
                    <img
                      class="object-scale-down w-full h-full object"
                      :src="'/file/profile/'+user.Avatar"
                      alt=""
                      loading="lazy"
                    />
                    <div
                      class="absolute inset-0 shadow-inner"
                      aria-hidden="true"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">ID Unik</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Kartu Keluarga
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.FamilyCardNumber != ''"
                  x-text="user.FamilyCardNumber"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.FamilyCardNumber == ''"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Induk Kependudukan
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.RIC != ''"
                  x-text="user.RIC"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.RIC == ''"
                >
                  -
                </dd>
              </div>
            </dl>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">Informasi Pengguna</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nama Lengkap
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.Firstname + ' ' + user.Lastname"
                ></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Jenis Kelamin
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Gender == 'm'"
                >
                  Laki-Laki
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Gender == 'f'"
                >
                  Perempuan
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Pekerjaan
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Occupation != ''"
                  x-text="user.Occupation"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Occupation == ''"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Saldo
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.Balance"
                ></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Peran
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
                  <select x-model="setRole">
                    <template x-for="(name, index) in role" :key="index">
                      <option :value="index" x-text="name"></option>
                    </template>
                  </select>
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Terdaftar Pada
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.CreatedAt"
                ></dd>
              </div>
            </dl>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">Informasi Kontak</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Email
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="emails.length > 0"
                >
                  <template x-for="(email, index) in emails" :key="index">
                    <p x-text="email.Email"></p>
                  </template>
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="emails.length == 0"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Telepon
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="phones.length > 0"
                >
                  <template x-for="(phone, index) in phones" :key="index">
                    <p x-text="phone.Phone"></p>
                  </template>
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="phones.length == 0"
                >
                  -
                </dd>
              </div>
            </dl>

            <table class="w-full whitespace-no-wrap table-auto">
              <thead>
                <tr
                  class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                >
                  <th class="px-3 py-3">Informasi Alamat</th>
                  <th class="px-4 py-3"></th>
                </tr>
              </thead>

              <!-- Informasi alamat -->
              <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
                <template x-for="(address, index) in addresses" :key="index">
                  <tr
                    class="cursor-pointer text-gray-600 dark:text-gray-400 hover:bg-green-100"
                    @click="if (delAddr != index) { delAddr = index; }"
                    @contextmenu.prevent="if (delAddr == index ) { delAddr = null; }"
                  >
                    <td class="px-4 py-1 align-top">
                      <div class="relative">
                        <div class="flex items-center text-sm">
                          <div x-show="delAddr != index">
                            <p class="font-semibold" x-text="address.name"></p>
                            <p
                              class="text-xs text-gray-500 dark:text-gray-400"
                              x-text="address.description"
                            ></p>
                          </div>
                          <div
                            class="inset-0 absolute"
                            x-show="delAddr == index"
                          >
                            <button
                              class="block mx-auto my-2 shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white text-xs py-1 px-5 rounded"
                              @click="delAddrBtn = index; toDelAddr($dispatch, address.ID);"
                              :class="{'disable cursor-not-allowed': delAddrBtn == index }"
                            >
                              Hapus
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-4 py-1 text-sm whitespace-normal break-words align-top"
                      x-text="address.one + address.two + ', ' + address.VillageName + ', ' + address.DistrictName + ', ' + address.CityName + ', ' + address.ProvinceName + ', ' +address.zip"
                    ></td>
                  </tr>
                </template>

                <!-- Alamat belum di set -->
                <tr
                  class="text-gray-700 dark:text-gray-400"
                  x-show="addresses.length == 0"
                >
                  <td
                    class="px-4 py-1 text-sm leading-5 font-medium text-gray-500"
                  >
                    Tidak ada alamat
                  </td>
                  <td></td>
                </tr>

                <!-- Tombol tambah alamat -->
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-1 text-sm align-top">
                    <span class="text-blue-700 dark:text-blue-400">
                      <a
                        href="#"
                        @click="Aao()"
                        x-text="isAao ? '{{ .l_u_address_remove }}' : '{{ .l_u_address_add }}'"
                        :class="{ 'text-red-500': isAao }"
                      ></a
                    ></span>
                  </td>
                  <td
                    class="px-4 py-1 text-sm whitespace-normal break-words align-top"
                  >
                    <!-- KOMPONEN TAMBAH ALAMAT -->
                    <!-- Tambah alamat -->
                    <div
                      x-data="addAddressDetail()"
                      x-init="initPlaces($watch)"
                      id="address"
                    >
                      <!-- Tambah address -->
                      <div x-show="addAddressOpen">
                        <!-- Nama panggilan alamat -->
                        <label class="block mt-4 text-sm">
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_name }}</span
                          >
                          <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="text"
                            x-model="addAddressData.name"
                            @keydown.enter="addAddress($dispatch)"
                            placeholder="Misal 'Rumahku'"
                            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressName }"
                          />
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressName"
                            :class="{'invisible': errAddressName == false}"
                          >
                          </span>
                        </label>

                        <!-- Deskripsi alamat -->
                        <label class="block mt-4 text-sm">
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_description }} (opsional)</span
                          >
                          <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="text"
                            x-model="addAddressData.description"
                            @keydown.enter="addAddress($dispatch)"
                            placeholder="Misal 'Alamat rumah di jampang deket abah'"
                            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressDescription }"
                          />
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressDescription"
                            :class="{'invisible': errAddressDescription == false}"
                          >
                          </span>
                        </label>

                        <!-- Alamat 1 -->
                        <label class="block mt-4 text-sm">
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_one }} (kolom ke-2 opsional)</span
                          >
                          <div class="rounded-md shadow-sm">
                            <div>
                              <input
                                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                                placeholder="Alamat 1"
                                @keydown.enter="addAddress($dispatch)"
                                x-model="addAddressData.one"
                              />
                            </div>
                            <div class="-mt-px">
                              <input
                                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                                placeholder="Alamat 2"
                                @keydown.enter="addAddress($dispatch)"
                                x-model="addAddressData.two"
                              />
                            </div>
                          </div>
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressOne"
                            :class="{'invisible': errAddressOne == false}"
                          >
                          </span>
                        </label>

                        <!-- Kode POS -->
                        <label class="block mt-4 text-sm">
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_zip }}</span
                          >
                          <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            type="text"
                            x-model="addAddressData.zip"
                            @keydown.enter="addAddress($dispatch)"
                            placeholder="POS"
                            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressZip }"
                          />
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressZip"
                            :class="{'invisible': errAddressZip == false}"
                          >
                          </span>
                        </label>

                        <!-- Provinsi -->
                        <label class="block mt-4 text-sm">
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_province }}</span
                          >
                          <div class="relative">
                            <select
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              x-model="addAddressData.province"
                            >
                              <option value="">Pilih provinsi</option>
                              <template
                                x-for="(province, index) in provinces"
                                :key="index"
                              >
                                <option
                                  :value="province.ID"
                                  x-text="province.Name"
                                ></option>
                              </template>
                            </select>
                            <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                            >
                              {{ template "_svg_icon_arrow_bottom" }}
                            </div>
                          </div>
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressProvince"
                            :class="{'invisible': errAddressProvince == false}"
                          >
                          </span>
                        </label>

                        <!-- Kota/Kabupaten -->
                        <label
                          class="block mt-4 text-sm"
                          x-show="cities.length > 0"
                        >
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_city }}</span
                          >
                          <div class="relative">
                            <select
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              x-model="addAddressData.city"
                            >
                              <option value="">Pilih kota/kabupaten</option>
                              <template
                                x-for="(city, index) in cities"
                                :key="index"
                              >
                                <option
                                  :value="city.ID"
                                  x-text="city.Name"
                                ></option>
                              </template>
                            </select>
                            <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                            >
                              {{ template "_svg_icon_arrow_bottom" }}
                            </div>
                          </div>
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressCity"
                            :class="{'invisible': errAddressCity == false}"
                          >
                          </span>
                        </label>

                        <!-- Distrik/Kecamatan -->
                        <label
                          class="block mt-4 text-sm"
                          x-show="districts.length > 0"
                        >
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_district }}</span
                          >
                          <div class="relative">
                            <select
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              x-model="addAddressData.district"
                            >
                              <option value="">Pilih distrik/kecamatan</option>
                              <template
                                x-for="(district, index) in districts"
                                :key="index"
                              >
                                <option
                                  :value="district.ID"
                                  x-text="district.Name"
                                ></option>
                              </template>
                            </select>
                            <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                            >
                              {{ template "_svg_icon_arrow_bottom" }}
                            </div>
                          </div>
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressDistrict"
                            :class="{'invisible': errAddressDistrict == false}"
                          >
                          </span>
                        </label>

                        <!-- Kelurahan/Desa -->
                        <label
                          class="block mt-4 text-sm"
                          x-show="villages.length > 0"
                        >
                          <span class="text-gray-700 dark:text-gray-400"
                            >{{ .l_u_address_village }}</span
                          >
                          <div class="relative">
                            <select
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              x-model="addAddressData.village"
                            >
                              <option value="">Pilih kelurahan/desa</option>
                              <template
                                x-for="(village, index) in villages"
                                :key="index"
                              >
                                <option
                                  :value="village.ID"
                                  x-text="village.Name"
                                ></option>
                              </template>
                            </select>
                            <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                            >
                              {{ template "_svg_icon_arrow_bottom" }}
                            </div>
                          </div>
                          <span
                            class="text-xs text-red-600 dark:text-red-400"
                            x-text="errmAddressVillage"
                            :class="{'invisible': errAddressVillage == false}"
                          >
                          </span>
                        </label>

                        <button
                          type="submit"
                          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                          @click="addAddress($dispatch)"
                          :disabled="addAddressDisable"
                          :class="{'cursor-not-allowed opacity-50': addAddressDisable }"
                          x-text="addAddressBtn"
                        >
                          {{ .l_u_address_add_btn }}
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>

        <script>
          function addAddressDetail() {
            return {
              uid: null,
              showSelected: null,
              addAddressOpen: false,
              errAddressName: false,
              errAddressDescription: false,
              errAddressOne: false,
              errAddressTwo: false,
              errAddressZip: false,
              errAddressProvince: false,
              errAddressCity: false,
              errAddressDistrict: false,
              errAddressVillage: false,
              errmAddressName: '',
              errmAddressDescription: '',
              errmAddressOne: '',
              errmAddressTwo: '',
              errmAddressZip: '',
              errmAddressProvince: '',
              errmAddressCity: '',
              errmAddressDistrict: '',
              errmAddressVillage: '',
              deleteAddressData: {
                id: null,
              },
              deleteAddress($dispatch, pid) {
                this.deleteAddressData.id = pid;
                fetch(`/api/v1/local/user/edit/${this.uid}/delete/address`, {
                  method: "DELETE",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify(this.deleteAddressData),
                })
                .then((res) => res.json())
                .then((json) => {
                  user = document.getElementById("user_detail").__x.$data;
                  user.addresses = json.addresses;
                  if (json.error) {
                    $dispatch('notif', {type: 'error', message: json.error});
                  } else if (json.success) {
                    $dispatch('notif', {type: 'success', message: json.success});
                  }
                })
                .catch((err) => {
                  console.log(err)
                });
              },
              addAddressData: {
                name: '',
                description: '',
                one: '',
                two: '',
                zip: '',
                province: '',
                city: '',
                district: '',
                village: '',
              },
              addAddressDisable: true,
              addAddressBtn: {{ .l_u_address_add_btn }},
              addAddress($dispatch) {
                this.addAddressBtn = "Loading. . .";
                this.addAddressDisable = true;
                fetch(`/api/v1/local/user/edit/${this.uid}/add/address`, {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify(this.addAddressData),
                })
                .then((res) => res.json())
                .then((json) => {
                  this.addAddressBtn = {{ .l_u_address_add_btn }}
                  this.addAddressDisable = false
                  if (json.name) {
                    this.errAddressName = true;
                    this.errmAddressName = json.name;
                  } else {
                    this.errAddressName = false;
                    this.errmAddressName = '';
                  }
                  if (json.description) {
                    this.errAddressDescription = true;
                    this.errmAddressDescription = json.description;
                  } else {
                    this.errAddressDescription = false;
                    this.errmAddressDescription = '';
                  }
                  if (json.one) {
                    this.errAddressOne = true;
                    this.errmAddressOne = json.one;
                  } else {
                    this.errAddressOne = false;
                    this.errmAddressOne = '';
                  }
                  if (json.two) {
                    this.errAddressTwo = true;
                    this.errmAddressTwo = json.two;
                  } else {
                    this.errAddressTwo = false;
                    this.errmAddressTwo = '';
                  }
                  if (json.zip) {
                    this.errAddressZip = true;
                    this.errmAddressZip = json.zip;
                  } else {
                    this.errAddressZip = false;
                    this.errmAddressZip = '';
                  }
                  if (json.province) {
                    this.errAddressProvince = true;
                    this.errmAddressProvince = json.province;
                  } else {
                    this.errAddressProvince = false;
                    this.errmAddressProvince = '';
                  }
                  if (json.city) {
                    this.errAddressCity = true;
                    this.errmAddressCity = json.city;
                  } else {
                    this.errAddressCity = false;
                    this.errmAddressCity = '';
                  }
                  if (json.district) {
                    this.errAddressDistrict = true;
                    this.errmAddressDistrict = json.district;
                  } else {
                    this.errAddressDistrict = false;
                    this.errmAddressDistrict = '';
                  }
                  if (json.village) {
                    this.errAddressVillage = true;
                    this.errmAddressVillage = json.village;
                  } else {
                    this.errAddressVillage = false;
                    this.errmAddressVillage = '';
                  }
                  if (json.error) {
                    $dispatch('notif', {type: 'error', message: json.error});
                  } else if (json.success) {
                    $dispatch('notif', {type: 'success', message: json.success});
                    // meneruskan hasil (alamat) ke modal user
                    document.getElementById("user_detail").__x.$data.addresses =
                        json.addresses;
                  }
                })
                .catch((err) => {
                  console.log(err);
                });
              },
              initPlaces($watch) {
                $watch('addAddressData.province', (value) => {
                  this.addAddressData.city = '';
                  this.cities = [];
                  if (value != "") {
                    this.fetchCities();
                  }
                });
                $watch('addAddressData.city', (value) => {
                  this.addAddressData.district = '';
                  this.districts = [];
                  if (value != "") {
                    this.fetchDistricts();
                  }
                });
                $watch('addAddressData.district', (value) => {
                  this.addAddressData.village = '';
                  this.villages = [];
                  if (value != "") {
                    this.fetchVillages();
                  }
                });
                this.fetchProvinces();
              },
              provinces: [],
              fetchProvinces() {
                fetch("/api/v1/local/address/provinces", {
                  method: "GET",
                })
                .then((res) => res.json())
                .then((json) => {
                  this.provinces = json.province
                })
                .catch((err) => {
                  console.log(err)
                });
              },
              cities: [],
              fetchCities() {
                fetch("/api/v1/local/address/cities/"+this.addAddressData.province, {
                  method: "GET",
                })
                .then((res) => res.json())
                .then((json) => {
                  this.cities = json.cities
                })
                .catch((err) => {
                  console.log(err)
                });
              },
              districts: [],
              fetchDistricts() {
                fetch("/api/v1/local/address/districts/"+this.addAddressData.city, {
                  method: "GET",
                })
                .then((res) => res.json())
                .then((json) => {
                  this.districts = json.districts
                })
                .catch((err) => {
                  console.log(err)
                });
              },
              villages: [],
              fetchVillages() {
                fetch("/api/v1/local/address/villages/"+this.addAddressData.district, {
                  method: "GET",
                })
                .then((res) => res.json())
                .then((json) => {
                  this.villages = json.villages
                })
                .catch((err) => {
                  console.log(err)
                });
              },
            };
          }
        </script>

        <script>
          function fUseDetail($parent) {
            return {
              watchData($watch, $dispatch) {
                $watch("setRole", (value) => {
                  if (this.counter > 0) {
                    this.updateRole($dispatch, this.id, value);
                  }
                });
              },
              id: $parent.modalTmp,
              user: [],
              emails: [],
              phones: [],
              addresses: [],
              role: [
                "Dev",
                "Admin",
                "Collector",
                "Driver",
                "Surveyor",
                "Sales",
                "Customer",
              ],
              // Set role sesuai dengan data saat fetch
              setRole: null,
              // untuk counter agar role tidak selalu di watch
              counter: 0,
              // ID/index alamat yang akan dihapus
              delAddr: null,
              delAddrBtn: null,
              // Alamat yang akan dihapus
              toDelAddr($dispatch, addrid) {
                address = document.getElementById("address").__x.$data;
                address.deleteAddress($dispatch, addrid);
              },

              fetchById($dispatch) {
                fetch(`/api/v1/local/user/id/${this.id}`, {
                  method: "GET",
                })
                  .then((res) => res.json())
                  .then((json) => {
                    if (json.error) {
                      $dispatch("notif", {
                        type: "error",
                        message: json.error,
                      });
                    }

                    if (json.user == null) {
                      $dispatch("notif", {
                        type: "error",
                        message:
                          "Sepertinya telah terjadi kesalahan saat memuat data pengguna",
                      });
                    } else {
                      this.user = json.user;
                      this.setRole = json.user.Role;
                      for (i = 0; i < this.role.length; i++) {
                        if (this.role[i] == json.user.Role) {
                          this.setRole = i;
                        }
                      }
                      if (json.user.Emails) {
                        this.emails = json.user.Emails;
                      }
                      if (json.user.Phones) {
                        this.phones = json.user.Phones;
                      }
                      if (json.user.Addresses) {
                        this.addresses = json.user.Addresses;
                      }
                      this.counter += 1;

                      document.getElementById("address").__x.$data.uid =
                        json.user.ID;
                      document.getElementById(
                        "address"
                      ).__x.$data.addAddressDisable = false;
                    }
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              },
              updateRole($dispatch, uid, role) {
                fetch(
                  `/api/v1/local/user/edit/${uid}/update/role?set=${role}`,
                  {
                    method: "PATCH",
                  }
                )
                  .then((res) => res.json())
                  .then((json) => {
                    if (json.error) {
                      $dispatch("notif", {
                        type: "error",
                        message: json.error,
                      });
                    }
                    if (json.success) {
                      $dispatch("notif", {
                        type: "success",
                        message: "Peran pengguna berhasil diubah",
                      });
                      user = document.getElementById("user_data").__x.$data;
                      user.fetchUsersData($dispatch, false, "next", true);
                    }
                  })
                  .catch((err) => {
                    console.log("Error: updateRole() " + err);
                  });
              },
              isAao: false,
              Aao() {
                document.getElementById(
                  "address"
                ).__x.$data.addAddressOpen = !document.getElementById("address")
                  .__x.$data.addAddressOpen;
                this.isAao = document.getElementById(
                  "address"
                ).__x.$data.addAddressOpen;
              },
            };
          }
        </script>
      </tbody>
    </table>
  </div>
  <div
    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
  >
    <span
      class="flex items-center justify-center sm:justify-start col-span-10 sm:col-span-1"
    >
      <div class="relative">
        <select
          class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
          x-model="limit"
        >
          <option value="">Jumlah per halaman</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          {{ template "_svg_icon_arrow_bottom" }}
        </div>
      </div>
    </span>
    <span class="flex items-center col-span-10 sm:col-span-7 justify-center">
      Total
      <div x-text="total" class="px-1"></div>
      -
      <div class="px-1"></div>
      Halaman
      <div x-text="page" class="px-1"></div>
    </span>
    <!-- Pagination -->
    <span
      class="flex justify-center col-span-10 sm:col-span-1 mt-2 sm:mt-auto sm:justify-end"
    >
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <!-- Backwaard -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Previous"
              @click="backW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': page <= 1 || loading == true}"
              :disabled="page <= 1 || loading == true"
            >
              <svg
                aria-hidden="true"
                class="w-4 h-4 fill-current"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
          <!-- Forward -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Next"
              @click="forW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': last == true || loading == true}"
              :disabled="last == true || loading == true"
            >
              <svg
                class="w-4 h-4 fill-current"
                aria-hidden="true"
                viewBox="0 0 20 20"
              >
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>

<script>
  function UserData() {
    return {
      fetchInit($watch, $dispatch) {
        $watch("limit", (value) => {
          if (value != "") {
            this.users = [];
            this.page = 1;
            this.loaded = 0;
            this.fetchUsersData($dispatch, true, "init");
          }
        });
        this.fetchUsersData($dispatch, true, "init");
      },
      users: [],
      loading: false,
      lastid: 0,
      limit: 10,
      userType: "all",
      loaded: 0,
      last: false,
      page: 1,
      total: 0,
      lastURL: "",
      fetchUsersData($dispatch, reset, go, reload = false) {
        this.loading = true;
        if (reset) {
          this.lastid = 0;
        }
        if (go == "back") {
          ffrom = `/api/v1/local/user/list/${this.limit}?lastid=${this.lastid}&direction=back&role=${this.userType}`;
        } else {
          ffrom = `/api/v1/local/user/list/${this.limit}?lastid=${this.lastid}&direction=next&role=${this.userType}`;
        }
        if (reload) {
          ffrom = this.lastURL;
        }
        this.lastURL = ffrom;
        fetch(ffrom, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            this.loading = false;
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.users != null) {
              this.users = json.users;
              this.last = json.last;
              this.total = json.total;

              if (!reload) {
                if (go == "back") {
                  this.page = Number(this.page) - 1;
                  this.loaded -= 10;
                } else if (go == "next") {
                  this.page = Number(this.page) + 1;
                  this.loaded += 10;
                }
              }
            } else {
              this.last = true;
              $dispatch("notif", {
                type: "error",
                message: "Tidak ada data produk/barang yang bisa ditampilkan",
              });
            }
          })
          .catch((err) => {
            console.log(err);
            this.loading = false;
          });
      },
      backW($dispatch) {
        if (this.page > 1) {
          this.lastid = this.users[0].ID;
          this.fetchUsersData($dispatch, false, "back");
        }
      },
      forW($dispatch) {
        this.lastid = this.users[this.users.length - 1].ID;
        this.fetchUsersData($dispatch, false, "next");
      },
    };
  }
</script>
{{ end }}
