{{ template "base" .}}

<!-- Halaman Lokasi -->
{{ define "dashboard_locations_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Lokasi
</h2>

<!-- Lokasi -->
<div class="w-full mb-8">
  <div x-data="loc()" x-init="watchMe($watch, $dispatch)" id="location">
    <div class="w-full">
      <!-- Pilih negara -->
      <div class="w-full flex flex-wrap">
        <div class="w-full p-2 lg:w-4/6">
          <div class="px-2 pt-2 pb-2">
            <span
              class="bg-teal-100 text-teal-300 inline-block cursor-pointer rounded-lg px-4 font-semibold"
              @click="inputData.country = 62; fetchProvinces($dispatch);"
              >Indonesia</span
            >
          </div>
        </div>
      </div>

      <div class="w-full flex flex-wrap">
        <!-- Provinsi -->
        <template x-if="provinces.length > 0">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Seluruh Provinsi di Indonesia
              </h4>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template x-for="(province, index) in provinces" :key="index">
                  <option
                    :value="province.ID"
                    x-text="province.Name"
                    @click="inputData.province = province.ID; inputData.provinceName = province.Name;"
                  ></option>
                </template>
              </select>

              <!-- Tambah provinsi baru -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddProvince = !showAddProvince;"
              >
                Tambahkan provinsi baru
              </a>
              <template x-if="showAddProvince">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama Provinsi</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.province"
                      @keydown.enter="addProvince($dispatch)"
                      placeholder="provinsi"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errProvince }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmProvince"
                    :class="{'invisible': errProvince == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addProvince($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Provinsi manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Provinsi manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List provinsi yang ditambahkan manual
              </p>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template
                  x-for="(province, index) in manualProvinces"
                  :key="index"
                >
                  <option
                    :value="province.ID"
                    x-text="province.Name"
                    @click="inputData.province = province.ID; inputData.provinceName = province.Name;"
                  ></option>
                </template>
              </select>
            </div>
          </div>
        </template>

        <!-- Kota/Kabupaten -->
        <template x-if="cities !== null && cities.length > 0">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Kota/Kabupaten di ${inputData.provinceName}`"
              ></h4>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template x-for="(city, index) in cities" :key="index">
                  <option
                    :value="city.ID"
                    x-text="city.Name"
                    @click="inputData.city = city.ID; inputData.cityName = city.Name;"
                  ></option>
                </template>
              </select>

              <!-- Tambah kota baru -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddCity = !showAddCity;"
              >
                Tambahkan Kota/Kabupaten
              </a>
              <template x-if="showAddCity">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama Kota/Kabupaten</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.city"
                      @keydown.enter="addCity($dispatch)"
                      placeholder="kota/kabupaten"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCity }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmCity"
                    :class="{'invisible': errCity == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addCity($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Kota/Kabupaten manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Kabupaten manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List provinsi yang ditambahkan manual
              </p>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template x-for="(city, index) in manualCities" :key="index">
                  <option
                    :value="city.ID"
                    x-text="city.Name"
                    @click="inputData.city = city.ID; inputData.cityName = city.Name;"
                  ></option>
                </template>
              </select>
            </div>
          </div>
        </template>

        <!-- Distrik/Kecamatan -->
        <template x-if="districts.length > 0">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Distrik/Kecamatan di ${inputData.cityName}`"
              ></h4>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template x-for="(district, index) in districts" :key="index">
                  <option
                    :value="district.ID"
                    x-text="district.Name"
                    @click="inputData.district = district.ID; inputData.districtName = district.Name;"
                  ></option>
                </template>
              </select>
            </div>
          </div>
        </template>

        <!-- Desa/Kelurahan -->
        <template x-if="villages.length > 0">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Desa/Kelurahan di ${inputData.districtName}`"
              ></h4>
              <select
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray"
                multiple
              >
                <template x-for="(village, index) in villages" :key="index">
                  <option
                    :value="village.ID"
                    x-text="village.Name"
                    @click="inputData.village = village.ID;"
                  ></option>
                </template>
              </select>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
  <script>
    function loc() {
      return {
        addNew: {
          country: "",
          province: "",
          city: "",
          district: "",
          village: "",
        },
        inputData: {
          country: null,
          province: null,
          provinceName: "",
          city: null,
          cityName: "",
          district: null,
          districtName: "",
          village: null,
        },
        provinces: [],
        manualProvinces: [],
        cities: [],
        manualCities: [],
        districts: [],
        manualDistricts: [],
        villages: [],
        manualVillages: [],
        showAddProvince: false,
        showAddCity: false,
        showAddDistrict: false,
        showAddVillage: false,
        watchMe($watch, $dispatch) {
          $watch("inputData.province", (value) => {
            this.inputData.city = "";
            this.inputData.provinceName = "";
            this.cities = [];
            this.manualCities = [];
            if (value != "") {
              this.fetchCities($dispatch);
            }
          });
          $watch("inputData.city", (value) => {
            this.inputData.district = "";
            this.inputData.cityName = "";
            this.districts = [];
            this.manualDistricts = [];
            if (value != "") {
              this.fetchDistricts($dispatch);
            }
          });
          $watch("inputData.district", (value) => {
            this.inputData.village = "";
            this.inputData.districtName = "";
            this.villages = [];
            this.manualVillages;
            if (value != "") {
              this.fetchVillages($dispatch);
            }
          });
        },
        fetchProvinces($dispatch) {
          fetch(`/api/v1/local/address/provinces?mode=split`, {
            method: "GET",
          })
            .then((res) => res.json())
            .then((json) => {
              if (json.provinces.original !== null) {
                this.provinces = json.provinces.original;
              } else {
                this.provinces = [];
              }
              if (json.provinces.manual !== null) {
                this.manualProvinces = json.provinces.manual;
              } else {
                this.manualProvinces = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchCities($dispatch) {
          fetch(
            `/api/v1/local/address/cities/${this.inputData.province}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.cities.original !== null) {
                this.cities = json.cities.original;
              } else {
                this.cities = [];
              }
              if (json.cities.manual !== null) {
                this.manualCities = json.cities.manual;
              } else {
                this.manualCities = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchDistricts($dispatch) {
          fetch(
            `/api/v1/local/address/districts/${this.inputData.city}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.districts.original !== null) {
                this.districts = json.districts.original;
              } else {
                this.districts = [];
              }
              if (json.districts.manual !== null) {
                this.manualDistricts = json.districts.manual;
              } else {
                this.manualDistricts = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchVillages($dispatch) {
          fetch(
            `/api/v1/local/address/villages/${this.inputData.district}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.villages.original !== null) {
                this.villages = json.villages.original;
              } else {
                this.villages = [];
              }
              if (json.villages.manual !== null) {
                this.manualVillages = json.villages.manual;
              } else {
                this.manualVillages = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },
        errProvince: false,
        errmProvince: "",
        errCity: false,
        errmCity: "",
        errDistrict: false,
        errmDistrict: "",
        errVillage: false,
        errmVillage: "",
        addProvince($dispatch) {
          fetch(`/api/v1/local/address/edit/province/add`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              province: this.addNew.province,
            }),
          })
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.province) {
                this.errProvince = true;
                this.errmProvince = json.province;
              } else {
                this.errProvince = false;
                this.errmProvince = "";
              }
              if (json.provinces.original != null) {
                this.provinces = json.provinces.original;
              } else {
                this.provinces = [];
              }
              if (json.provinces.manual != null) {
                this.manualProvinces = json.provinces.manual;
              } else {
                this.manualProvinces = [];
              }
            })
            .catch((err) => {
              console.log("addProvince() " + err);
            });
        },
      };
    }
  </script>
</div>
{{ end }}
