{{ define "dashboard_orders_add_modal_select_product_content" }}
<template x-ref="selectProduct">
  <div x-init="fetchProduct($dispatch)" x-data="product($parent)">
    <!-- Title -->
    <div
      class="absolute top-0 mt-4 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
    >
      Pilih produk
    </div>
    <div class="text-center">
      <div class="mx-auto py-4">
        <label for="search" class="sr-only">Search</label>
        <div class="relative rounded-md shadow">
          <input
            class="block h-10 w-full px-4 sm:text-sm sm:leading-5"
            placeholder="Cari nama atau kode produk"
            x-model="product_instant_search"
          />
        </div>
      </div>
      <ul
        class="grid grid-cols-2 col-gap-4 row-gap-8 md:col-gap-6 md:grid-cols-4"
      >
        <template x-for="(product, index) in fill_products" :key="index">
          <li
            x-on:mouseover="if (product.Brand != '' || product.Type != '') { tooltip = index }"
            x-on:mouseleave="tooltip = null"
            class="cursor-pointer"
            @click="add($dispatch, product)"
          >
            <!-- Tooltip -->
            <div
              class="relative"
              x-cloak
              x-show="tooltip == index"
              x-show.transition.origin.top="tooltip"
            >
              <div
                class="absolute top-0 z-10 w-auto min-w-full p-2 -mt-1 mx-auto text-sm leading-tight text-white transform -translate-y-full bg-green-500 rounded-lg shadow-lg"
              >
                <div class="inline-flex">
                  <p
                    x-text="product.Brand"
                    class="mr-1"
                    x-show="product.Brand != ''"
                  ></p>
                  <p
                    x-text="'(' + product.Type + ')'"
                    x-show="product.Type != ''"
                  ></p>
                </div>
              </div>
              <svg
                class="absolute z-10 w-6 h-6 text-green-500 transform -translate-y-3 fill-current stroke-current"
                width="8"
                height="8"
              >
                <rect
                  x="12"
                  y="-10"
                  width="8"
                  height="8"
                  transform="rotate(45)"
                />
              </svg>
            </div>

            <div>
              <img
                class="object-cover w-full h-full border"
                :src="'/file/product/thumbnail/'+product.Thumbnail"
                alt=""
                loading="lazy"
                x-show="product.Thumbnail != ''"
              />
              <img
                class="object-cover w-full h-full border"
                :src="'/file/product/thumbnail/no-photo.png'"
                alt=""
                loading="lazy"
                x-show="product.Thumbnail === ''"
              />
              <div class="space-y-2">
                <div
                  class="text-xs leading-4 font-medium lg:text-sm lg:leading-5"
                >
                  <h4 class="mb-1" x-text="product.Name"></h4>
                  <span
                    x-text="product.Code"
                    class="inline-flex items-center px-2 py-1 rounded-full text-xs leading-3 bg-orange-500 text-orange-100"
                  ></span>
                </div>
              </div>
            </div>
          </li>
        </template>
      </ul>
      <div class="bg-blue-500">
        <button
          class="block w-full mx-auto mt-5 shadow hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white text-sm py-2 px-5"
          @click="showMore($dispatch)"
          :class="{'disable cursor-not-allowed bg-blue-400': products.length <= count }"
        >
          Lihat Lebih Banyak
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  function product($parent) {
    return {
      products: [],
      product_instant_search: "",
      count: 12,
      tooltip: null,
      initProduct($dispatch) {
        var products = document.getElementById("create").__x.$data.products;
        console.log(products);
        if (products.length == 0) {
          this.fetchProduct($dispatch);
        } else {
          this.products = products;
        }
      },
      fetchProduct($dispatch) {
        fetch(`/api/v1/local/product/all`, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.error) {
              $dispatch("notif", {
                type: "error",
                message: data.error,
              });
            }
            if (data.products) {
              document.getElementById("create").__x.$data.products =
                data.products;
              this.products = data.products;
            }
          })
          .catch(() => {
            console.log("Telah terjadi kesalahan saat memuat data produk");
          });
      },
      get fill_products() {
        return this.products
          .filter((p) => {
            const pattern = new RegExp(this.product_instant_search, "i");
            return (
              p.Name.match(pattern) ||
              p.Code.match(pattern) ||
              p.Brand.match(pattern) ||
              p.Type.match(pattern)
            );
          })
          .slice(0, this.count);
      },
      showMore($dispatch) {
        if (this.products.length <= this.count) {
          $dispatch("notif", {
            type: "error",
            message: "Tidak ada lagi data yang bisa ditampilkan",
          });
        } else {
          this.count += 12;
        }
      },
      add($dispatch, product) {
        
      },
    };
  }
</script>
{{ end }}
