{{ template "base" .}} {{ define "dashboard_users_add_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Tambah Pengguna
</h2>

<div class="grid gap-6 mb-8 md:grid-cols-2">
  <!-- User info -->
  <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
    <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
      {{ .l_account_user_contact }}
    </h4>

    <div x-data="create()" id="create">
      <div x-show="!userCreated">
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_c_form_fc }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Nomor Kartu Keluarga"
            x-model="formData.fc"
            @keydown.enter="submitData($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errFC }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmFC"
            :class="{'invisible': errFC == false}"
          >
          </span>
        </label>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_c_form_ric }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Nomor Induk Kependudukan"
            x-model="formData.ric"
            @keydown.enter="submitData($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errRIC }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmRIC"
            :class="{'invisible': errRIC == false}"
          >
          </span>
        </label>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_c_form_phone }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="081xxx"
            x-model="formData.phone"
            @keydown.enter="submitData($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPhone }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmPhone"
            :class="{'invisible': errPhone == false}"
          >
          </span>
        </label>

        <div class="flex flex-wrap mb-6">
          <div class="w-full md:w-1/2 md:pr-3">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >{{ .l_c_form_firstname }}</span
              >
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Rika"
                x-model="formData.firstname"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errFirstname }"
              />
            </label>
          </div>
          <div class="w-full md:w-1/2 md:pl-3">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >{{ .l_c_form_lastname }}</span
              >
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Artamevia"
                x-model="formData.lastname"
                @keydown.enter="submitData($dispatch)"
              />
            </label>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmFirstname"
            :class="{'invisible': errFirstname == false}"
          >
          </span>
        </div>

        <div class="mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">
            {{ .l_c_form_gender }}
          </span>
          <div class="mt-2">
            <label
              class="inline-flex items-center text-gray-600 dark:text-gray-400"
            >
              <input
                type="radio"
                class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                name="gender"
                @click="formData.gender = 'm'"
              />
              <span class="ml-2">{{ .l_c_form_gender_m }}</span>
            </label>
            <label
              class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
            >
              <input
                type="radio"
                class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                name="gender"
                @click="formData.gender = 'f'"
              />
              <span class="ml-2">{{ .l_c_form_gender_f }}</span>
            </label>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmGender"
            :class="{'invisible': errGender == false}"
          >
          </span>
        </div>

        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_c_form_occupation }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Pekerjaan yang menjadi sumber penghasilan utama"
            x-model="formData.occupation"
            @keydown.enter="submitData($dispatch)"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errOccupation }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmOccupation"
            :class="{'invisible': errOccupation == false}"
          >
          </span>
        </label>

        <label class="block mt-4 text-sm">
          <span class="text-blue-700 dark:text-blue-400">
            <a
              href="#"
              @click="addPassword = !addPassword"
              x-text="addPassword ? '{{ .l_c_form_remove_password }}' : '{{ .l_c_form_add_password }}'"
              :class="{ 'text-red-500': addPassword }"
            ></a
          ></span>
        </label>
        <div x-show="addPassword !== false">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"
              >{{ .l_c_form_password }}</span
            >
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="***************"
              type="password"
              x-model="formData.password"
              @keydown.enter="submitData($dispatch)"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPassword }"
            />
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmPassword"
              :class="{'invisible': errPassword == false}"
            >
            </span>
          </label>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
              {{ .l_c_form_repassword }}
            </span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="***************"
              type="password"
              x-model="formData.repassword"
              @keydown.enter="submitData($dispatch)"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errRepassword }"
            />
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmRepassword"
              :class="{'invisible': errRepassword == false}"
            >
            </span>
          </label>
        </div>

        <div>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Foto</span>
            <!-- file upload modal -->
            <article
              aria-label="File Upload Modal"
              class="relative h-full flex flex-col"
            >
              <!-- scroll area -->
              <section class="h-full overflow-auto p-8 w-full flex flex-col">
                <header
                  class="relative h-48 border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center"
                >
                  <input
                    @change="if ($event.target.files[0].type.match('image.*')) { base64($event.target.files[0]); } else { $dispatch('notif', {
                    type: 'error',
                    message: 'Harus berupa gambar .jpg, .png, etc.',
                  }); formData.photo = null; }"
                    type="file"
                    class="hidden"
                  />
                  
                  <!-- overlay -->
                  <div
                    x-show="!formData.photo"
                    class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center"
                  >
                    <i>
                      <svg
                        class="fill-current w-12 h-12 mb-3 text-blue-700"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z"
                        />
                      </svg>
                    </i>
                    <p class="text-lg text-blue-700">Upload Foto Pengguna</p>
                  </div>
                  <!-- Tampilkan preview -->
                  <div
                    x-show="formData.photo"
                    class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center"
                  >
                    <div class="relative w-full h-full">
                      <img
                        class="object-scale-down w-full h-full"
                        :src="formData.photo ? formData.photo_type + ',' + formData.photo : ''"
                        alt="Photo"
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>
                  </div>
                </header>
              </section>
            </article>
          </label>
        </div>

        <button
          type="submit"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          @click="submitData($dispatch)"
          :disabled="loading == true"
          x-text="loadingText"
          :class="{'cursor-not-allowed opacity-50': loading == true }"
        >
          {{ .l_c_form_create }}
        </button>
      </div>

      <div x-show="userCreated">
        <!-- Photo pengguna -->
        <div
          class="w-full h-48 flex flex-col justify-center items-center"
          x-show="typeof user.Avatar !== 'undefined'"
        >
          <div class="w-full relative">
            <div class="h-48 w-full flex items-center rounded-lg">
              <div class="relative w-full h-full">
                <img
                  class="object-scale-down w-full h-full"
                  :src="'/file/profile/'+user.Avatar"
                  alt=""
                  loading="lazy"
                />
                <div
                  class="absolute inset-0 shadow-inner"
                  aria-hidden="true"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">ID Unik</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nomor Kartu Keluarga
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.FamilyCardNumber != ''"
              x-text="user.FamilyCardNumber"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.FamilyCardNumber == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nomor Induk Kependudukan
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.RIC != ''"
              x-text="user.RIC"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.RIC == ''"
            >
              -
            </dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Informasi Pengguna</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nama Lengkap
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="user.Firstname + ' ' + user.Lastname"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Jenis Kelamin
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.Gender == 'm'"
            >
              Laki-Laki
            </dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.Gender == 'f'"
            >
              Perempuan
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Pekerjaan
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.Occupation != ''"
              x-text="user.Occupation"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="user.Occupation == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Saldo</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="user.Balance"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Peran</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="user.Role"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Terdaftar Pada
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="user.CreatedAt"
            ></dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Informasi Kontak</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Email</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="emails.length > 0"
            >
              <template x-for="(email, index) in emails" :key="index">
                <p x-text="email.Email"></p>
              </template>
            </dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="emails.length == 0"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nomor Telepon
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="phones.length > 0"
            >
              <template x-for="(phone, index) in phones" :key="index">
                <p x-text="phone.Phone"></p>
              </template>
            </dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="phones.length == 0"
            >
              -
            </dd>
          </div>
        </dl>

        <label class="block mt-4 text-sm">
          <span class="text-blue-700 dark:text-blue-400">
            <a href="#" @click="resetUserForm()" class="text-red-500"
              >Reset</a
            ></span
          >
        </label>
      </div>
    </div>

    <script>
      function create() {
        return {
          formData: {
            fc: "",
            ric: "",
            phone: "",
            firstname: "",
            lastname: "",
            gender: "",
            occupation: "",
            password: "",
            repassword: "",
            photo: "",
            photo_type: "",
          },
          loadingText: "{{ .l_c_form_create }}",
          loading: false,
          userCreated: false,
          addPassword: false,
          notifStatus: "",
          user: [],
          emails: [],
          phones: [],
          errFC: false,
          errmFC: "",
          errRIC: false,
          errmRIC: "",
          errPhone: false,
          errmPhone: "",
          errFirstname: false,
          errmFirstname: "",
          errGender: false,
          errmGender: "",
          errOccupation: false,
          errmOccupation: "",
          errPassword: false,
          errmPassword: "",
          errRepassword: false,
          errmRepassword: "",

          submitData($dispatch) {
            this.loadingText = "Loading . . .";
            this.loading = true;
            if (!this.addPassword) {
              this.formData.password = "";
              this.formData.repassword = "";
            }
            fetch("/api/v1/local/user/create", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.formData),
            })
              .then((res) => res.json())
              .then((data) => {
                this.loadingText = "{{ .l_c_form_create }}";
                this.loading = false;
                if (data.fc) {
                  this.errFC = true;
                  this.errmFC = data.fc;
                } else {
                  this.errFC = false;
                  this.errmFC = "";
                }
                if (data.ric) {
                  this.errRIC = true;
                  this.errmRIC = data.ric;
                } else {
                  this.errRIC = false;
                  this.errmRIC = "";
                }
                if (data.phone) {
                  this.errPhone = true;
                  this.errmPhone = data.phone;
                } else {
                  this.errPhone = false;
                  this.errmPhone = "";
                }
                if (data.firstname) {
                  this.errFirstname = true;
                  this.errmFirstname = data.firstname;
                } else {
                  this.errFirstname = false;
                  this.errmFirstname = "";
                }
                if (data.gender) {
                  this.errGender = true;
                  this.errmGender = data.gender;
                } else {
                  this.errGender = false;
                  this.errmGender = "";
                }
                if (data.password) {
                  this.errPassword = true;
                  this.errmPassword = data.password;
                } else {
                  this.errPassword = false;
                  this.errmPassword = "";
                }
                if (data.repassword) {
                  this.errRepassword = true;
                  this.errmRepassword = data.repassword;
                } else {
                  this.errRepassword = false;
                  this.errmRepassword = "";
                }

                if (data.status == "error") {
                  this.notifStatus = "error";
                }
                if (data.status == "fail") {
                  this.notifStatus = "fail";
                }
                if (data.status == "success") {
                  this.notifStatus = "success";
                  this.userCreated = true;
                  this.user = data.user;
                  if (data.user.Emails) {
                    this.emails = data.user.Emails;
                  }
                  if (data.user.Phones) {
                    this.phones = data.user.Phones;
                  }
                  document.getElementById("address").__x.$data.uid =
                    data.user.ID;
                  document.getElementById(
                    "address"
                  ).__x.$data.addAddressDisable = false;
                }

                if (data.message) {
                  $dispatch("notif", {
                    type: this.notifStatus,
                    message: data.message,
                  });
                }
              })
              .catch(() => {
                this.loading = false;
                console.log("Telah terjadi kesalahan");
              });
          },
          base64(file) {
            var reader = new FileReader();
            reader.onloadend = function () {
              var bsplit = reader.result.split(",");
              document.getElementById("create").__x.$data.formData.photo_type =
                bsplit[0];
              document.getElementById("create").__x.$data.formData.photo =
                bsplit[1];
            };
            reader.readAsDataURL(file);
          },
          resetUserForm() {
            this.userCreated = false;
            this.user = [];
            this.emails = [];
            this.phones = [];
            this.formData = {
              fc: '',
              ric: '',
              phone: '',
              firstname: '',
              lastname: '',
              gender: '',
              occupation: '',
              password: '',
              repassword: '',
              photo: '',
              photo_type: '',
            };
            document.getElementById("address").__x.$data.uid = null;
            document.getElementById(
              "address"
            ).__x.$data.addAddressDisable = true;
            document.getElementById("address").__x.$data.addresses = [];
            document.getElementById("address").__x.$data.addAddressData = {
              name: '',
              description: '',
              one: '',
              two: '',
              zip: '',
              province: '',
              city: '',
              district: '',
              village: '',
            };
            document.getElementById("address").__x.$data.addAddressOpen = false;
          },
        };
      }
    </script>
  </div>

  <!-- User address -->
  <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
    <h3 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
      {{ .l_account_user_address }}
    </h3>
    <div x-data="addAddressDetail()" x-init="initPlaces($watch)" id="address">
      <div x-show="addresses.length > 0">
        <template x-for="(address, index) in addresses" :key="index">
          <dl>
            <div
              class="cursor-pointer px-4 py-5 border-b border-gray-200 sm:px-6 hover:opacity-50"
              @click="showSelected !== address.ID ? showSelected = address.ID : showSelected = null"
            >
              <h5
                class="leading-6 font-medium text-gray-900"
                x-text="address.name"
              ></h5>
              <p
                class="mt-1 max-w-2xl text-sm leading-5 text-gray-500"
                x-text="address.description"
              ></p>
            </div>
            <div x-show="showSelected == address.ID">
              <div
                class="bg-gray-50 px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_one }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.one"
                ></dd>
              </div>
              <div
                class="bg-gray-50 px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                x-show="address.two != ''"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_two }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.two"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_zip }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.zip"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_village }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.VillageName"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_district }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.DistrictName"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_city }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.CityName"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  {{ .l_u_address_show_province }}
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2"
                  x-text="address.ProvinceName"
                ></dd>
              </div>
              <div
                class="bg-white px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              >
                <p
                  class="cursor-pointer text-blue-700"
                  x-show="addresses.length > 1"
                  @click="$dispatch('modal', { footer: true, title: 'Peringatan!', content:'Apakah yakin ingin menghapus alamat ini?', callback: function() { deleteAddress($dispatch, address.ID) } })"
                >
                  {{ .l_u_address_delete_btn }}
                </p>
              </div>
            </div>
          </dl>
        </template>
      </div>

      <!-- Tambah address -->
      <label class="block mt-4 text-sm">
        <span class="text-blue-700 dark:text-blue-400">
          <a
            href="#"
            @click="addAddressOpen = !addAddressOpen"
            x-text="addAddressOpen ? '{{ .l_u_address_remove }}' : '{{ .l_u_address_add }}'"
            :class="{ 'text-red-500': addAddressOpen }"
          ></a
        ></span>
      </label>
      <div x-show="addAddressOpen">
        <!-- Nama panggilan alamat -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_name }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.name"
            @keydown.enter="addAddress($dispatch)"
            placeholder="Misal 'Rumahku'"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressName }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressName"
            :class="{'invisible': errAddressName == false}"
          >
          </span>
        </label>

        <!-- Deskripsi alamat -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_description }} (opsional)</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.description"
            @keydown.enter="addAddress($dispatch)"
            placeholder="Misal 'Alamat rumah di jampang deket abah'"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressDescription }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressDescription"
            :class="{'invisible': errAddressDescription == false}"
          >
          </span>
        </label>

        <!-- Alamat 1 -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_one }} (kolom ke-2 opsional)</span
          >
          <div class="rounded-md shadow-sm">
            <div>
              <input
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                placeholder="Alamat 1"
                @keydown.enter="addAddress($dispatch)"
                x-model="addAddressData.one"
              />
            </div>
            <div class="-mt-px">
              <input
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                placeholder="Alamat 2"
                @keydown.enter="addAddress($dispatch)"
                x-model="addAddressData.two"
              />
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressOne"
            :class="{'invisible': errAddressOne == false}"
          >
          </span>
        </label>

        <!-- Kode POS -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_zip }}</span
          >
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            x-model="addAddressData.zip"
            @keydown.enter="addAddress($dispatch)"
            placeholder="POS"
            :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errAddressZip }"
          />
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressZip"
            :class="{'invisible': errAddressZip == false}"
          >
          </span>
        </label>

        <!-- Provinsi -->
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_province }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.province"
            >
              <option value="">Pilih provinsi</option>
              <template x-for="(province, index) in provinces" :key="index">
                <option :value="province.ID" x-text="province.Name"></option>
              </template>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressProvince"
            :class="{'invisible': errAddressProvince == false}"
          >
          </span>
        </label>

        <!-- Kota/Kabupaten -->
        <label class="block mt-4 text-sm" x-show="cities.length > 0">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_city }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.city"
            >
              <option value="">Pilih kota/kabupaten</option>
              <template x-for="(city, index) in cities" :key="index">
                <option :value="city.ID" x-text="city.Name"></option>
              </template>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressCity"
            :class="{'invisible': errAddressCity == false}"
          >
          </span>
        </label>

        <!-- Distrik/Kecamatan -->
        <label class="block mt-4 text-sm" x-show="districts.length > 0">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_district }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.district"
            >
              <option value="">Pilih distrik/kecamatan</option>
              <template x-for="(district, index) in districts" :key="index">
                <option :value="district.ID" x-text="district.Name"></option>
              </template>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressDistrict"
            :class="{'invisible': errAddressDistrict == false}"
          >
          </span>
        </label>

        <!-- Kelurahan/Desa -->
        <label class="block mt-4 text-sm" x-show="villages.length > 0">
          <span class="text-gray-700 dark:text-gray-400"
            >{{ .l_u_address_village }}</span
          >
          <div class="relative">
            <select
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              x-model="addAddressData.village"
            >
              <option value="">Pilih kelurahan/desa</option>
              <template x-for="(village, index) in villages" :key="index">
                <option :value="village.ID" x-text="village.Name"></option>
              </template>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              {{ template "_svg_icon_arrow_bottom" }}
            </div>
          </div>
          <span
            class="text-xs text-red-600 dark:text-red-400"
            x-text="errmAddressVillage"
            :class="{'invisible': errAddressVillage == false}"
          >
          </span>
        </label>

        <button
          type="submit"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          @click="addAddress($dispatch)"
          :disabled="addAddressDisable"
          :class="{'cursor-not-allowed opacity-50': addAddressDisable }"
          x-text="addAddressBtn"
        >
          {{ .l_u_address_add_btn }}
        </button>
      </div>
    </div>
    <script>
      function addAddressDetail() {
        return {
          uid: null,
          showSelected: null,
          addAddressOpen: false,
          errAddressName: false,
          errAddressDescription: false,
          errAddressOne: false,
          errAddressTwo: false,
          errAddressZip: false,
          errAddressProvince: false,
          errAddressCity: false,
          errAddressDistrict: false,
          errAddressVillage: false,
          errmAddressName: '',
          errmAddressDescription: '',
          errmAddressOne: '',
          errmAddressTwo: '',
          errmAddressZip: '',
          errmAddressProvince: '',
          errmAddressCity: '',
          errmAddressDistrict: '',
          errmAddressVillage: '',
          deleteAddressData: {
            id: null,
          },
          deleteAddress($dispatch, pid) {
            this.deleteAddressData.id = pid;
            fetch(`/api/v1/local/user/edit/${this.uid}/delete/address`, {
              method: "DELETE",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.deleteAddressData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.addresses = json.addresses;
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          addAddressData: {
            name: '',
            description: '',
            one: '',
            two: '',
            zip: '',
            province: '',
            city: '',
            district: '',
            village: '',
          },
          addAddressDisable: true,
          addAddressBtn: {{ .l_u_address_add_btn }},
          addresses: [],
          addAddress($dispatch) {
            if (this.addAddressDisable) {
              $dispatch('notif', {type: 'error', message: "Silahkan buat user terlebih dahulu"});
              return;
            }
            this.addAddressBtn = "Loading. . .";
            this.addAddressDisable = true;
            fetch(`/api/v1/local/user/edit/${this.uid}/add/address`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(this.addAddressData),
            })
            .then((res) => res.json())
            .then((json) => {
              this.addAddressBtn = {{ .l_u_address_add_btn }}
              this.addAddressDisable = false
              if (json.name) {
                this.errAddressName = true;
                this.errmAddressName = json.name;
              } else {
                this.errAddressName = false;
                this.errmAddressName = '';
              }
              if (json.description) {
                this.errAddressDescription = true;
                this.errmAddressDescription = json.description;
              } else {
                this.errAddressDescription = false;
                this.errmAddressDescription = '';
              }
              if (json.one) {
                this.errAddressOne = true;
                this.errmAddressOne = json.one;
              } else {
                this.errAddressOne = false;
                this.errmAddressOne = '';
              }
              if (json.two) {
                this.errAddressTwo = true;
                this.errmAddressTwo = json.two;
              } else {
                this.errAddressTwo = false;
                this.errmAddressTwo = '';
              }
              if (json.zip) {
                this.errAddressZip = true;
                this.errmAddressZip = json.zip;
              } else {
                this.errAddressZip = false;
                this.errmAddressZip = '';
              }
              if (json.province) {
                this.errAddressProvince = true;
                this.errmAddressProvince = json.province;
              } else {
                this.errAddressProvince = false;
                this.errmAddressProvince = '';
              }
              if (json.city) {
                this.errAddressCity = true;
                this.errmAddressCity = json.city;
              } else {
                this.errAddressCity = false;
                this.errmAddressCity = '';
              }
              if (json.district) {
                this.errAddressDistrict = true;
                this.errmAddressDistrict = json.district;
              } else {
                this.errAddressDistrict = false;
                this.errmAddressDistrict = '';
              }
              if (json.village) {
                this.errAddressVillage = true;
                this.errmAddressVillage = json.village;
              } else {
                this.errAddressVillage = false;
                this.errmAddressVillage = '';
              }
              if (json.error) {
                $dispatch('notif', {type: 'error', message: json.error});
              } else if (json.success) {
                $dispatch('notif', {type: 'success', message: json.success});
                this.addresses = json.addresses
              }
            })
            .catch((err) => {
              console.log(err)
            });
          },
          initPlaces($watch) {
            $watch('addAddressData.province', (value) => {
              this.addAddressData.city = '';
              this.cities = [];
              if (value != "") {
                this.fetchCities();
              }
            });
            $watch('addAddressData.city', (value) => {
              this.addAddressData.district = '';
              this.districts = [];
              if (value != "") {
                this.fetchDistricts();
              }
            });
            $watch('addAddressData.district', (value) => {
              this.addAddressData.village = '';
              this.villages = [];
              if (value != "") {
                this.fetchVillages();
              }
            });
            this.fetchProvinces();
          },
          provinces: [],
          fetchProvinces() {
            fetch("/api/v1/local/address/provinces", {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.provinces = json.province
            })
            .catch((err) => {
              console.log(err)
            });
          },
          cities: [],
          fetchCities() {
            fetch("/api/v1/local/address/cities/"+this.addAddressData.province, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.cities = json.cities
            })
            .catch((err) => {
              console.log(err)
            });
          },
          districts: [],
          fetchDistricts() {
            fetch("/api/v1/local/address/districts/"+this.addAddressData.city, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.districts = json.districts
            })
            .catch((err) => {
              console.log(err)
            });
          },
          villages: [],
          fetchVillages() {
            fetch("/api/v1/local/address/villages/"+this.addAddressData.district, {
              method: "GET",
            })
            .then((res) => res.json())
            .then((json) => {
              this.villages = json.villages
            })
            .catch((err) => {
              console.log(err)
            });
          },
        };
      }
    </script>
  </div>
</div>
{{ end }}
