{{ template "base" .}} {{ define "dashboard_orders_add_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Buat Order
</h2>

<div class="grid gap-6 mb-8">
  <!-- Produk baru -->
  <div class="p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
    <div x-data="create()" id="create">
      <div x-show="!orderCreated">
        <div class="flex flex-wrap mb-6">
          <!-- Konsumen -->
          <div class="w-full relative md:w-2/3 md:px-1">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Konsumen</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Nomor Induk Kependudukan (NIK)"
                x-model="instantData.customer"
                @keyup="if (instantData.customer.length > 5 && instantData.customer.length <= 16) { closeCustomerIS = false; searchNIK(); } else { closeCustomerIS = true; }"
                @click="if (instantData.customer.length > 5 && instantData.customer.length <= 16) { closeCustomerIS = false; } else { closeCustomerIS = true; }"
                @click.away="closeCustomerIS = true;"
                @keydown.tab="closeCustomerIS = true;"
                x-show="$parent.isObjEmpty(tempDataCustomer)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCustomer }"
              />
              <div class="w-full">
                <div
                  class="relative bg-blue-400 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8 rounded-full"
                  x-show="!$parent.isObjEmpty(tempDataCustomer)"
                >
                  <i
                    x-text="tempDataCustomer.Firstname +' '+ tempDataCustomer.Lastname"
                  ></i>
                  (<b x-text="tempDataCustomer.RIC"></b>)
                  <p
                    style="margin-top: 0.42rem"
                    class="cursor-pointer absolute right-0 top-0 mr-2"
                    @click="tempDataCustomer = {};
                    addresses = [];
                    formData.customer = 0;
                    tempDataBillingAddress = {};
                    formData.billing_address = 0;
                    tempDataShippingAddress = {};
                    formData.shipping_address = 0;"
                  >
                    {{ template "_svg_icon_close" }}
                  </p>
                </div>
              </div>
            </label>
            <ul
              x-transition:leave="transition ease-in duration-150"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              x-show="!closeCustomerIS"
              class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
              aria-label="submenu"
            >
              <div
                x-show="customerIS.length > 0 && closeCustomerIS == false && $parent.isObjEmpty(tempDataCustomer)"
              >
                <template x-for="(customer, index) in customerIS" :key="index">
                  <li class="flex">
                    <a
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      href="#"
                      tabindex="-1"
                      @click="tempDataCustomer = 
                      {
                        ID: customer.ID,
                        Firstname: customer.Firstname,
                        Lastname: customer.Lastname,
                        RIC: customer.RIC,
                      };
                      if (customer.Addresses) {
                        addresses = customer.Addresses;
                      }
                      formData.customer = customer.ID;"
                    >
                      <img
                        class="object-cover w-5 h-5 rounded-full mr-3"
                        :src="'/file/profile/thumbnail/'+customer.Avatar"
                        alt=""
                        loading="lazy"
                      />
                      <span
                        x-text="customer.Firstname +' '+ customer.Lastname"
                      ></span>
                    </a>
                  </li>
                </template>
              </div>
              <div x-show="customerIS.length == 0">
                <span
                  class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                  >Tidak ada data</span
                >
              </div>
            </ul>
          </div>

          <div class="w-full block mt-5 md:w-1/3 md:px-1">
            <button
              class="inline-block p-3 text-center text-white transition bg-green-500 rounded-full shadow hover:shadow-lg hover:bg-green-400 focus:outline-none"
              @click="$dispatch('modal', { html: $refs.selectProduct.innerHTML });"
            >
              <svg
                class="w-5 h-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                />
              </svg>
            </button>
          </div>

          {{ template "dashboard_orders_add_modal_select_product_content" .}}

          <!-- Sales -->
          <div class="w-full relative md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Sales</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Nama Sales"
                x-model="instantData.sales"
                @keyup="if (instantData.sales.length >= 3 && instantData.sales.length <= 25) { closeSalesIS = false; searchSales(); } else { closeSalesIS = true; }"
                @click="if (instantData.sales.length >= 3 && instantData.sales.length <= 25) { closeSalesIS = false; } else { closeSalesIS = true; }"
                @click.away="closeSalesIS = true;"
                @keydown.tab="closeSalesIS = true;"
                x-show="$parent.isObjEmpty(tempDataSales)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errSales }"
              />
            </label>
            <div class="w-full">
              <div
                class="relative bg-blue-400 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8 rounded-full"
                x-show="!$parent.isObjEmpty(tempDataSales)"
              >
                <i
                  x-text="tempDataSales.Firstname +' '+ tempDataSales.Lastname"
                ></i>
                (<b x-text="tempDataSales.Username"></b>)
                <p
                  style="margin-top: 0.42rem"
                  class="cursor-pointer absolute right-0 top-0 mr-2"
                  @click="tempDataSales = {};
                  formData.sales = 0;"
                >
                  {{ template "_svg_icon_close" }}
                </p>
              </div>
            </div>
            <ul
              x-transition:leave="transition ease-in duration-150"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              x-show="!closeSalesIS"
              class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
              aria-label="submenu"
            >
              <div
                x-show="salesIS.length > 0 && closeSalesIS == false && $parent.isObjEmpty(tempDataSales)"
              >
                <template x-for="(sales, index) in salesIS" :key="index">
                  <li class="flex">
                    <a
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      href="#"
                      tabindex="-1"
                      @click="tempDataSales = 
                      {
                        ID: sales.ID,
                        Firstname: sales.Firstname,
                        Lastname: sales.Lastname,
                        Username: sales.Username,
                      };
                      formData.sales = sales.ID;"
                    >
                      <img
                        class="object-cover w-5 h-5 rounded-full mr-3"
                        :src="'/file/profile/thumbnail/'+sales.Avatar"
                        alt=""
                        loading="lazy"
                      />
                      <span
                        x-text="sales.Firstname +' '+ sales.Lastname"
                      ></span>
                    </a>
                  </li>
                </template>
              </div>
              <div x-show="salesIS.length == 0">
                <span
                  class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                  >Tidak ada data</span
                >
              </div>
            </ul>
          </div>

          <!-- Surveyor -->
          <div class="w-full relative md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Surveyor</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Nama Surveyor"
                x-model="instantData.surveyor"
                @keyup="if (instantData.surveyor.length >= 3 && instantData.surveyor.length <= 25) { closeSurveyorIS = false; searchSurveyor(); } else { closeSurveyorIS = true; }"
                @click="if (instantData.surveyor.length >= 3 && instantData.surveyor.length <= 25) { closeSurveyorIS = false; } else { closeSurveyorIS = true; }"
                @click.away="closeSurveyorIS = true;"
                @keydown.tab="closeSurveyorIS = true;"
                x-show="$parent.isObjEmpty(tempDataSurveyor)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errSurveyor }"
              />
            </label>
            <div class="w-full">
              <div
                class="relative bg-blue-400 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8 rounded-full"
                x-show="!$parent.isObjEmpty(tempDataSurveyor)"
              >
                <i
                  x-text="tempDataSurveyor.Firstname +' '+ tempDataSurveyor.Lastname"
                ></i>
                (<b x-text="tempDataSurveyor.Username"></b>)
                <p
                  style="margin-top: 0.42rem"
                  class="cursor-pointer absolute right-0 top-0 mr-2"
                  @click="tempDataSurveyor = {};
                  formData.surveyor = 0;"
                >
                  {{ template "_svg_icon_close" }}
                </p>
              </div>
            </div>
            <ul
              x-transition:leave="transition ease-in duration-150"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              x-show="!closeSurveyorIS"
              class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
              aria-label="submenu"
            >
              <div
                x-show="surveyorIS.length > 0 && closeSurveyorIS == false && $parent.isObjEmpty(tempDataSurveyor)"
              >
                <template x-for="(surveyor, index) in surveyorIS" :key="index">
                  <li class="flex">
                    <a
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      href="#"
                      tabindex="-1"
                      @click="tempDataSurveyor = 
                      {
                        ID: surveyor.ID,
                        Firstname: surveyor.Firstname,
                        Lastname: surveyor.Lastname,
                        Username: surveyor.Username,
                      };
                      formData.surveyor = surveyor.ID;"
                    >
                      <img
                        class="object-cover w-5 h-5 rounded-full mr-3"
                        :src="'/file/profile/thumbnail/'+surveyor.Avatar"
                        alt=""
                        loading="lazy"
                      />
                      <span
                        x-text="surveyor.Firstname +' '+ surveyor.Lastname"
                      ></span>
                    </a>
                  </li>
                </template>
              </div>
              <div x-show="surveyorIS.length == 0">
                <span
                  class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                  >Tidak ada data</span
                >
              </div>
            </ul>
          </div>

          <!-- Kolektor -->
          <div class="w-full relative md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Kolektor</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Nama Kolektor"
                x-model="instantData.collector"
                @keyup="if (instantData.collector.length >= 3 && instantData.collector.length <= 25) { closeCollectorIS = false; searchCollector(); } else { closeCollectorIS = true; }"
                @click="if (instantData.collector.length >= 3 && instantData.collector.length <= 25) { closeCollectorIS = false; } else { closeCollectorIS = true; }"
                @click.away="closeCollectorIS = true;"
                @keydown.tab="closeCollectorIS = true;"
                x-show="$parent.isObjEmpty(tempDataCollector)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCollector }"
              />
            </label>
            <div class="w-full">
              <div
                class="relative bg-blue-400 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8 rounded-full"
                x-show="!$parent.isObjEmpty(tempDataCollector)"
              >
                <i
                  x-text="tempDataCollector.Firstname +' '+ tempDataCollector.Lastname"
                ></i>
                (<b x-text="tempDataCollector.Username"></b>)
                <p
                  style="margin-top: 0.42rem"
                  class="cursor-pointer absolute right-0 top-0 mr-2"
                  @click="tempDataCollector = {};
                  formData.collector = 0;"
                >
                  {{ template "_svg_icon_close" }}
                </p>
              </div>
            </div>
            <ul
              x-transition:leave="transition ease-in duration-150"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              x-show="!closeCollectorIS"
              class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
              aria-label="submenu"
            >
              <div
                x-show="collectorIS.length > 0 && closeCollectorIS == false && $parent.isObjEmpty(tempDataCollector)"
              >
                <template
                  x-for="(collector, index) in collectorIS"
                  :key="index"
                >
                  <li class="flex">
                    <a
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      href="#"
                      tabindex="-1"
                      @click="tempDataCollector = 
                      {
                        ID: collector.ID,
                        Firstname: collector.Firstname,
                        Lastname: collector.Lastname,
                        Username: collector.Username,
                      };
                      formData.collector = collector.ID;"
                    >
                      <img
                        class="object-cover w-5 h-5 rounded-full mr-3"
                        :src="'/file/profile/thumbnail/'+collector.Avatar"
                        alt=""
                        loading="lazy"
                      />
                      <span
                        x-text="collector.Firstname +' '+ collector.Lastname"
                      ></span>
                    </a>
                  </li>
                </template>
              </div>
              <div x-show="collectorIS.length == 0">
                <span
                  class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                  >Tidak ada data</span
                >
              </div>
            </ul>
          </div>

          <div class="w-full md:w-2/3">
            <div class="w-full flex flex-wrap">
              <!-- Pembayaran kredit -->
              <div class="w-full md:w-1/2 md:px-1">
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Metode Pembayaran</span
                  >
                </label>
                <div class="block text-xs">
                  <label class="mt-1">
                    <span class="pr-3 text-green-500 dark:text-green-400"
                      >Cash</span
                    >
                    <div
                      class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
                    >
                      <input
                        type="checkbox"
                        x-model="formData.credit"
                        class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                      />
                      <span
                        class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
                      ></span>
                    </div>
                    <span class="pr-3 text-orange-500 dark:text-orange-400"
                      >Kredit</span
                    >
                  </label>
                </div>
              </div>

              <div
                class="w-full md:w-1/2 md:px-1"
                x-show="formData.credit == true"
              >
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Lama Angsuran</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Misal: 6, untuk 6 bulan"
                    x-model="formData.duration"
                    @keydown.enter="submitData($dispatch)"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errDuration }"
                  />
                </label>
                <span
                  class="text-xs text-red-600 dark:text-red-400"
                  x-text="errmDuration"
                  :class="{'invisible': errDuration == false}"
                >
                </span>
              </div>
            </div>

            <!-- Catatan -->
            <div class="w-full md:px-1">
              <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">Catatan</span>
                <textarea
                  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  rows="3"
                  placeholder="Catatan mengenai order!"
                  x-model="formData.notes"
                ></textarea>
              </label>
            </div>

            <div class="w-full flex flex-wrap">
              <div class="w-full md:w-1/2 md:px-1">
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Tanggal Pemesanan</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    id="order"
                    x-model="formData.order_date"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errOrderDate }"
                  />
                </label>
                <span
                  class="text-xs text-red-600 dark:text-red-400"
                  x-text="errmOrderDate"
                  :class="{'invisible': errOrderDate == false}"
                >
                </span>
              </div>

              <div class="w-full md:w-1/2 md:px-1">
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Tanggal Pengiriman</span
                  >
                  <input
                    class="datepicker block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    id="shipping"
                    x-model="formData.shipping_date"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errShippingDate }"
                  />
                </label>
                <span
                  class="text-xs text-red-600 dark:text-red-400"
                  x-text="errmShippingDate"
                  :class="{'invisible': errShippingDate == false}"
                >
                </span>
              </div>
            </div>

            <div class="w-full flex flex-wrap">
              <!-- Alamat Pengiriman -->
              <div class="w-full relative md:w-1/2 md:px-1">
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Alamat Pengiriman</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Alamat Tujuan Pengiriman Barang"
                    @click="if (addresses.length > 0) { closeShippingAddressIS = false; } else { closeShippingAddressIS = true; }"
                    @click.away="closeShippingAddressIS = true;"
                    @keydown.tab="closeShippingAddressIS = true;"
                    x-show="$parent.isObjEmpty(tempDataShippingAddress)"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errShippingAddress }"
                  />
                </label>
                <div class="w-full">
                  <div
                    class="relative bg-green-300 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8"
                    x-show="!$parent.isObjEmpty(tempDataShippingAddress)"
                  >
                    <i x-text="tempDataShippingAddress.one+', '"></i>
                    <i
                      x-show="tempDataShippingAddress.two != ''"
                      x-text="tempDataShippingAddress.two+', '"
                    ></i>
                    <i
                      x-text="tempDataShippingAddress.village+', '+tempDataShippingAddress.district+', '+tempDataShippingAddress.city+', '+tempDataShippingAddress.province"
                    ></i>
                    <i
                      x-show="tempDataShippingAddress.zip != ''"
                      x-text="', '+tempDataShippingAddress.zip"
                    ></i>
                    <p
                      style="margin-top: 0.42rem"
                      class="cursor-pointer absolute right-0 top-0 mr-2"
                      @click="tempDataShippingAddress = {};
                    formData.shipping_address = 0;"
                    >
                      {{ template "_svg_icon_close" }}
                    </p>
                  </div>
                </div>
                <ul
                  x-transition:leave="transition ease-in duration-150"
                  x-transition:leave-start="opacity-100"
                  x-transition:leave-end="opacity-0"
                  x-show="!closeShippingAddressIS"
                  class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                  aria-label="submenu"
                >
                  <div
                    x-show="addresses.length > 0 && closeShippingAddressIS == false && $parent.isObjEmpty(tempDataShippingAddress)"
                  >
                    <template
                      x-for="(address, index) in addresses"
                      :key="index"
                    >
                      <li class="flex">
                        <a
                          class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                          href="#"
                          tabindex="-1"
                          @click="tempDataShippingAddress = 
                        {
                          ID: address.ID,
                          one: address.one,
                          two: address.two,
                          zip: address.zip,
                          village: address.VillageName,
                          district: address.DistrictName,
                          city: address.CityName,
                          province: address.ProvinceName,
                        };
                        formData.shipping_address = address.ID;"
                        >
                          <!-- TODO img -->
                          <span x-text="address.name"></span>
                          &nbsp;<i
                            x-text="'( '+address.description+' )'"
                            class="text-xs text-gray-500"
                          ></i>
                        </a>
                      </li>
                    </template>
                  </div>
                  <div x-show="addresses.length == 0">
                    <span
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      >Tidak ada data</span
                    >
                  </div>
                </ul>
              </div>

              <!-- Alamat Penagihan -->
              <div class="w-full relative md:w-1/2 md:px-1">
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400"
                    >Alamat Penagihan (*opsional)</span
                  >
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Alamat Penagihan Kredit/Pembayaran"
                    @click="if (addresses.length > 0) { closeBillingAddressIS = false; } else { closeBillingAddressIS = true; }"
                    @click.away="closeBillingAddressIS = true;"
                    @keydown.tab="closeBillingAddressIS = true;"
                    x-show="$parent.isObjEmpty(tempDataBillingAddress)"
                    :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errBillingAddress }"
                  />
                </label>
                <div class="w-full">
                  <div
                    class="relative bg-green-300 bg-opacity-50 mt-1 text-sm inline-block py-1 pl-4 pr-8"
                    x-show="!$parent.isObjEmpty(tempDataBillingAddress)"
                  >
                    <i x-text="tempDataBillingAddress.one+', '"></i>
                    <i
                      x-show="tempDataBillingAddress.two != ''"
                      x-text="tempDataBillingAddress.two+', '"
                    ></i>
                    <i
                      x-text="tempDataBillingAddress.village+', '+tempDataBillingAddress.district+', '+tempDataBillingAddress.city+', '+tempDataBillingAddress.province"
                    ></i>
                    <i
                      x-show="tempDataBillingAddress.zip != ''"
                      x-text="', '+tempDataBillingAddress.zip"
                    ></i>
                    <p
                      style="margin-top: 0.42rem"
                      class="cursor-pointer absolute right-0 top-0 mr-2"
                      @click="tempDataBillingAddress = {};
                    formData.billing_address = 0;"
                    >
                      {{ template "_svg_icon_close" }}
                    </p>
                  </div>
                </div>
                <ul
                  x-transition:leave="transition ease-in duration-150"
                  x-transition:leave-start="opacity-100"
                  x-transition:leave-end="opacity-0"
                  x-show="!closeBillingAddressIS"
                  class="absolute z-30 left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                  aria-label="submenu"
                >
                  <div
                    x-show="addresses.length > 0 && closeBillingAddressIS == false && $parent.isObjEmpty(tempDataBillingAddress)"
                  >
                    <template
                      x-for="(address, index) in addresses"
                      :key="index"
                    >
                      <li class="flex">
                        <a
                          class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                          href="#"
                          tabindex="-1"
                          @click="tempDataBillingAddress = 
                        {
                          ID: address.ID,
                          one: address.one,
                          two: address.two,
                          zip: address.zip,
                          village: address.VillageName,
                          district: address.DistrictName,
                          city: address.CityName,
                          province: address.ProvinceName,
                        };
                        formData.billing_address = address.ID;"
                        >
                          <span x-text="address.name"></span>
                          &nbsp;<i
                            x-text="'( '+address.description+' )'"
                            class="text-xs text-gray-500"
                          ></i>
                        </a>
                      </li>
                    </template>
                  </div>
                  <div x-show="addresses.length == 0">
                    <span
                      class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                      >Tidak ada data</span
                    >
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div
            class="w-full md:w-1/3 md:px-1"
            x-show="selectedProducts.length > 0"
          >
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Daftar Item</span>
            </label>
            <div class="w-full mt-1">
              <template
                x-for="(product, index) in selectedProducts"
                :key="index"
              >
                <div class="flex overflow-hidden border-b mt-1">
                  <div class="w-1/4 bg-cover p-1">
                    <img
                      class="object-cover w-16 h-16 border"
                      :src="'/file/product/thumbnail/'+product.Thumbnail"
                      alt=""
                      loading="lazy"
                      x-show="product.Thumbnail != ''"
                    />
                    <img
                      class="object-cover w-16 h-16 border"
                      :src="'/file/product/thumbnail/no-photo.png'"
                      alt=""
                      loading="lazy"
                      x-show="product.Thumbnail === ''"
                    />
                  </div>
                  <div class="p-1 w-3/4">
                    <h1
                      class="text-gray-900 font-bold"
                      x-text="product.Name"
                    ></h1>
                    <p class="text-gray-600 text-sm">
                      <span
                        x-text="product.Brand"
                        class="text-red-400 font-bold"
                      ></span
                      >&nbsp;<i x-text="product.Type"></i>
                    </p>
                    <p class="mt-1 text-gray-600">
                      <textarea
                        class="block w-full text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                        rows="1"
                        placeholder="Catatan mengenai barang!"
                      ></textarea>
                    </p>
                    <div class="flex item-center mt-2">
                      <span>100.000/bln</span>
                    </div>
                    <div class="flex item-center justify-between mt-3">
                      <h1
                        class="text-gray-700 font-bold text-xl"
                        x-text="product.Price"
                      ></h1>
                      <input type="number" class="w-12 px-1 border rounded" />
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>

        <!--
        <div>
          <div class="w-full md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Harga Kredit
              </span>
              <div
                class="flex flex-wrap mt-1 relative text-gray-500 focus-within:text-purple-600"
              >
                <input
                  class="block rounded-none rounded-l-sm w-2/12 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="Tenor"
                  x-model="duration"
                  @keydown.enter="addKP($dispatch)"
                />
                <input
                  class="block rounded-none w-10/12 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="Cicilan per bulan"
                  x-model="price"
                  @keydown.enter="addKP($dispatch)"
                />
                <button
                  class="absolute h-full bottom-0 right-0 px-4 text-sm text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-r-sm active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  @click="addKP($dispatch)"
                >
                  tambah
                </button>
              </div>
            </label>
          </div>

          <dl
            class="w-full whitespace-no-wrap"
            x-show="formData.credit_price.length > 0"
          >
            <div
              class="sm:grid sm:grid-cols-2 text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <dt class="px-3 py-3">Tenor</dt>
              <dd class="px-3 py-3">Angsuran</dd>
            </div>
            <template
              x-for="(credit, index) in formData.credit_price"
              :key="index"
            >
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt
                  class="text-sm leading-5 font-medium text-gray-500"
                  x-text="credit.duration + ' Bulan'"
                ></dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="'Rp.' + Number(credit.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3); + ' / bulan'"
                ></dd>
              </div>
            </template>
          </dl>
        </div>
        -->

        <button
          type="submit"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          @click="submitData($dispatch)"
          :disabled="loading == true"
          x-text="loadingText"
          :class="{'cursor-not-allowed opacity-50': loading == true }"
        ></button>
      </div>

      <!--
      <div x-show="orderCreated">
        <div
          class="absolute top-0 mt-4 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
          x-text="'Kode #'+product.Code"
        ></div>
        <div
          class="w-full h-48 flex flex-col justify-center items-center"
          :class="{ 'mb-4': photos.length > 1 }"
        >
          <div class="w-full relative">
            <template x-for="(photo, index) in photos" :key="index">
              <div
                x-show="activeSlide === index + 1"
                class="h-48 w-full flex items-center rounded-lg"
              >
                <div class="relative w-full h-full">
                  <img
                    class="object-scale-down w-full h-full"
                    :src="'/file/product/'+photo.Photo"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
              </div>
            </template>
            <div class="absolute inset-0 flex" x-show="photos.length > 1">
              <div class="flex items-center justify-start w-1/2">
                <button
                  class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6"
                  x-on:click="activeSlide = activeSlide === 1 ? photos.length : activeSlide - 1"
                >
                  &#8592;
                </button>
              </div>
              <div class="flex items-center justify-end w-1/2">
                <button
                  class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow rounded-full w-12 h-12 -mr-6"
                  x-on:click="activeSlide = activeSlide === photos.length ? 1 : activeSlide + 1"
                >
                  &#8594;
                </button>
              </div>
            </div>
            <div
              class="absolute w-full flex items-center justify-center px-4 mb-4"
              x-show="photos.length > 1"
            >
              <template x-for="(_,index) in photos" :key="index">
                <button
                  class="flex-1 w-4 h-2 mt-4 mx-2 rounded-full overflow-hidden transition-colors duration-200 ease-out hover:bg-teal-600 hover:shadow-lg"
                  :class="{ 
                        'bg-orange-600': activeSlide === index + 1,
                        'bg-teal-300': activeSlide !== index + 1 
                      }"
                  x-on:click="activeSlide = index + 1"
                ></button>
              </template>
            </div>
          </div>
        </div>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Informasi Produk</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nama Barang
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.Name"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Brand</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Brand != ''"
              x-text="product.Brand"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Brand == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Tipe</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Type != ''"
              x-text="product.Type"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Type == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Tanggal Ditambahkan
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.CreatedAt"
            ></dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Harga Produk</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Beli</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.BasePrice"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Jual</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.Price"
            ></dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap" x-show="creditPrice.length > 0">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Harga Kredit</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <template x-for="(credit, index) in creditPrice" :key="index">
            <div class="px-4 py-1 sm:grid sm:grid-cols-2">
              <dt
                class="text-sm leading-5 font-medium text-gray-500"
                x-text="credit.Duration + ' bulan'"
              ></dt>
              <dd
                class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                x-text="credit.Price + ' / Bulan'"
              ></dd></div
          ></template>
        </dl>
        <label class="block mt-4 text-sm">
          <span class="text-blue-700 dark:text-blue-400">
            <a href="#" @click="resetProductForm()" class="text-red-500"
              >Reset</a
            ></span
          >
        </label>
      </div>
      -->
    </div>
  </div>

  <script>
    function create() {
      return {
        formData: {
          customer: 0,
          sales: null,
          surveyor: null,
          collector: null,
          credit: false,
          duration: null,
          notes: "",
          order_date: "",
          shipping_date: "",
          billing_address: null,
          shipping_address: null,
          products: [],
        },
        instantData: {
          customer: "",
          sales: "",
          surveyor: "",
          collector: "",
          billing_address: "",
          shipping_address: "",
        },
        orderCreated: false,
        tempDataCustomer: {},
        tempDataSales: {},
        tempDataSurveyor: {},
        tempDataCollector: {},
        tempDataShippingAddress: {},
        tempDataBillingAddress: {},
        closeCustomerIS: true,
        closeSalesIS: true,
        closeSurveyorIS: true,
        closeCollectorIS: true,
        closeShippingAddressIS: true,
        closeBillingAddressIS: true,
        customerIS: [],
        salesIS: [],
        surveyorIS: [],
        collectorIS: [],
        addresses: [],
        loadingText: "Buat Order",
        loading: false,
        duration: null,
        price: null,
        products: [],
        selectedProducts: [],
        notifStatus: "",
        errCustomer: false,
        errmCustomer: "",
        errSales: false,
        errmSales: "",
        errSurveyor: false,
        errmSurveyor: "",
        errCollector: false,
        errmCollector: "",
        errDuration: false,
        errmDuration: "",
        errOrderDate: false,
        errmOrderDate: "",
        errShippingDate: false,
        errmShippingDate: "",
        errShippingAddress: false,
        errmShippingAddress: "",
        errBillingAddress: false,
        errmBillingAddress: "",

        submitData($dispatch) {
          this.loadingText = "Loading...";
          this.loading = true;

          // Jika bukan kredit
          if (this.formData.credit == false) {
            this.formData.duration = null;
          }

          fetch("/api/v1/local/product/add", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(this.formData),
          })
            .then((res) => res.json())
            .then((data) => {
              this.loadingText = "Buat Order";
              this.loading = false;

              if (data.status == "error") {
                this.notifStatus = "error";
              }
              if (data.status == "fail") {
                this.notifStatus = "fail";
              }
              if (data.status == "success") {
                this.notifStatus = "success";
                this.orderCreated = true;
                this.order = data.order;
              }

              if (data.message) {
                $dispatch("notif", {
                  type: this.notifStatus,
                  message: data.message,
                });
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan");
            });
        },
        searchNIK() {
          fetch(
            `/api/v1/local/user/search/ric/10?search=${this.instantData.customer}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          )
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                $dispatch("notif", {
                  type: "error",
                  message: data.error,
                });
              }
              if (data.users) {
                this.customerIS = data.users;
              } else {
                this.customerIS = [];
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan saat memuat data customer");
            });
        },
        searchSales() {
          fetch(
            `/api/v1/local/user/search/sales/10?search=${this.instantData.sales}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          )
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                $dispatch("notif", {
                  type: "error",
                  message: data.error,
                });
              }
              if (data.users) {
                this.salesIS = data.users;
              } else {
                this.salesIS = [];
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan saat memuat data sales");
            });
        },
        searchSurveyor() {
          fetch(
            `/api/v1/local/user/search/surveyor/10?search=${this.instantData.surveyor}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          )
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                $dispatch("notif", {
                  type: "error",
                  message: data.error,
                });
              }
              if (data.users) {
                this.surveyorIS = data.users;
              } else {
                this.surveyorIS = [];
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan saat memuat data surveyor");
            });
        },
        searchCollector() {
          fetch(
            `/api/v1/local/user/search/collector/10?search=${this.instantData.collector}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          )
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                $dispatch("notif", {
                  type: "error",
                  message: data.error,
                });
              }
              if (data.users) {
                this.collectorIS = data.users;
              } else {
                this.collectorIS = [];
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan saat memuat data collector");
            });
        },
        resetProductForm() {},
      };
    }
  </script>
</div>
<script src="/assets/js/pikaday.js"></script>
<script>
  var order = new Pikaday({
    field: document.getElementById("order"),
    onSelect: function (date) {
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();
      var result = `${day}-${month}-${year}`;
      document.getElementById("create").__x.$data.formData.order_date = result;
    },
  });

  var shipping = new Pikaday({
    field: document.getElementById("shipping"),
    onSelect: function (date) {
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();
      var result = `${day}-${month}-${year}`;
      document.getElementById(
        "create"
      ).__x.$data.formData.shipping_date = result;
    },
  });
</script>
{{ end }}
