<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .site_title }} - {{ .site_name }}</title>
    <link rel="stylesheet" href="/assets/css/tailwind.optimized.css" />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script src="/assets/js/alpine-magic-helper-component.js"></script>
    <script src="/assets/js/alpine.min.js" defer></script>
    <script src="/assets/js/init.js"></script>
  </head>
  <body>
    <div x-data="card()">
			<div class="items-center justify-center">
				<div x-show="order.ID == 0">
					Tidak dapat membuat kartu angsuran
				</div>
				<div x-show="order.ID > 0" class="border m-5" style="width: 210mm; height: 170mm;" :id="order.Code">
					
				</div>
			</div>
    </div>
    <script>
        function card() { 
        	return {
						order: {{ .order }},
					};
        }
    </script>
  </body>
</html>
