{{ define "dashboard_users_detail_modal" }}
<template x-ref="userDetail">
  <div
    x-init="watchData($watch, $dispatch); fetchById($dispatch);"
    x-data="fUseDetail($parent)"
    id="user_detail"
  >
    <div
      class="
        absolute
        top-0
        mt-3
        ml-3
        sm:mr-0
        text-sm
        md:text-lg
        font-semibold
        tracking-wide
        text-left text-gray-500
        uppercase
        dark:text-gray-400
      "
      x-text="'Kode #'+user.Username"
    ></div>
    <!-- Photo pengguna -->
    <div
      class="w-full h-48 flex flex-col justify-center items-center"
      x-show="typeof user.Avatar !== 'undefined'"
    >
      <div class="w-full relative">
        <div class="h-48 w-full flex items-center rounded-lg">
          <div
            class="relative cursor-pointer w-full h-full"
            @click="$dispatch('preview', {
                    html: '<img @click=\'closePreview()\' src=\'/file/profile/'+user.Avatar+'\' class=\'object-scale-down object w-full h-full\' />',
                    });"
          >
            <img
              class="object-scale-down w-full h-full object"
              :src="'/file/profile/'+user.Avatar"
              alt=""
              loading="lazy"
            />
            <div class="absolute inset-0 shadow-inner" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="
          text-xs
          font-semibold
          tracking-wide
          text-left text-gray-900
          uppercase
          border-b
          dark:border-gray-700
          bg-gray-50
          dark:text-gray-400
          dark:bg-gray-800
        "
      >
        <dt class="px-3 py-3">ID Unik</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nomor Kartu Keluarga
        </dt>
        <dd>
          <div
            class="w-full"
            x-show="updateFor !== 'familycard'"
            @dblclick="openUpdateForFamilyCard($nextTick);"
          >
            <span
              x-text="user.FamilyCardNumber"
              x-show="user.FamilyCardNumber !== ''"
            ></span>
            <span x-show="user.FamilyCardNumber == ''">-</span>
          </div>
          <input
            class="
              block
              w-full
              mt-1
              text-sm
              dark:border-gray-600
              dark:bg-gray-700
              focus:outline-none
            "
            type="text"
            id="edit-family-card"
            x-model="updateData.familycard"
            x-show="updateFor == 'familycard'"
            @click.away="if (updateFor == 'familycard') { updateFor = ''; }"
            @keydown.enter="updateFamilyCard($dispatch)"
          />
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nomor Induk Kependudukan
        </dt>
        <dd>
          <div
            class="w-full"
            x-show="updateFor !== 'residentcard'"
            @dblclick="openUpdateForResidentCard($nextTick);"
          >
            <span x-text="user.RIC" x-show="user.RIC !== ''"></span>
            <span x-show="user.RIC == ''">-</span>
          </div>
          <input
            class="
              block
              w-full
              mt-1
              text-sm
              dark:border-gray-600
              dark:bg-gray-700
              focus:outline-none
            "
            type="text"
            id="edit-resident-card"
            x-model="updateData.residentcard"
            x-show="updateFor == 'residentcard'"
            @click.away="if (updateFor == 'residentcard') { updateFor = ''; }"
            @keydown.enter="updateResidentCard($dispatch)"
          />
        </dd>
      </div>
    </dl>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="
          text-xs
          font-semibold
          tracking-wide
          text-left text-gray-900
          uppercase
          border-b
          dark:border-gray-700
          bg-gray-50
          dark:text-gray-400
          dark:bg-gray-800
        "
      >
        <dt class="px-3 py-3">Informasi Pengguna</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nama Lengkap
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <div
            class="w-full"
            x-text="user.Firstname + ' ' + user.Lastname"
            @dblclick="openUpdateForName($nextTick);"
            x-show="updateFor !== 'name'"
          ></div>
          <div
            x-show="updateFor == 'name'"
            @click.away="if (updateFor == 'name') { updateFor = ''; }"
            class="w-full flex flex-wrap"
          >
            <input
              class="
                w-1/2
                mt-1
                text-sm
                dark:border-gray-600
                dark:bg-gray-700
                focus:outline-none
              "
              type="text"
              id="edit-name"
              x-model="updateData.firstname"
              @keydown.enter="updateName($dispatch)"
              placeholder="Nama depan"
            />
            <input
              class="
                w-1/2
                mt-1
                text-sm
                dark:border-gray-600
                dark:bg-gray-700
                focus:outline-none
              "
              type="text"
              x-model="updateData.lastname"
              @keydown.enter="updateName($dispatch)"
              placeholder="Nama belakang"
            />
          </div>
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Kode</dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <div
            class="w-full"
            x-text="user.Username"
            @dblclick="openUpdateForUsername($nextTick);"
            x-show="updateFor !== 'username'"
          ></div>
          <input
            class="
              block
              w-full
              mt-1
              text-sm
              dark:border-gray-600
              dark:bg-gray-700
              focus:outline-none
            "
            type="text"
            id="edit-username"
            x-model="updateData.username"
            x-show="updateFor == 'username'"
            @click.away="if (updateFor == 'username') { updateFor = ''; }"
            @keydown.enter="updateUsername($dispatch)"
          />
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Kata Sandi</dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <div x-show="updateFor == 'password'">
            <a class="text-blue-500" href="#" @click="updatePassword($dispatch)"
              >Buat kata sandi</a
            >
          </div>
          <div x-show="updateFor !== 'password'">
            <div class="w-full" @dblclick.prevent="openUpdateForPwd();">
              <template x-if="!user.showPwd">
                <div class="select-none">
                  <span x-show="user.Password">********</span>
                  <span x-show="!user.Password">-</span>
                </div>
              </template>
              <template x-if="user.showPwd">
                <div
                  class="cursor-pointer"
                  x-text="user.pwd"
                  @click="$clipboard(user.pwd);"
                ></div>
              </template>
            </div>
          </div>
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Jenis Kelamin
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Gender == 'm'"
        >
          Laki-Laki
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Gender == 'f'"
        >
          Perempuan
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Pekerjaan</dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <div
            class="w-full"
            @dblclick="openUpdateForOccupation($nextTick);"
            x-show="updateFor !== 'occupation'"
          >
            <div class="w-full">
              <span
                x-show="user.Occupation != ''"
                x-text="user.Occupation"
              ></span>
              <span x-show="user.Occupation == ''">-</span>
            </div>
          </div>

          <input
            class="
              block
              w-full
              mt-1
              text-sm
              dark:border-gray-600
              dark:bg-gray-700
              focus:outline-none
            "
            type="text"
            id="edit-occupation"
            x-model="updateData.occupation"
            x-show="updateFor == 'occupation'"
            @click.away="if (updateFor == 'occupation') { updateFor = ''; }"
            @keydown.enter="updateOccupation($dispatch)"
          />
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Saldo</dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-text="user.Balance"
        ></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Peran</dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <select x-model="setRole" class="appearance-none bg-white pl-0 -ml-1">
            <template x-for="(name, index) in role" :key="index">
              <option :value="index" x-text="name"></option>
            </template>
          </select>
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Terdaftar Pada
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-text="user.CreatedAt"
        ></dd>
      </div>
    </dl>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="
          text-xs
          font-semibold
          tracking-wide
          text-left text-gray-900
          uppercase
          border-b
          dark:border-gray-700
          bg-gray-50
          dark:text-gray-400
          dark:bg-gray-800
        "
      >
        <dt class="px-3 py-3">Informasi Kontak</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          <span @click="addEmailShow = !addEmailShow;" class="hover:text-blue-500 cursor-pointer">Email</span>
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="emails.length > 0 && !addEmailShow"
        >
          <template x-for="(email, index) in emails" :key="index">
            <p
              @contextmenu.prevent="if (selectedEmail != email.ID) { selectedEmail = email.ID; } else { selectedEmail = null; }"
            >
              <a
                x-text="email.Email"
                x-show="selectedEmail != email.ID"
                :href="`mailto:${email.Email}`"
              ></a>
              <span
                @dblclick="deleteEmail($dispatch, email.ID);"
                x-text="email.Email"
                x-show="selectedEmail == email.ID"
                class="text-red-400 cursor-pointer"
              ></span>
            </p>
          </template>
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="emails.length == 0 && !addEmailShow"
        >
          -
        </dd>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0" x-show="addEmailShow">
          <input
            class="
              block
              w-full
              pr-20
              mt-1
              text-sm text-black
              dark:text-gray-300
              dark:border-gray-600
              dark:bg-gray-700
              focus:border-purple-400
              focus:outline-none
              focus:shadow-outline-purple
              dark:focus:shadow-outline-gray
              form-input
            "
            x-model="addEmailData.email"
            type="text"
            placeholder="Alamat email..."
            @keydown.enter="addEmail($dispatch); addEmailShow = false;"
          />
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          <span @click="addPhoneShow = !addPhoneShow;" class="hover:text-blue-500 cursor-pointer">Nomor Telepon</span>
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="phones.length > 0 && !addPhoneShow"
        >
          <template x-for="(phone, index) in phones" :key="index">
            <p
              @contextmenu.prevent="if (selectedPhone != phone.ID) { selectedPhone = phone.ID; } else { selectedPhone = null; }"
            >
              <a
                x-text="phone.Phone"
                x-show="selectedPhone != phone.ID"
                :href="`tel:${phone.Phone}`"
              ></a>
              <span
                @dblclick="deletePhone($dispatch, phone.ID);"
                x-text="phone.Phone"
                x-show="selectedPhone == phone.ID"
                class="text-red-400 cursor-pointer"
              ></span>
            </p>
          </template>
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="phones.length == 0 && !addPhoneShow"
        >
          -
        </dd>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0" x-show="addPhoneShow">
          <input
            class="
              block
              w-full
              pr-20
              mt-1
              text-sm text-black
              dark:text-gray-300
              dark:border-gray-600
              dark:bg-gray-700
              focus:border-purple-400
              focus:outline-none
              focus:shadow-outline-purple
              dark:focus:shadow-outline-gray
              form-input
            "
            x-model="addPhoneData.phone"
            type="text"
            placeholder="Nomor HP..."
            @keydown.enter="addPhone($dispatch); addPhoneShow = false;"
          />
        </dd>
      </div>
    </dl>

    <table class="w-full whitespace-no-wrap table-auto">
      <thead>
        <tr
          class="
            text-xs
            font-semibold
            tracking-wide
            text-left text-gray-900
            uppercase
            border-b
            dark:border-gray-700
            bg-gray-50
            dark:text-gray-400
            dark:bg-gray-800
          "
        >
          <th class="px-3 py-3">Informasi Alamat</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>

      <!-- Informasi alamat -->
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="(address, index) in addresses" :key="index">
          <tr
            class="cursor-pointer text-gray-600 dark:text-gray-400"
            @click="toEditAddress(address)"
            @dblclick="if (selectedAddress == address.ID) { deleteAddr($dispatch, address.ID); }"
            @contextmenu.prevent="if (selectedAddress != address.ID ) { selectedAddress = address.ID; } else { selectedAddress = null; }"
            :class="{ 'hover:bg-yellow-50': selectedAddress != address.ID ,'bg-orange-300 hover:bg-orange-200': selectedAddress == address.ID }"
          >
            <td class="px-4 py-1 align-top">
              <div
                class="relative"
                :class="{'edit': editAddressMask == address.ID }"
              >
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-semibold" x-text="address.Name"></p>
                    <p
                      class="text-xs text-gray-500 dark:text-gray-400"
                      x-text="address.Description"
                    ></p>
                  </div>
                </div>
              </div>
            </td>
            <td
              class="px-4 py-1 text-sm whitespace-normal break-words align-top"
              x-text="address.One + address.Two + ', ' + address.VillageName + ', ' + address.DistrictName + ', ' + address.CityName + ', ' + address.ProvinceName + ', ' +address.Zip"
            ></td>
          </tr>
        </template>

        <!-- Alamat belum di set -->
        <tr
          class="text-gray-700 dark:text-gray-400"
          x-show="addresses.length == 0"
        >
          <td class="px-4 py-1 text-sm leading-5 font-medium text-gray-500">
            Tidak ada alamat
          </td>
          <td></td>
        </tr>

        <!-- Tombol tambah alamat -->
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm align-top">
            <span class="text-blue-700 dark:text-blue-400">
              <a
                href="#"
                @click="Aao()"
                x-text="isAao ? '{{ .l_u_address_remove }}' : '{{ .l_u_address_add }}'"
                :class="{ 'text-red-500': isAao }"
              ></a
            ></span>
          </td>
          <td class="px-4 py-1 text-sm whitespace-normal break-words align-top">
            {{ template "dashboard_users_detail_add_address_modal" .}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  function addAddressDetail() {
    return {
      uid: null,
      //showSelected: null,
      formAddressOpen: false,
      errAddressName: false,
      errAddressDescription: false,
      errAddressOne: false,
      errAddressTwo: false,
      errAddressZip: false,
      errAddressProvince: false,
      errAddressCity: false,
      errAddressDistrict: false,
      errAddressVillage: false,
      errmAddressName: '',
      errmAddressDescription: '',
      errmAddressOne: '',
      errmAddressTwo: '',
      errmAddressZip: '',
      errmAddressProvince: '',
      errmAddressCity: '',
      errmAddressDistrict: '',
      errmAddressVillage: '',
      deleteAddressData: {
        id: null,
      },
      deleteAddress($dispatch, pid) {
        this.deleteAddressData.id = pid;
        fetch(`/api/v1/local/user/edit/${this.uid}/delete/address`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.deleteAddressData),
        })
        .then((res) => res.json())
        .then((json) => {
          if (json.addresses != null) {
            user = document.getElementById("user_detail").__x.$data;
            user.addresses = json.addresses;
          }

          if (json.addresses == null && json.status == "success") {
            user = document.getElementById("user_detail").__x.$data;
            user.addresses = [];
          }

          $dispatch('notif', {
            type: json.status,
            message: json.message,
          });

          if (json.error) {
            console.error(json.error);
          }

        })
        .catch((err) => {
          console.log(err)
        });
      },
      addAddressData: {
        name: '',
        description: '',
        one: '',
        two: '',
        zip: '',
        province: '',
        city: '',
        district: '',
        village: '',
      },
      editAddress: null,
      addAddressDisable: true,
      addAddressBtn: {{ .l_u_address_add_btn }},
      addAddress($dispatch) {
        this.addAddressBtn = "Loading. . .";
        this.addAddressDisable = true;
        if (this.editAddress == null) {
          link = `/api/v1/local/user/edit/${this.uid}/add/address`;
          method = "POST";
        } else {
          link = `/api/v1/local/user/edit/${this.uid}/update/address/${this.editAddress}`;
          method = "PATCH";
        }
        fetch(link, {
          method: method,
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.addAddressData),
        })
        .then((res) => res.json())
        .then((json) => {
          this.addAddressBtn = {{ .l_u_address_add_btn }}
          this.addAddressDisable = false
          if (json.name) {
            this.errAddressName = true;
            this.errmAddressName = json.name;
          } else {
            this.errAddressName = false;
            this.errmAddressName = '';
          }
          if (json.description) {
            this.errAddressDescription = true;
            this.errmAddressDescription = json.description;
          } else {
            this.errAddressDescription = false;
            this.errmAddressDescription = '';
          }
          if (json.one) {
            this.errAddressOne = true;
            this.errmAddressOne = json.one;
          } else {
            this.errAddressOne = false;
            this.errmAddressOne = '';
          }
          if (json.two) {
            this.errAddressTwo = true;
            this.errmAddressTwo = json.two;
          } else {
            this.errAddressTwo = false;
            this.errmAddressTwo = '';
          }
          if (json.zip) {
            this.errAddressZip = true;
            this.errmAddressZip = json.zip;
          } else {
            this.errAddressZip = false;
            this.errmAddressZip = '';
          }
          if (json.province) {
            this.errAddressProvince = true;
            this.errmAddressProvince = json.province;
          } else {
            this.errAddressProvince = false;
            this.errmAddressProvince = '';
          }
          if (json.city) {
            this.errAddressCity = true;
            this.errmAddressCity = json.city;
          } else {
            this.errAddressCity = false;
            this.errmAddressCity = '';
          }
          if (json.district) {
            this.errAddressDistrict = true;
            this.errmAddressDistrict = json.district;
          } else {
            this.errAddressDistrict = false;
            this.errmAddressDistrict = '';
          }
          if (json.village) {
            this.errAddressVillage = true;
            this.errmAddressVillage = json.village;
          } else {
            this.errAddressVillage = false;
            this.errmAddressVillage = '';
          }
          if (json.error) {
            $dispatch('notif', {type: 'error', message: json.error});
          } else if (json.success) {
            $dispatch('notif', {type: 'success', message: json.success});
            // meneruskan hasil (alamat) ke modal user
            document.getElementById("user_detail").__x.$data.addresses =
                json.addresses;
          }
        })
        .catch((err) => {
          console.log(err);
        });
      },

      initPlaces($watch) {
        $watch('addAddressData.province', (value) => {
          this.addAddressData.city = '';
          this.cities = [];
          if (value != "") {
            this.fetchCities();
          }
        });
        $watch('addAddressData.city', (value) => {
          this.addAddressData.district = '';
          this.districts = [];
          if (value != "") {
            this.fetchDistricts();
          }
        });
        $watch('addAddressData.district', (value) => {
          this.addAddressData.village = '';
          this.villages = [];
          if (value != "") {
            this.fetchVillages();
          }
        });
        this.fetchProvinces();
      },
      provinces: [],
      fetchProvinces() {
        fetch("/api/v1/local/address/provinces", {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.provinces = json.province
        })
        .catch((err) => {
          console.log(err)
        });
      },
      cities: [],
      fetchCities() {
        fetch("/api/v1/local/address/cities/"+this.addAddressData.province, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.cities = json.cities
        })
        .catch((err) => {
          console.log(err)
        });
      },
      districts: [],
      fetchDistricts() {
        fetch("/api/v1/local/address/districts/"+this.addAddressData.city, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.districts = json.districts
        })
        .catch((err) => {
          console.log(err)
        });
      },
      villages: [],
      fetchVillages() {
        fetch("/api/v1/local/address/villages/"+this.addAddressData.district, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.villages = json.villages
        })
        .catch((err) => {
          console.log(err)
        });
      },
    };
  }
</script>

<script>
  function fUseDetail($parent) {
    return {
      watchData($watch, $dispatch) {
        $watch("setRole", (value) => {
          if (this.counter > 0) {
            this.updateRole($dispatch, this.id, value);
          }
        });
      },
      id: $parent.modalTmp,
      user: {},
      emails: [],
      phones: [],
      addresses: [],
      loading: false,
      // Update
      updateData: {
        username: "",
        familycard: "",
        residentcard: "",
        firstname: "",
        lastname: "",
        occupation: "",
      },
      updateFor: "",
      role: [
        "Dev",
        "Admin",
        "Collector",
        "Driver",
        "Surveyor",
        "Sales",
        "Customer",
      ],
      // Set role sesuai dengan data saat fetch
      setRole: null,
      // untuk counter agar role tidak selalu di watch
      counter: 0,
      // Alamat yang dipilih
      selectedAddress: null,
      // Hapus alamat
      deleteAddr($dispatch, addrid) {
        address = document.getElementById("address").__x.$data;
        address.deleteAddress($dispatch, addrid);
      },

      selectedEmail: null,
      deleteEmailData: {
        id: null,
      },
      deleteEmail($dispatch, eid) {
        this.deleteEmailData.id = eid;
        fetch("/api/v1/local/user/edit/{{ .user.ID }}/delete/email", {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.deleteEmailData),
        })
          .then((res) => res.json())
          .then((json) => {
            
            if (json.error) {
              $dispatch("notif", { type: "error", message: json.error });
            } else if (json.success) {
              this.emails = json.emails;
              $dispatch("notif", { type: "success", message: json.success });
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      addEmailShow: false,
      addEmailData: {
        email: null,
      },
      addEmail($dispatch) {
        fetch("/api/v1/local/user/edit/{{ .user.ID }}/add/email", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.addEmailData),
        })
        .then((res) => res.json())
        .then((json) => {
          if (json.error) {
            $dispatch('notif', {type: 'error', message: json.error});
          } else if (json.success) {
            this.addEmailData.email = null;
            this.emails = json.emails;
            $dispatch('notif', {type: 'success', message: json.success});
          }
        })
        .catch((err) => {
          console.log(err)
        });
      },

      selectedPhone: null,
      deletePhoneData: {
        id: null,
      },
      deletePhone($dispatch, pid) {
        this.deletePhoneData.id = pid;
        fetch("/api/v1/local/user/edit/{{ .user.ID }}/delete/phone", {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.deletePhoneData),
        })
          .then((res) => res.json())
          .then((json) => {
            
            if (json.error) {
              $dispatch("notif", { type: "error", message: json.error });
            } else if (json.success) {
              this.phones = json.phones;
              $dispatch("notif", { type: "success", message: json.success });
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      addPhoneShow: false,
      addPhoneData: {
        phone: null,
      },
      addPhone($dispatch) {
        fetch("/api/v1/local/user/edit/{{ .user.ID }}/add/phone", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.addPhoneData),
        })
          .then((res) => res.json())
          .then((json) => {
            
            if (json.error) {
              $dispatch("notif", { type: "error", message: json.error });
            } else if (json.success) {
              this.addPhoneData.phone = null;
              this.phones = json.phones;
              $dispatch("notif", { type: "success", message: json.success });
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },

      openUpdateForUsername($nextTick) {
        this.updateFor = "username";
        this.updateData.username = this.user.Username;
        $nextTick(() => {
          document.getElementById(`edit-username`).select();
        });
      },

      openUpdateForOccupation($nextTick) {
        this.updateFor = "occupation";
        this.updateData.occupation = this.user.Occupation;
        $nextTick(() => {
          document.getElementById(`edit-occupation`).select();
        });
      },

      openUpdateForFamilyCard($nextTick) {
        this.updateFor = "familycard";
        this.updateData.familycard = this.user.FamilyCardNumber;
        $nextTick(() => {
          document.getElementById(`edit-family-card`).select();
        });
      },

      openUpdateForResidentCard($nextTick) {
        this.updateFor = "residentcard";
        this.updateData.residentcard = this.user.RIC;
        $nextTick(() => {
          document.getElementById(`edit-resident-card`).select();
        });
      },

      openUpdateForName($nextTick) {
        this.updateFor = "name";
        this.updateData.firstname = this.user.Firstname;
        this.updateData.lastname = this.user.Lastname;
        $nextTick(() => {
          document.getElementById(`edit-name`).select();
        });
      },

      openUpdateForPwd() {
        this.updateFor = "password";
      },

      updateFamilyCard($dispatch) {
        if (this.updateData.familycard.length < 1) {
          $dispatch("notif", {
            type: "error",
            message: "Nomor KK tidak boleh kosong",
          });
          return;
        }
        fetch(
          `/api/v1/local/user/edit/${this.id}/update/fc?set=${this.updateData.familycard}`,
          {
            method: "PATCH",
          }
        )
          .then((res) => res.json())
          .then((json) => {
            if (json.message) {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              this.user.FamilyCardNumber = this.updateData.familycard;
            }
          })
          .catch((err) => {
            console.log("Error: updateFamilyCard() " + err);
          });
      },

      updateResidentCard($dispatch) {
        if (this.updateData.residentcard.length < 1) {
          $dispatch("notif", {
            type: "error",
            message: "Nomor Induk Kependudukan tidak boleh kosong",
          });
          return;
        }
        fetch(
          `/api/v1/local/user/edit/${this.id}/update/ric?set=${this.updateData.residentcard}`,
          {
            method: "PATCH",
          }
        )
          .then((res) => res.json())
          .then((json) => {
            if (json.message) {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              this.user.RIC = this.updateData.residentcard;
            }
          })
          .catch((err) => {
            console.log("Error: updateResidentCard() " + err);
          });
      },

      updateUsername($dispatch) {
        if (this.updateData.username.length < 1) {
          $dispatch("notif", {
            type: "error",
            message: "Username tidak boleh kosong",
          });
          return;
        }
        fetch(
          `/api/v1/local/user/edit/${this.id}/update/username?set=${this.updateData.username}`,
          {
            method: "PATCH",
          }
        )
          .then((res) => res.json())
          .then((json) => {
            if (json.message) {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              this.user.Username = this.updateData.username;
            }
          })
          .catch((err) => {
            console.log("Error: updateUsername() " + err);
          });
      },

      updateOccupation($dispatch) {
        if (this.updateData.occupation.length < 1) {
          $dispatch("notif", {
            type: "error",
            message: "Pekerjaan tidak boleh kosong",
          });
          return;
        }
        fetch(
          `/api/v1/local/user/edit/${this.id}/update/occupation?set=${this.updateData.occupation}`,
          {
            method: "PATCH",
          }
        )
          .then((res) => res.json())
          .then((json) => {
            if (json.message) {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              this.user.Occupation = this.updateData.occupation;
            }
          })
          .catch((err) => {
            console.log("Error: updateOccupation() " + err);
          });
      },

      updateName($dispatch) {
        if (this.updateData.firstname.length < 1) {
          $dispatch("notif", {
            type: "error",
            message: "Nama depan tidak boleh kosong",
          });
          return;
        }
        fetch(
          `/api/v1/local/user/edit/${this.id}/update/name?firstname=${this.updateData.firstname}&lastname=${this.updateData.lastname}`,
          {
            method: "PATCH",
          }
        )
          .then((res) => res.json())
          .then((json) => {
            if (json.message) {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              user = document.getElementById("user_data").__x.$data;
              user.fetchUsersData($dispatch, false, "reload", true);
              this.user.Firstname = this.updateData.firstname;
              this.user.Lastname = this.updateData.lastname;
            }
          })
          .catch((err) => {
            console.log("Error: updateUsername() " + err);
          });
      },

      updatePassword($dispatch) {
        fetch(`/api/v1/local/user/edit/${this.id}/update/password`, {
          method: "PATCH",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.message != "") {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });
            }
            if (json.status == "success") {
              this.user.showPwd = true;
              this.user.pwd = json.pwd;
              this.updateFor = "";
            }
          })
          .catch((err) => {
            console.log(err);
            this.loading = false;
          });
      },

      fetchById($dispatch) {
        fetch(`/api/v1/local/user/id/${this.id}`, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.user == null) {
              $dispatch("notif", {
                type: "error",
                message:
                  "Sepertinya telah terjadi kesalahan saat memuat data pengguna",
              });
            } else {
              this.user = json.user;
              this.setRole = json.user.Role;
              for (i = 0; i < this.role.length; i++) {
                if (this.role[i] == json.user.Role) {
                  this.setRole = i;
                }
              }
              if (json.user.Emails) {
                this.emails = json.user.Emails;
              }
              if (json.user.Phones) {
                this.phones = json.user.Phones;
              }
              if (json.user.Addresses) {
                this.addresses = json.user.Addresses;
              }
              this.counter += 1;

              document.getElementById("address").__x.$data.uid = json.user.ID;
              document.getElementById(
                "address"
              ).__x.$data.addAddressDisable = false;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      updateRole($dispatch, uid, role) {
        fetch(`/api/v1/local/user/edit/${uid}/update/role?set=${role}`, {
          method: "PATCH",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }
            if (json.success) {
              $dispatch("notif", {
                type: "success",
                message: "Peran pengguna berhasil diubah",
              });
              user = document.getElementById("user_data").__x.$data;
              user.fetchUsersData($dispatch, false, "reload", true);
            }
          })
          .catch((err) => {
            console.log("Error: updateRole() " + err);
          });
      },
      isAao: false,
      Aao() {
        document.getElementById("address").__x.$data.addAddressBtn = "Tambah";
        document.getElementById("address").__x.$data.addAddressData = {
          name: "",
          description: "",
          one: "",
          two: "",
          zip: "",
          province: "",
          city: "",
          district: "",
          village: "",
        };
        document.getElementById("address").__x.$data.formAddressOpen =
          !document.getElementById("address").__x.$data.formAddressOpen;
        this.isAao =
          document.getElementById("address").__x.$data.formAddressOpen;
      },
      editAddressMask: null,
      toEditAddress(address) {
        document.getElementById("address").__x.$data.addAddressBtn = "Sunting";
        if (
          document.getElementById("address").__x.$data.editAddress !==
          address.ID
        ) {
          document.getElementById("address").__x.$data.editAddress = address.ID;
          this.editAddressMask = address.ID;
          document.getElementById("address").__x.$data.addAddressData = {
            name: address.Name,
            description: address.Description,
            one: address.One,
            two: address.Two,
            zip: address.Zip,
            province: address.Province,
            city: "",
            district: "",
            village: "",
          };
          document.getElementById("address").__x.$data.fetchCities();
          document.getElementById("address").__x.$data.formAddressOpen = true;
          this.isAao = true;
        } else {
          document.getElementById("address").__x.$data.editAddress = null;
          this.editAddressMask = null;
          document.getElementById("address").__x.$data.addAddressData = {
            name: "",
            description: "",
            one: "",
            two: "",
            zip: "",
            province: "",
            city: "",
            district: "",
            village: "",
          };
          document.getElementById("address").__x.$data.formAddressOpen = false;
          this.isAao = false;
        }
      },
    };
  }
</script>
{{ end }}
