{{ template "base" .}} {{ define "dashboard_orders_add_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Buat Order
</h2>

<div class="grid gap-6 mb-8">
  <!-- Produk baru -->
  <div class="p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
    <div x-data="create()" id="create">
      <div x-show="!orderCreated">
        <div class="w-full relative md:w-2/3 md:px-1">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Konsumen</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="Nomor Induk Kependudukan (NIK)"
              x-model="formData.customer"
              @keydown.enter="submitData($dispatch)"
              @keyup="if (formData.customer.length > 5) { closeCustomerIS = false; searchNIK(); } else { closeCustomerIS = true; }"
              @click.away="closeCustomerIS = true;"
              :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errName }"
            />
          </label>
          <ul
            x-transition:leave="transition ease-in duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            x-show="!closeCustomerIS"
            class="absolute left-0 right-0 -mt-1 md:mr-1 md:ml-1 text-gray-600 bg-white border-none border-r border-l border-b border-gray-100 rounded-br-md rounded-bl-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
            aria-label="submenu"
          >
            <div x-show="customerIS.length > 0">
              <template x-for="(customer, index) in customerIS" :key="index">
                <li class="flex">
                  <a
                    class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                    href="#"
                  >
                    <svg
                      class="w-4 h-4 mr-3"
                      aria-hidden="true"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                      ></path>
                    </svg>
                    <span x-text="customer.Firstname +' '+ customer.Lastname"></span>
                  </a>
                </li>
              </template>
            </div>
            <div x-show="customerIS.length == 0">
              <span
                class="inline-flex items-center w-full px-3 py-1 text-sm transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                >Tidak ada data</span
              >
            </div>
          </ul>
        </div>
        <div class="flex flex-wrap mb-6">
          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Sales</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder=""
                x-model="formData.sales"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errName }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmName"
              :class="{'invisible': errName == false}"
            >
            </span>
          </div>

          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Surveyor</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder=""
                x-model="formData.surveyor"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errBrand }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmBrand"
              :class="{'invisible': errBrand == false}"
            >
            </span>
          </div>

          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Kolektor</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder=""
                x-model="formData.collector"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errType }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmType"
              :class="{'invisible': errType == false}"
            >
            </span>
          </div>

          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Kode Produk</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="SKU"
                x-model="formData.code"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCode }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmCode"
              :class="{'invisible': errCode == false}"
            >
            </span>
          </div>

          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Harga Beli</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Harga dari Pabrik"
                x-model="formData.base_price"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errBasePrice }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmBasePrice"
              :class="{'invisible': errBasePrice == false}"
            >
            </span>
          </div>

          <div class="w-full md:w-1/3 md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Harga Jual</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="Harga Jual ke Konsumen"
                x-model="formData.price"
                @keydown.enter="submitData($dispatch)"
                :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errPrice }"
              />
            </label>
            <span
              class="text-xs text-red-600 dark:text-red-400"
              x-text="errmPrice"
              :class="{'invisible': errPrice == false}"
            >
            </span>
          </div>
        </div>

        <!--
        <div>
          <div class="w-full md:px-1">
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Harga Kredit
              </span>
              <div
                class="flex flex-wrap mt-1 relative text-gray-500 focus-within:text-purple-600"
              >
                <input
                  class="block rounded-none rounded-l-sm w-2/12 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="Tenor"
                  x-model="duration"
                  @keydown.enter="addKP($dispatch)"
                />
                <input
                  class="block rounded-none w-10/12 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="Cicilan per bulan"
                  x-model="price"
                  @keydown.enter="addKP($dispatch)"
                />
                <button
                  class="absolute h-full bottom-0 right-0 px-4 text-sm text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-r-sm active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  @click="addKP($dispatch)"
                >
                  tambah
                </button>
              </div>
            </label>
          </div>

          <dl
            class="w-full whitespace-no-wrap"
            x-show="formData.credit_price.length > 0"
          >
            <div
              class="sm:grid sm:grid-cols-2 text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <dt class="px-3 py-3">Tenor</dt>
              <dd class="px-3 py-3">Angsuran</dd>
            </div>
            <template
              x-for="(credit, index) in formData.credit_price"
              :key="index"
            >
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt
                  class="text-sm leading-5 font-medium text-gray-500"
                  x-text="credit.duration + ' Bulan'"
                ></dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="'Rp.' + Number(credit.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3); + ' / bulan'"
                ></dd>
              </div>
            </template>
          </dl>
        </div>
        -->

        <button
          type="submit"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          @click="submitData($dispatch)"
          :disabled="loading == true"
          x-text="loadingText"
          :class="{'cursor-not-allowed opacity-50': loading == true }"
        ></button>
      </div>

      <!--
      <div x-show="orderCreated">
        <div
          class="absolute top-0 mt-4 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
          x-text="'Kode #'+product.Code"
        ></div>
        <div
          class="w-full h-48 flex flex-col justify-center items-center"
          :class="{ 'mb-4': photos.length > 1 }"
        >
          <div class="w-full relative">
            <template x-for="(photo, index) in photos" :key="index">
              <div
                x-show="activeSlide === index + 1"
                class="h-48 w-full flex items-center rounded-lg"
              >
                <div class="relative w-full h-full">
                  <img
                    class="object-scale-down w-full h-full"
                    :src="'/file/product/'+photo.Photo"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
              </div>
            </template>
            <div class="absolute inset-0 flex" x-show="photos.length > 1">
              <div class="flex items-center justify-start w-1/2">
                <button
                  class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6"
                  x-on:click="activeSlide = activeSlide === 1 ? photos.length : activeSlide - 1"
                >
                  &#8592;
                </button>
              </div>
              <div class="flex items-center justify-end w-1/2">
                <button
                  class="bg-teal-100 text-teal-500 hover:text-orange-500 font-bold hover:shadow rounded-full w-12 h-12 -mr-6"
                  x-on:click="activeSlide = activeSlide === photos.length ? 1 : activeSlide + 1"
                >
                  &#8594;
                </button>
              </div>
            </div>
            <div
              class="absolute w-full flex items-center justify-center px-4 mb-4"
              x-show="photos.length > 1"
            >
              <template x-for="(_,index) in photos" :key="index">
                <button
                  class="flex-1 w-4 h-2 mt-4 mx-2 rounded-full overflow-hidden transition-colors duration-200 ease-out hover:bg-teal-600 hover:shadow-lg"
                  :class="{ 
                        'bg-orange-600': activeSlide === index + 1,
                        'bg-teal-300': activeSlide !== index + 1 
                      }"
                  x-on:click="activeSlide = index + 1"
                ></button>
              </template>
            </div>
          </div>
        </div>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Informasi Produk</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Nama Barang
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.Name"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Brand</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Brand != ''"
              x-text="product.Brand"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Brand == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Tipe</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Type != ''"
              x-text="product.Type"
            ></dd>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-show="product.Type == ''"
            >
              -
            </dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Tanggal Ditambahkan
            </dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.CreatedAt"
            ></dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Harga Produk</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Beli</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.BasePrice"
            ></dd>
          </div>
          <div class="px-4 py-1 sm:grid sm:grid-cols-2">
            <dt class="text-sm leading-5 font-medium text-gray-500">Jual</dt>
            <dd
              class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
              x-text="product.Price"
            ></dd>
          </div>
        </dl>

        <dl class="w-full whitespace-no-wrap" x-show="creditPrice.length > 0">
          <div
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <dt class="px-3 py-3">Harga Kredit</dt>
            <dd class="px-4 sm:px-0"></dd>
          </div>
          <template x-for="(credit, index) in creditPrice" :key="index">
            <div class="px-4 py-1 sm:grid sm:grid-cols-2">
              <dt
                class="text-sm leading-5 font-medium text-gray-500"
                x-text="credit.Duration + ' bulan'"
              ></dt>
              <dd
                class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                x-text="credit.Price + ' / Bulan'"
              ></dd></div
          ></template>
        </dl>
        <label class="block mt-4 text-sm">
          <span class="text-blue-700 dark:text-blue-400">
            <a href="#" @click="resetProductForm()" class="text-red-500"
              >Reset</a
            ></span
          >
        </label>
      </div>
      -->
    </div>
  </div>

  <script>
    function create() {
      return {
        formData: {
          customer: "",
          name: "",
          code: "",
          brand: "",
          type: "",
          base_price: "",
          price: "",
          photos: [],
          credit_price: [],
        },
        orderCreated: false,
        closeCustomerIS: true,
        customerIS: [],
        loadingText: "Tambahkan Produk",
        loading: false,
        duration: null,
        price: null,
        product: [],
        creditPrice: [],
        notifStatus: "",
        errName: false,
        errmName: "",
        errCode: false,
        errmCode: "",
        errBrand: false,
        errmBrand: "",
        errType: false,
        errmType: "",
        errBasePrice: false,
        errmBasePrice: "",
        errPrice: false,
        errmPrice: "",

        submitData($dispatch) {
          this.loadingText = "Loading...";
          this.loading = true;

          fetch("/api/v1/local/product/add", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(this.formData),
          })
            .then((res) => res.json())
            .then((data) => {
              this.loadingText = "Tambahkan Produk";
              this.loading = false;
              if (data.name) {
                this.errName = true;
                this.errmName = data.name;
              } else {
                this.errName = false;
                this.errmName = "";
              }
              if (data.code) {
                this.errCode = true;
                this.errmCode = data.code;
              } else {
                this.errCode = false;
                this.errmCode = "";
              }
              if (data.brand) {
                this.errBrand = true;
                this.errmBrand = data.brand;
              } else {
                this.errBrand = false;
                this.errmBrand = "";
              }
              if (data.type) {
                this.errType = true;
                this.errmType = data.Type;
              } else {
                this.errType = false;
                this.errmType = "";
              }
              if (data.baseprice) {
                this.errBasePrice = true;
                this.errmBasePrice = data.baseprice;
              } else {
                this.errBasePrice = false;
                this.errmBasePrice = "";
              }
              if (data.price) {
                this.errPrice = true;
                this.errmPrice = data.price;
              } else {
                this.errPrice = false;
                this.errmPrice = "";
              }

              if (data.status == "error") {
                this.notifStatus = "error";
              }
              if (data.status == "fail") {
                this.notifStatus = "fail";
              }
              if (data.status == "success") {
                this.notifStatus = "success";
                this.productCreated = true;
                this.product = data.product;
                if (data.product.CreditPrice != null) {
                  this.creditPrice = data.product.CreditPrice;
                } else {
                  this.creditPrice = [];
                }
              }

              if (data.message) {
                $dispatch("notif", {
                  type: this.notifStatus,
                  message: data.message,
                });
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan");
            });
        },
        searchNIK() {
          fetch(
            `/api/v1/local/user/search/ric/10?search=${this.formData.customer}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          )
            .then((res) => res.json())
            .then((data) => {
              if (data.message) {
                $dispatch("notif", {
                  type: "error",
                  message: data.error,
                });
              }
              if (data.users) {
                this.customerIS = data.users;
              } else {
                this.customerIS = [];
              }
            })
            .catch(() => {
              this.loading = false;
              console.log("Telah terjadi kesalahan saat memuat data customer");
            });
        },
        resetProductForm() {
          this.productCreated = false;
          this.product = [];
          this.formData = {
            name: "",
            code: "",
            brand: "",
            type: "",
            base_price: "",
            price: "",
            credit_price: [],
            photos: [],
          };
          this.photos = [
            {
              ID: 0,
              Photo: "no-photo.png",
            },
          ];
          this.creditPrice = [];
          this.activeSlide = 1;
        },
      };
    }
  </script>
</div>

{{ end }}
