{{ define "dashboard_users_detail_modal" }}
<template x-ref="userDetail">
  <div
    x-init="watchData($watch, $dispatch); fetchById($dispatch);"
    x-data="fUseDetail($parent)"
    id="user_detail"
  >
    <div
      class="absolute top-0 mt-3 ml-3 sm:mr-0 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
      x-text="'Kode #'+user.Username"
    ></div>
    <!-- Photo pengguna -->
    <div
      class="w-full h-48 flex flex-col justify-center items-center"
      x-show="typeof user.Avatar !== 'undefined'"
    >
      <div class="w-full relative">
        <div class="h-48 w-full flex items-center rounded-lg">
          <div
            class="relative cursor-pointer w-full h-full"
            @click="$dispatch('preview', {
                    html: '<img @click=\'closePreview()\' src=\'/file/profile/'+user.Avatar+'\' class=\'object-scale-down object w-full h-full\' />',
                    });"
          >
            <img
              class="object-scale-down w-full h-full object"
              :src="'/file/profile/'+user.Avatar"
              alt=""
              loading="lazy"
            />
            <div class="absolute inset-0 shadow-inner" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
      >
        <dt class="px-3 py-3">ID Unik</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nomor Kartu Keluarga
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.FamilyCardNumber != ''"
          x-text="user.FamilyCardNumber"
        ></dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.FamilyCardNumber == ''"
        >
          -
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nomor Induk Kependudukan
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.RIC != ''"
          x-text="user.RIC"
        ></dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.RIC == ''"
        >
          -
        </dd>
      </div>
    </dl>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
      >
        <dt class="px-3 py-3">Informasi Pengguna</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nama Lengkap
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-text="user.Firstname + ' ' + user.Lastname"
        ></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Jenis Kelamin
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Gender == 'm'"
        >
          Laki-Laki
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Gender == 'f'"
        >
          Perempuan
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Pekerjaan</dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Occupation != ''"
          x-text="user.Occupation"
        ></dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="user.Occupation == ''"
        >
          -
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Saldo</dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-text="user.Balance"
        ></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Peran</dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0">
          <select x-model="setRole">
            <template x-for="(name, index) in role" :key="index">
              <option :value="index" x-text="name"></option>
            </template>
          </select>
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Terdaftar Pada
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-text="user.CreatedAt"
        ></dd>
      </div>
    </dl>

    <dl class="w-full whitespace-no-wrap">
      <div
        class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
      >
        <dt class="px-3 py-3">Informasi Kontak</dt>
        <dd class="px-4 sm:px-0"></dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">Email</dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="emails.length > 0"
        >
          <template x-for="(email, index) in emails" :key="index">
            <p x-text="email.Email"></p>
          </template>
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="emails.length == 0"
        >
          -
        </dd>
      </div>
      <div class="px-4 py-1 sm:grid sm:grid-cols-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Nomor Telepon
        </dt>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="phones.length > 0"
        >
          <template x-for="(phone, index) in phones" :key="index">
            <p x-text="phone.Phone"></p>
          </template>
        </dd>
        <dd
          class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
          x-show="phones.length == 0"
        >
          -
        </dd>
      </div>
    </dl>

    <table class="w-full whitespace-no-wrap table-auto">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">Informasi Alamat</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>

      <!-- Informasi alamat -->
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="(address, index) in addresses" :key="index">
          <tr
            class="cursor-pointer text-gray-600 dark:text-gray-400"
            @dblclick="if (selectedAddress == address.ID) { deleteAddr($dispatch, address.ID); }"
            @contextmenu.prevent="if (selectedAddress != address.ID ) { selectedAddress = address.ID; } else { selectedAddress = null; }"
            :class="{ 'hover:bg-yellow-50': selectedAddress != address.ID ,'bg-orange-300 hover:bg-orange-200': selectedAddress == address.ID }"
          >
            <td class="px-4 py-1 align-top">
              <div class="relative">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-semibold" x-text="address.Name"></p>
                    <p
                      class="text-xs text-gray-500 dark:text-gray-400"
                      x-text="address.Description"
                    ></p>
                  </div>
                </div>
              </div>
            </td>
            <td
              class="px-4 py-1 text-sm whitespace-normal break-words align-top"
              x-text="address.One + address.Two + ', ' + address.VillageName + ', ' + address.DistrictName + ', ' + address.CityName + ', ' + address.ProvinceName + ', ' +address.Zip"
            ></td>
          </tr>
        </template>

        <!-- Alamat belum di set -->
        <tr
          class="text-gray-700 dark:text-gray-400"
          x-show="addresses.length == 0"
        >
          <td class="px-4 py-1 text-sm leading-5 font-medium text-gray-500">
            Tidak ada alamat
          </td>
          <td></td>
        </tr>

        <!-- Tombol tambah alamat -->
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm align-top">
            <span class="text-blue-700 dark:text-blue-400">
              <a
                href="#"
                @click="Aao()"
                x-text="isAao ? '{{ .l_u_address_remove }}' : '{{ .l_u_address_add }}'"
                :class="{ 'text-red-500': isAao }"
              ></a
            ></span>
          </td>
          <td class="px-4 py-1 text-sm whitespace-normal break-words align-top">
            {{ template "dashboard_users_detail_add_address_modal" .}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  function addAddressDetail() {
    return {
      uid: null,
      showSelected: null,
      addAddressOpen: false,
      errAddressName: false,
      errAddressDescription: false,
      errAddressOne: false,
      errAddressTwo: false,
      errAddressZip: false,
      errAddressProvince: false,
      errAddressCity: false,
      errAddressDistrict: false,
      errAddressVillage: false,
      errmAddressName: '',
      errmAddressDescription: '',
      errmAddressOne: '',
      errmAddressTwo: '',
      errmAddressZip: '',
      errmAddressProvince: '',
      errmAddressCity: '',
      errmAddressDistrict: '',
      errmAddressVillage: '',
      deleteAddressData: {
        id: null,
      },
      deleteAddress($dispatch, pid) {
        this.deleteAddressData.id = pid;
        fetch(`/api/v1/local/user/edit/${this.uid}/delete/address`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.deleteAddressData),
        })
        .then((res) => res.json())
        .then((json) => {
          if (json.addresses != null) {
            user = document.getElementById("user_detail").__x.$data;
            user.addresses = json.addresses;
          }

          if (json.addresses == null && json.status == "success") {
            user = document.getElementById("user_detail").__x.$data;
            user.addresses = [];
          }

          $dispatch('notif', {
            type: json.status,
            message: json.message,
          });

          if (json.error) {
            alert(json.error);
          }

        })
        .catch((err) => {
          console.log(err)
        });
      },
      addAddressData: {
        name: '',
        description: '',
        one: '',
        two: '',
        zip: '',
        province: '',
        city: '',
        district: '',
        village: '',
      },
      addAddressDisable: true,
      addAddressBtn: {{ .l_u_address_add_btn }},
      addAddress($dispatch) {
        this.addAddressBtn = "Loading. . .";
        this.addAddressDisable = true;
        fetch(`/api/v1/local/user/edit/${this.uid}/add/address`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.addAddressData),
        })
        .then((res) => res.json())
        .then((json) => {
          this.addAddressBtn = {{ .l_u_address_add_btn }}
          this.addAddressDisable = false
          if (json.name) {
            this.errAddressName = true;
            this.errmAddressName = json.name;
          } else {
            this.errAddressName = false;
            this.errmAddressName = '';
          }
          if (json.description) {
            this.errAddressDescription = true;
            this.errmAddressDescription = json.description;
          } else {
            this.errAddressDescription = false;
            this.errmAddressDescription = '';
          }
          if (json.one) {
            this.errAddressOne = true;
            this.errmAddressOne = json.one;
          } else {
            this.errAddressOne = false;
            this.errmAddressOne = '';
          }
          if (json.two) {
            this.errAddressTwo = true;
            this.errmAddressTwo = json.two;
          } else {
            this.errAddressTwo = false;
            this.errmAddressTwo = '';
          }
          if (json.zip) {
            this.errAddressZip = true;
            this.errmAddressZip = json.zip;
          } else {
            this.errAddressZip = false;
            this.errmAddressZip = '';
          }
          if (json.province) {
            this.errAddressProvince = true;
            this.errmAddressProvince = json.province;
          } else {
            this.errAddressProvince = false;
            this.errmAddressProvince = '';
          }
          if (json.city) {
            this.errAddressCity = true;
            this.errmAddressCity = json.city;
          } else {
            this.errAddressCity = false;
            this.errmAddressCity = '';
          }
          if (json.district) {
            this.errAddressDistrict = true;
            this.errmAddressDistrict = json.district;
          } else {
            this.errAddressDistrict = false;
            this.errmAddressDistrict = '';
          }
          if (json.village) {
            this.errAddressVillage = true;
            this.errmAddressVillage = json.village;
          } else {
            this.errAddressVillage = false;
            this.errmAddressVillage = '';
          }
          if (json.error) {
            $dispatch('notif', {type: 'error', message: json.error});
          } else if (json.success) {
            $dispatch('notif', {type: 'success', message: json.success});
            // meneruskan hasil (alamat) ke modal user
            document.getElementById("user_detail").__x.$data.addresses =
                json.addresses;
          }
        })
        .catch((err) => {
          console.log(err);
        });
      },
      initPlaces($watch) {
        $watch('addAddressData.province', (value) => {
          this.addAddressData.city = '';
          this.cities = [];
          if (value != "") {
            this.fetchCities();
          }
        });
        $watch('addAddressData.city', (value) => {
          this.addAddressData.district = '';
          this.districts = [];
          if (value != "") {
            this.fetchDistricts();
          }
        });
        $watch('addAddressData.district', (value) => {
          this.addAddressData.village = '';
          this.villages = [];
          if (value != "") {
            this.fetchVillages();
          }
        });
        this.fetchProvinces();
      },
      provinces: [],
      fetchProvinces() {
        fetch("/api/v1/local/address/provinces", {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.provinces = json.province
        })
        .catch((err) => {
          console.log(err)
        });
      },
      cities: [],
      fetchCities() {
        fetch("/api/v1/local/address/cities/"+this.addAddressData.province, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.cities = json.cities
        })
        .catch((err) => {
          console.log(err)
        });
      },
      districts: [],
      fetchDistricts() {
        fetch("/api/v1/local/address/districts/"+this.addAddressData.city, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.districts = json.districts
        })
        .catch((err) => {
          console.log(err)
        });
      },
      villages: [],
      fetchVillages() {
        fetch("/api/v1/local/address/villages/"+this.addAddressData.district, {
          method: "GET",
        })
        .then((res) => res.json())
        .then((json) => {
          this.villages = json.villages
        })
        .catch((err) => {
          console.log(err)
        });
      },
    };
  }
</script>

<script>
  function fUseDetail($parent) {
    return {
      watchData($watch, $dispatch) {
        $watch("setRole", (value) => {
          if (this.counter > 0) {
            this.updateRole($dispatch, this.id, value);
          }
        });
      },
      id: $parent.modalTmp,
      user: [],
      emails: [],
      phones: [],
      addresses: [],
      role: [
        "Dev",
        "Admin",
        "Collector",
        "Driver",
        "Surveyor",
        "Sales",
        "Customer",
      ],
      // Set role sesuai dengan data saat fetch
      setRole: null,
      // untuk counter agar role tidak selalu di watch
      counter: 0,
      // Alamat yang dipilih
      selectedAddress: null,
      // Hapus alamat
      deleteAddr($dispatch, addrid) {
        address = document.getElementById("address").__x.$data;
        address.deleteAddress($dispatch, addrid);
      },

      fetchById($dispatch) {
        fetch(`/api/v1/local/user/id/${this.id}`, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.user == null) {
              $dispatch("notif", {
                type: "error",
                message:
                  "Sepertinya telah terjadi kesalahan saat memuat data pengguna",
              });
            } else {
              this.user = json.user;
              this.setRole = json.user.Role;
              for (i = 0; i < this.role.length; i++) {
                if (this.role[i] == json.user.Role) {
                  this.setRole = i;
                }
              }
              if (json.user.Emails) {
                this.emails = json.user.Emails;
              }
              if (json.user.Phones) {
                this.phones = json.user.Phones;
              }
              if (json.user.Addresses) {
                this.addresses = json.user.Addresses;
              }
              this.counter += 1;

              document.getElementById("address").__x.$data.uid = json.user.ID;
              document.getElementById(
                "address"
              ).__x.$data.addAddressDisable = false;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      updateRole($dispatch, uid, role) {
        fetch(`/api/v1/local/user/edit/${uid}/update/role?set=${role}`, {
          method: "PATCH",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }
            if (json.success) {
              $dispatch("notif", {
                type: "success",
                message: "Peran pengguna berhasil diubah",
              });
              user = document.getElementById("user_data").__x.$data;
              user.fetchUsersData($dispatch, false, "reload", true);
            }
          })
          .catch((err) => {
            console.log("Error: updateRole() " + err);
          });
      },
      isAao: false,
      Aao() {
        document.getElementById(
          "address"
        ).__x.$data.addAddressOpen = !document.getElementById("address").__x
          .$data.addAddressOpen;
        this.isAao = document.getElementById(
          "address"
        ).__x.$data.addAddressOpen;
      },
    };
  }
</script>
{{ end }}
