{{ template "base" .}}

<!-- Halaman order id -->
{{ define "dashboard_orders_receipt_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-500 dark:text-gray-200"
>
  Order ID #{{ .code }}
</h2>

<!-- Daftar Order -->
<div
  x-data="OrderReceipt()"
  x-init="initPrinter()"
  class="w-full mb-8 overflow-hidden"
>
  <!-- LOADING -->
  <template x-if="loading">
    <div
      class="w-full h-full overflow-y-hidden overflow-x-hidden fixed block top-0 left-0 bg-black bg-opacity-75 z-50"
    >
      <span
        class="w-full flex flex-wrap justify-center content-center items-center opacity-100 relative"
        style="top: 42%"
      >
        <div class="block lds-ripple">
          <div></div>
          <div></div>
        </div>
        <div class="w-1/3">
          <div class="relative pt-1">
            <div class="flex mb-2 items-center justify-between">
              <div>
                <span
                  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200"
                  x-text="loadingText"
                >
                </span>
              </div>
              <div class="text-right">
                <span
                  class="text-xs font-bold inline-block text-pink-600"
                  x-text="`100%`"
                >
                </span>
              </div>
            </div>
            <div
              class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200"
            >
              <div
                :style="`width: 100%;`"
                class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"
              ></div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </template>
  <div>
    <div style="text-align: center">
      <div>
        <template x-if="printerReady()">
          <div>
            <!-- Pilih printer -->
            <div>
              <label for="PrinterName">Pilih printer secara manual:</label>
              <select x-model="selectedPrinter">
                <option>Default</option>
                <template x-if="clientPrinters !== null">
                  <template
                    x-for="(printer, idx) in clientPrinters"
                    :key="printer"
                  >
                    <option
                      x-text="printer.name"
                      :value="printer.name"
                      @click="printerChange(idx);"
                    ></option>
                  </template>
                </template>
              </select>
              <span class="block text-gray-500" x-show="lastPrinter != ''">
                Printer terakhir:
                <b
                  x-text="lastPrinter"
                  :class="{'text-red-500': removeLastPrinter }"
                  class="cursor-pointer"
                  @contextmenu.prevent="removeLastPrinter = true;"
                  @dblclick="if (removeLastPrinter) { setLastPrinter(''); }"
                ></b>
              </span>
            </div>

            <!-- Pilih kertas -->
            <template x-if="printerPapers !== null">
              <div>
                <label for="PrinterName">Ukuran kertas:</label>
                <select x-model="selectedPaper">
                  <option>Default</option>
                  <template x-for="paper in printerPapers" :key="paper">
                    <option x-text="paper" :value="paper"></option>
                  </template>
                </select>
                <span class="block text-gray-500" x-show="lastPrinter != ''">
                  Kertas terakhir:
                  <b
                    x-text="lastPaper"
                    :class="{'text-red-500': removeLastPaper }"
                    class="cursor-pointer"
                    @contextmenu.prevent="removeLastPaper = true;"
                    @dblclick="if (removeLastPaper) { setLastPaper(''); }"
                  ></b>
                </span>
              </div>
            </template>
          </div>
        </template>
        <template x-if="!printerReady()">
          <span>Sedang mempersiapkan printer...</span>
        </template>
      </div>
    </div>
    <div class="w-full overflow-x-auto overflow-y-auto">
      <template
        x-if="monthlyCredit !== null"
        x-for="(monthly, index) in monthlyCredit"
        :key="monthly.ID"
      >
        <div
          class="w-full relative lg:flex lg:items-center lg:justify-center z-10"
        >
          <div
            class="relative m-5 flex flex-wrap content-center items-center paper"
            style="width: 240mm; height: 155mm"
            @contextmenu.prevent="if (selected !== monthly.ID) { selected = monthly.ID; } else { selected = null; }"
            :class="{'bg-green-50': monthly.Done, 'bg-white': !monthly.Done, 'bg-orange-50': monthly.Printed && !monthly.Done, 'opacity-25': future(monthly.DueDate) && !monthly.Done && !monthly.Printed && selected != monthly.ID }"
          >
            <template x-if="selected == monthly.ID">
              <div
                class="w-full h-full bg-black absolute inset-0 bg-opacity-75 z-20 m-auto"
              >
                <div class="w-full h-full flex justify-center items-center">
                  <button
                    class="inline-flex shadow text-white text-sm py-2 px-5"
                    @click="if (printerReady()) { loading = true; printReceipt(monthly); }"
                    :class="{'cursor-pointer bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none': printerReady(), 'bg-blue-200 cursor-default': !printerReady() }"
                  >
                    {{ template "_svg_icon_printer" }} Print
                  </button>
                </div>
              </div>
            </template>
            <div
              class="w-full h-full relative antialiased"
              :id="monthly.Code"
              :class="{'printed': monthly.Printed }"
            >
              <div class="absolute z-10 inset-0">
                <div class="w-full h-full p-10">
                  <div class="w-full h-full tracking-wide items-center font-normal font-sans">
                    <div class="w-full flex flex-row text-left px-4">
                      <div class="w-3/5 relative">
                        <span
                          class="block pl-30 text-3xl font-extrabold tracking-wider"
                          style="font-family: 'Lapica'"
                          >NAZWA ELEKTRONIK</span
                        >
                        <div class="leading-5 pt-2">
                          <p class="text-base">
                            Jalan Raya Cihaur - Bojongsari - Jampangkulon 43178
                          </p>
                          <p class="text-base">
                            Telp. 0858-6355-5270 / 0815-6346-5840
                          </p>
                          <p class="text-base">
                            website
                            <a href="https://cvnazwa.com" class="underline"
                              >https://cvnazwa.com</a
                            >
                          </p>
                          <div class="w-24 h-12 top-0 absolute ml-2 mt-1">
                            <img
                              src="/assets/img/logo.svg"
                              class="object-cover w-full h-full"
                              loading="lazy"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="w-2/5 relative">
                        <!--
                    <div class="top-0 right-0 absolute">
                      <img
                        :src="`data:image/png;base64,${monthly.QR}`"
                        class="object-cover w-full h-full"
                        loading="lazy"
                      />
                    </div>
                    -->
                        <div class="font-semibold text-lg">K W I T A N S I</div>
                        <table class="w-full table-fixed">
                          <tr>
                            <th class="w-2/5 align-top font-normal">
                              <template x-if="monthly.Nth == 0">
                                <span>Pembayaran</span>
                              </template>
                              <template x-if="monthly.Nth > 0">
                                <span>Angsuran Ke</span>
                              </template>
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span>
                              <template x-if="monthly.Nth > 0">
                                <span
                                  style="width: 97%"
                                  class="font-bold pl-8"
                                  x-text="`${monthly.Nth}`"
                                ></span>
                              </template>
                              <template x-if="monthly.Nth == 0">
                                <span
                                  style="width: 97%"
                                  class="font-bold text-center bg-black text-white"
                                  >DEPOSIT</span
                                >
                              </template>
                            </td>
                          </tr>
                          <tr>
                            <th class="w-2/5 align-top font-normal">
                              Jatuh Tempo
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span
                              ><span
                                style="width: 97%"
                                class="pl-1"
                                x-text="`${monthly.DueDate}`"
                              ></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="w-2/5 align-top font-normal">
                              Janji Bayar
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span
                              ><span
                                style="width: 98%"
                                class="pl-1"
                                x-text="`${monthly.Promise}`"
                                x-show="monthly.Promise != ''"
                              ></span>
                              <span
                                style="width: 97%"
                                class="pl-1"
                                x-show="monthly.Promise == ''"
                                >....................</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <th class="w-2/5 align-top font-normal">
                              Tanggal Cetak
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span
                              ><span
                                style="width: 97%"
                                class="pl-1"
                                x-text="`${monthly.PrintDate}`"
                              ></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="w-2/5 align-top font-normal">
                              Kode Cetak
                            </th>
                            <td class="flex flex-wrap">
                              <span>:</span
                              ><span
                                style="width: 97%"
                                class="pl-1 text-base"
                                x-text="`${monthly.Code}`"
                              ></span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <!-- Info Order -->
                    <div class="w-full text-left px-4 py-2">
                      <table class="w-full table-fixed border border-black">
                        <tr class="border-b border-black">
                          <th class="w-2/6 align-top px-2 font-normal">
                            Tertagih
                          </th>
                          <td class="flex flex-wrap px-2">
                            <span>:</span>
                            <span
                              style="width: 98%"
                              class="pl-1 capitalize"
                              x-text="`${order.Customer.Name}`"
                            ></span>
                          </td>
                        </tr>
                        <tr class="border-b border-black">
                          <th class="w-2/6 align-top px-2 font-normal">
                            Alamat Tagih
                          </th>
                          <td class="flex flex-wrap px-2">
                            <span>:</span>
                            <span
                              style="width: 98%"
                              class="pl-1"
                              x-text="`${order.BillingAddress}`"
                            ></span>
                          </td>
                        </tr>
                        <tr class="border-b border-black">
                          <th class="w-2/6 align-top px-2 font-normal">
                            Besar Tagihan
                          </th>
                          <td class="flex flex-wrap px-2">
                            <span>:</span>
                            <template x-if="monthly.Nth > 0">
                              <span
                                style="width: 98%"
                                class="pl-1"
                                x-text="`${toRupiah(order.CreditDetail.Monthly)} ( ${terbilang(order.CreditDetail.Monthly)} )`"
                              ></span>
                            </template>
                            <template x-if="monthly.Nth == 0">
                              <span
                                style="width: 98%"
                                class="pl-1"
                                x-text="`${toRupiah(order.Deposit)} ( ${terbilang(order.Deposit)} )`"
                              ></span>
                            </template>
                          </td>
                        </tr>
                        <tr>
                          <th class="w-2/6 align-top px-2 font-normal">
                            Terbayar untuk
                          </th>
                          <td class="flex flex-wrap px-2">
                            <span>:</span>
                            <span style="width: 98%" class="pl-1">
                              <template x-if="order.Items !== null">
                                <template
                                  x-for="(item, idx) in order.Items"
                                  :key="idx"
                                >
                                  <div class="inline-flex item-center">
                                    <p
                                      class="text-black"
                                      x-text="`[${item.Quantity}x ${item.Product.Name}]`"
                                    ></p>
                                    <p
                                      class="pr-1"
                                      x-show="order.Items.length > 1 && idx < (order.Items.length-2)"
                                    >
                                      ,
                                    </p>
                                    <p
                                      class="px-1"
                                      x-show="order.Items.length > 1 && idx == (order.Items.length-2)"
                                    >
                                      dan
                                    </p>
                                  </div>
                                </template>
                              </template>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- Info Tagihan -->
                    <div class="w-full text-left px-4 py-2">
                      <div class="w-full flex flex-row border border-black p-2">
                        <div class="w-3/5 pr-2">
                          <template x-if="monthly.Nth > 0">
                            <table class="w-full table-fixed">
                              <tr class="border-b border-black">
                                <th class="w-2/6 align-top font-normal">
                                  Total Kredit
                                </th>
                                <td class="flex flex-wrap">
                                  <span>:</span>
                                  <span
                                    style="width: 98%"
                                    class="pl-1 capitalize"
                                    x-text="`${toRupiah(order.CreditDetail.Total)}`"
                                  ></span>
                                </td>
                              </tr>
                              <tr class="border-b border-black">
                                <th class="w-2/6 align-top font-normal">
                                  Sisa Kredit
                                </th>
                                <td class="flex flex-wrap">
                                  <span>:</span>
                                  <span
                                    style="width: 98%"
                                    class="pl-1 capitalize"
                                    x-text="`${toRupiah(order.CreditDetail.Total-((monthly.Nth-1)*order.CreditDetail.Monthly))}`"
                                  ></span>
                                </td>
                              </tr>
                              <tr class="border-b border-black">
                                <th class="w-2/6 align-top font-normal">
                                  Jumlah Bayar
                                </th>
                                <td class="flex flex-wrap">
                                  <span>:</span>
                                  <span
                                    style="width: 98%"
                                    class="pl-1 capitalize"
                                  ></span>
                                </td>
                              </tr>
                              <tr>
                                <th class="w-2/6 align-top font-normal">
                                  Sisa Habis Bayar
                                </th>
                                <td class="flex flex-wrap">
                                  <span>:</span>
                                  <span
                                    style="width: 98%"
                                    class="pl-1 capitalize"
                                    x-text="`${toRupiah(order.CreditDetail.Total-((monthly.Nth-1)*order.CreditDetail.Monthly)-order.CreditDetail.Monthly)}`"
                                  ></span>
                                </td>
                              </tr>
                            </table>
                          </template>
                          <template x-if="monthly.Nth == 0">
                            <div class="w-full">
                              <p>
                                MINTA DAN SIMPANLAH KWITANSI SETIAP SETELAH
                                MELAKUKAN PEMBAYARAN
                              </p>
                              <p class="text-xs">
                                *pastikan kwitansi tidak hilang jika suatu saat
                                diperlukan untuk bukti pembayaran
                              </p>
                              <p class="text-xs">
                                *perusahaan tidak bertanggung jawab atas segala
                                kelalaian konsumen
                              </p>
                            </div>
                          </template>
                        </div>
                        <div
                          class="w-1/5 relative text-center border-l border-r border-black"
                        >
                          <p>Tanggal Bayar</p>
                          <p>....................</p>
                          <div class="absolute bottom-0 inset-x-0 mx-auto">
                            <p>Penagih, TTD</p>

                            <p
                              class="capitalize"
                              x-text="order.Collector.Name"
                              x-show="order.Collector.Name != ''"
                            ></p>
                            <p x-show="order.Collector.Name == ''">-</p>
                          </div>
                        </div>
                        <div class="w-1/5 relative text-center">
                          <p class="absolute top-0 inset-x-0 mx-auto">Admin</p>
                          <p class="absolute bottom-0 inset-x-0 mx-auto">
                            Rika Artamevia
                          </p>
                        </div>
                      </div>
                      <template x-if="monthly.Nth > 0">
                        <div class="w-full pt-1">
                          <p class="text-xs">
                            *pastikan kwitansi tidak hilang jika suatu saat
                            diperlukan untuk bukti pembayaran
                          </p>
                          <p class="text-xs">
                            *perusahaan tidak bertanggung jawab atas segala
                            kelalaian konsumen
                          </p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  function OrderReceipt() {
    function getLastReceiptPrinter() {
      return window.localStorage.getItem('receiptPrinter')
    }
    function getLastReceiptPrinterPaper() {
      return window.localStorage.getItem('receiptPrinterPaper')
    }
    return {
      monthlyCredit: {{ .monthly }},
      selected: null,
      loading: false,
      loadingText: "LOADING...",
      order: {{ .order }},
      clientPrinters: null,
      printerPapers: null,
      selectedPrinter: "",
      selectedPaper: "",
      lastPrinter: getLastReceiptPrinter(),
      lastPaper: getLastReceiptPrinterPaper(),
      os: operatingSytem(),
      removeLastPrinter: false,
      removeLastPaper: false,
      initPrinter() {
        var _this = this;
        //WebSocket settings
        JSPM.JSPrintManager.auto_reconnect = true;
        JSPM.JSPrintManager.start();
        JSPM.JSPrintManager.WS.onStatusChanged = function () {
          if (jspmWSStatus()) {
            JSPM.JSPrintManager.getPrintersInfo().then(function (printersList) {
              _this.clientPrinters = printersList;
            });
          }
        };
      },
      printerReady() {
        if (this.clientPrinters !== null) {
          return true;
        } else {
          return false;
        }
      },
      setLastPrinter(printer) {
        window.localStorage.setItem('receiptPrinter', printer);
        this.lastPrinter = printer;
      },
      setLastPaper(paper) {
        window.localStorage.setItem('receiptPrinterPaper', paper);
        this.lastPaper = paper;
      },
      printerChange(idx) {
        this.printerPapers = this.clientPrinters[idx].papers;
      },
      async printReceipt(receipt) {
        // Tentukan printer
        var clientPrinter;
        if (this.selectedPrinter == "") {
          if (this.lastPrinter != "") {
            clientPrinter = new JSPM.InstalledPrinter(this.lastPrinter);
          } else {
            clientPrinter = new JSPM.DefaultPrinter();
          }
        } else {
          clientPrinter = new JSPM.InstalledPrinter(this.selectedPrinter);
          this.setLastPrinter(this.selectedPrinter);
        }

        if (this.selectedPaper == "") {
          if (this.lastPaper != "") {
            clientPrinter.paperName = this.lastPaper;
          }
        } else {
          clientPrinter.paperName = this.selectedPaper;
          this.setLastPaper(this.selectedPaper);
        }

        //Create a ClientPrintJob
        var printer = new JSPM.ClientPrintJob();
        printer.clientPrinter = clientPrinter;

        this.loadingText = "Membuat kwitansi " + receipt.Code;
        /*await html2canvas(document.querySelector(`#${receipt.Code}`), {scrollY: -window.scrollY, scrollX: -6}).then(canvas => {
          //document.body.appendChild(canvas)

          // Buat file (gambar) untuk di print...
          var b64Prefix = "data:image/png;base64,";
          var imgBase64DataUri = canvas.toDataURL("image/png");
          var imgBase64Content = imgBase64DataUri.substring(b64Prefix.length, imgBase64DataUri.length);

          var myImageFile = new JSPM.PrintFile(imgBase64Content, JSPM.FileSourceType.Base64, `receipt#${receipt.ID} ${this.order.Customer.Code} ${this.order.Customer.Name}-PW=7.7-PH=5.5.png`, 1);
          // Tambahkan file ke daftar yang akan di print
          //this.cpj.files.push(myImageFile);
        });
        */

        var _this = this;
        var template = `/assets/receipt.xlsx`;
        if (receipt.Nth == 0) {
          template = `/assets/receipt-deposit.xlsx`;
        }
        await fetch(template, {
          method: "GET",
        })
          .then(res => {
            return res.arrayBuffer();
          })
          .then(async (buffer) => {
            await XlsxPopulate.fromDataAsync(buffer).then(async (workbook) => {
              if (receipt.Nth !== 0) {
                workbook.sheet("Sheet1").cell("J3").value(receipt.Nth);
              }
              workbook.sheet("Sheet1").cell("J4").value(receipt.DueDate);
              if (receipt.Promise == "") {
                workbook.sheet("Sheet1").cell("J5").value("……………………………");
              } else {
                workbook.sheet("Sheet1").cell("J5").value(receipt.Promise);
              }
              workbook.sheet("Sheet1").cell("J6").value(receipt.PrintDate);
              workbook.sheet("Sheet1").cell("J7").value(receipt.Code);
              workbook.sheet("Sheet1").cell("F11").value(_this.order.Customer.Name + " (" +_this.order.Customer.Code +")");
              workbook.sheet("Sheet1").cell("F12").value(_this.order.BillingAddress);
              if (_this.order.BillingAddress.length > 52) {
                workbook.sheet("Sheet1").row(12).height(32);
              }

              if (receipt.Nth == 0) {
                workbook.sheet("Sheet1").cell("F13").value(`${toRupiah(_this.order.Deposit)} ( ${terbilang(_this.order.Deposit)} )`);
              } else {
                workbook.sheet("Sheet1").cell("F13").value(`${toRupiah(_this.order.CreditDetail.Monthly)} ( ${terbilang(_this.order.CreditDetail.Monthly)} )`);
              }
              workbook.sheet("Sheet1").cell("F14").value(await _this.getItems());
              if (await _this.getItems().length > 52) {
                workbook.sheet("Sheet1").row(14).height(32);
              }
              workbook.sheet("Sheet1").cell("E16").value(`${toRupiah(_this.order.CreditDetail.Total)}`);
              workbook.sheet("Sheet1").cell("E17").value(`${toRupiah(_this.order.CreditDetail.Total-((receipt.Nth-1)*_this.order.CreditDetail.Monthly))}`);
              workbook.sheet("Sheet1").cell("E19").value(`${toRupiah(_this.order.CreditDetail.Total-((receipt.Nth-1)*_this.order.CreditDetail.Monthly)-_this.order.CreditDetail.Monthly)}`);
              workbook.sheet("Sheet1").cell("H20").value(_this.order.Collector.Name);

              await workbook.outputAsync("base64").then(function (base64) {
                if (_this.os == "#Windows") {
                  var printData = new JSPM.PrintFileXLS(base64, JSPM.FileSourceType.Base64, `receipt#${receipt.ID} ${_this.order.Customer.Code} ${_this.order.Customer.Name}.xlsx`, 1);
                  printData.pageFrom = 1;
                  printData.pageTo = 1;
                } else {
                  var printData = new JSPM.PrintFile(base64, JSPM.FileSourceType.Base64, `receipt#${receipt.ID} ${_this.order.Customer.Code} ${_this.order.Customer.Name}.xlsx`, 1);
                }

                // location.href = "data:" + XlsxPopulate.MIME_TYPE + ";base64," + base64;

                // Tambahkan file ke daftar yang akan di print
                printer.files.push(printData);
              });
            });
          });


        this.loadingText = "LOADING...";
        this.loading = false;

        // Kirim signal ke printer untuk melakukan print
        printer.sendToClient();
      },
      async getItems() {
        items = "";
        for (i=0; i<this.order.Items.length; i++) {
          items = `${items}[${this.order.Items[i].Quantity}x ${this.order.Items[i].Product.Name}]`;
          if (this.order.Items.length > 1 && i < (this.order.Items.length-2)) {
            items = `${items}, `;
          }
          if (this.order.Items.length > 1 && i == (this.order.Items.length-2)) {
            items = `${items} dan `;
          }
        }

        return items;
      },
    };
  }
</script>
{{ end }}
