{{ template "base" .}}

<!-- Halaman Lokasi -->
{{ define "dashboard_locations_content" }}
<h2
  class="px-6 sm:px-0 my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Lokasi
</h2>

<!-- Lokasi -->
<div class="w-full mb-8">
  <div x-data="loc()" x-init="watchMe($watch, $dispatch)" id="location">
    <div class="w-full">
      <!-- Pilih negara -->
      <div class="w-full flex flex-wrap">
        <div class="w-full p-2 lg:w-4/6">
          <div class="px-2 pt-2 pb-2">
            <span
              class="bg-teal-100 text-teal-300 inline-block cursor-pointer rounded-lg px-4 font-semibold"
              @click="inputData.country = 62; fetchProvinces($dispatch);"
              >Indonesia</span
            >
          </div>
        </div>
      </div>

      <div class="w-full flex flex-wrap">
        <!-- Provinsi -->
        <template x-if="inputData.country !== null">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Seluruh Provinsi di Indonesia
              </h4>

              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(province, index) in provinces"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500': inputData.province == province.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="province.Name"
                                @click="inputData.province = province.ID; inputData.provinceName = province.Name;"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Tambah provinsi baru -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddProvince = !showAddProvince;"
              >
                Tambahkan provinsi baru
              </a>
              <template x-if="showAddProvince">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama Provinsi</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.province"
                      @keydown.enter="addProvince($dispatch)"
                      placeholder="provinsi"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errProvince }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmProvince"
                    :class="{'invisible': errProvince == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addProvince($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Provinsi manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Provinsi manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List provinsi yang ditambahkan manual
              </p>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(province, index) in manualProvinces"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-opacity-25"
                            :class="{'bg-blue-500 hover:bg-blue-500': inputData.province == province.ID && toDelete.province !== province.ID, 'select-none bg-red-500 hover:bg-red-500': toDelete.province == province.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="province.Name"
                                @click="inputData.province = province.ID; inputData.provinceName = province.Name;"
                                @dblclick="if (toDelete.province == province.ID) { deleteProvince($dispatch, province.ID); }"
                                @contextmenu.prevent="if (toDelete.province !== province.ID) { toDelete.province = province.ID; } else { toDelete.province = null; }"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <!-- Kota/Kabupaten -->
        <template x-if="inputData.province !== null">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Kota/Kabupaten di ${inputData.provinceName}`"
              ></h4>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template x-for="(city, index) in cities" :key="index">
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500': inputData.city == city.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="city.Name"
                                @click="inputData.city = city.ID; inputData.cityName = city.Name;"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Tambah kota baru -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddCity = !showAddCity;"
              >
                Tambahkan kota/kabupaten
              </a>
              <template x-if="showAddCity">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama kota/kabupaten</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.city"
                      @keydown.enter="addCity($dispatch)"
                      placeholder="kota/kabupaten"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errCity }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmCity"
                    :class="{'invisible': errCity == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addCity($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Kota/Kabupaten manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Kabupaten manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List kota/kabupaten yang ditambahkan manual
              </p>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(city, index) in manualCities"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500 hover:bg-blue-500': inputData.city == city.ID && toDelete.city !== city.ID, 'select-none bg-red-500 hover:bg-red-500': toDelete.city == city.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="city.Name"
                                @click="inputData.city = city.ID; inputData.cityName = city.Name;"
                                @dblclick="if (toDelete.city == city.ID) { deleteCity($dispatch, city.ID); }"
                                @contextmenu.prevent="if (toDelete.city !== city.ID) { toDelete.city = city.ID; } else { toDelete.city = null; }"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <!-- Distrik/Kecamatan -->
        <template x-if="inputData.city !== null">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Distrik/Kecamatan di ${inputData.cityName}`"
              ></h4>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(district, index) in districts"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500': inputData.district == district.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="district.Name"
                                @click="inputData.district = district.ID; inputData.districtName = district.Name;"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Tambah distrik -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddDistrict = !showAddDistrict;"
              >
                Tambahkan distrik/kecamatan
              </a>
              <template x-if="showAddDistrict">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama distrik/kecamatan</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.district"
                      @keydown.enter="addDistrict($dispatch)"
                      placeholder="distrik/kecamatan"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errDistrict }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmDistrict"
                    :class="{'invisible': errDistrict == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addDistrict($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Distrik/Kecamatan manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Distrik/Kecamatan manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List distrik/kecamatan yang ditambahkan manual
              </p>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(district, index) in manualDistricts"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500 hover:bg-blue-500': inputData.district == district.ID && toDelete.district !== district.ID, 'select-none bg-red-500 hover:bg-red-500': toDelete.district == district.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="district.Name"
                                @click="inputData.district = district.ID; inputData.districtName = district.Name;"
                                @dblclick="if (toDelete.district == district.ID) { deleteDistrict($dispatch, district.ID); }"
                                @contextmenu.prevent="if (toDelete.district !== district.ID) { toDelete.district = district.ID; } else { toDelete.district = null; }"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <!-- Desa/Kelurahan -->
        <template x-if="inputData.district !== null">
          <div class="w-full p-2 sm:w-2/4 lg:w-2/6">
            <div
              class="relative bg-white sm:rounded-lg shadow-xs dark:bg-gray-800 p-2"
            >
              <h4
                class="mb-4 font-semibold text-gray-800 dark:text-gray-300"
                x-text="`Seluruh Desa/Kelurahan di ${inputData.districtName}`"
              ></h4>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(village, index) in villages"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500': inputData.village == village.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="village.Name"
                                @click="inputData.village = village.ID; inputData.villageName = village.Name;"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Tambah kelurahan -->
              <a
                href="#"
                class="block mt-4 text-sm text-blue-500"
                @click="showAddVillage = !showAddVillage;"
              >
                Tambahkan kelurahan/desa
              </a>
              <template x-if="showAddVillage">
                <div class="block">
                  <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"
                      >Nama kelurahan/desa</span
                    >
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-gray-100 focus:outline-none focus:shadow-md dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      x-model="addNew.village"
                      @keydown.enter="addVillage($dispatch)"
                      placeholder="kelurahan/desa"
                      :class="{'border-red-600 focus:border-red-400 focus:outline-none focus:shadow-outline-red': errVillage }"
                    />
                  </label>
                  <span
                    class="text-xs text-red-600 dark:text-red-400"
                    x-text="errmVillage"
                    :class="{'invisible': errVillage == false}"
                  >
                  </span>
                  <button
                    class="block shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 mt-2 rounded"
                    type="button"
                    @click="addVillage($dispatch);"
                  >
                    tambah
                  </button>
                </div>
              </template>

              <!-- Kelurahan/Desa manual -->
              <label class="block">
                <span class="font-semibold text-gray-700 dark:text-gray-400"
                  >Kelurahan/Desa manual</span
                >
              </label>
              <p class="py-2 text-sm text-gray-600">
                List kelurahan/desa yang ditambahkan manual
              </p>
              <div class="mx-auto flex justify-center">
                <div class="w-full max-h-10 flex flex-col">
                  <div class="w-full h-full overflow-auto bg-white">
                    <table class="w-full h-full">
                      <tbody>
                        <template
                          x-for="(village, index) in manualVillages"
                          :key="index"
                        >
                          <tr
                            class="text-xs py-1 hover:border-blue-100 cursor-pointer hover:bg-blue-500 hover:bg-opacity-25"
                            :class="{'bg-blue-500 hover:bg-blue-500': inputData.village == village.ID && toDelete.village !== village.ID, 'select-none bg-red-500 hover:bg-red-500': toDelete.village == village.ID }"
                          >
                            <td class="px-2 py-1 whitespace-no-wrap">
                              <div
                                class="leading-5 text-gray-900"
                                x-text="village.Name"
                                @click="inputData.village = village.ID; inputData.villageName = village.Name;"
                                @dblclick="if (toDelete.village == village.ID) { deleteVillage($dispatch, village.ID); }"
                                @contextmenu.prevent="if (toDelete.village !== village.ID) { toDelete.village = village.ID; } else { toDelete.village = null; }"
                              ></div>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
  <script>
    function loc() {
      return {
        addNew: {
          country: "",
          province: "",
          city: "",
          district: "",
          village: "",
        },
        toDelete: {
          country: null,
          province: null,
          city: null,
          district: null,
          village: null,
        },
        inputData: {
          country: null,
          province: null,
          provinceName: "",
          city: null,
          cityName: "",
          district: null,
          districtName: "",
          village: null,
        },
        provinces: [],
        manualProvinces: [],
        cities: [],
        manualCities: [],
        districts: [],
        manualDistricts: [],
        villages: [],
        manualVillages: [],
        showAddProvince: false,
        showAddCity: false,
        showAddDistrict: false,
        showAddVillage: false,
        watchMe($watch, $dispatch) {
          $watch("inputData.province", (value) => {
            this.inputData.city = null;
            this.inputData.provinceName = "";
            this.cities = [];
            this.manualCities = [];
            if (value !== null) {
              this.fetchCities($dispatch);
            }
          });
          $watch("inputData.city", (value) => {
            this.inputData.district = null;
            this.inputData.cityName = "";
            this.districts = [];
            this.manualDistricts = [];
            if (value !== null) {
              this.fetchDistricts($dispatch);
            }
          });
          $watch("inputData.district", (value) => {
            this.inputData.village = null;
            this.inputData.districtName = "";
            this.villages = [];
            this.manualVillages;
            if (value !== null) {
              this.fetchVillages($dispatch);
            }
          });
        },
        fetchProvinces($dispatch) {
          fetch(`/api/v1/local/address/provinces?mode=split`, {
            method: "GET",
          })
            .then((res) => res.json())
            .then((json) => {
              if (json.provinces.original !== null) {
                this.provinces = json.provinces.original;
              } else {
                this.provinces = [];
              }
              if (json.provinces.manual !== null) {
                this.manualProvinces = json.provinces.manual;
              } else {
                this.manualProvinces = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchCities($dispatch) {
          fetch(
            `/api/v1/local/address/cities/${this.inputData.province}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.cities.original !== null) {
                this.cities = json.cities.original;
              } else {
                this.cities = [];
              }
              if (json.cities.manual !== null) {
                this.manualCities = json.cities.manual;
              } else {
                this.manualCities = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchDistricts($dispatch) {
          fetch(
            `/api/v1/local/address/districts/${this.inputData.city}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.districts.original !== null) {
                this.districts = json.districts.original;
              } else {
                this.districts = [];
              }
              if (json.districts.manual !== null) {
                this.manualDistricts = json.districts.manual;
              } else {
                this.manualDistricts = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        fetchVillages($dispatch) {
          fetch(
            `/api/v1/local/address/villages/${this.inputData.district}?mode=split`,
            {
              method: "GET",
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.villages.original !== null) {
                this.villages = json.villages.original;
              } else {
                this.villages = [];
              }
              if (json.villages.manual !== null) {
                this.manualVillages = json.villages.manual;
              } else {
                this.manualVillages = [];
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },
        errProvince: false,
        errmProvince: "",
        errCity: false,
        errmCity: "",
        errDistrict: false,
        errmDistrict: "",
        errVillage: false,
        errmVillage: "",
        addProvince($dispatch) {
          fetch(
            `/api/v1/local/address/edit/country/${this.inputData.country}/province/add`,
            {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                province: this.addNew.province,
              }),
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.province) {
                this.errProvince = true;
                this.errmProvince = json.province;
              } else {
                this.errProvince = false;
                this.errmProvince = "";
              }
              if (json.provinces.original != null) {
                this.provinces = json.provinces.original;
              } else {
                this.provinces = [];
              }
              if (json.provinces.manual != null) {
                this.manualProvinces = json.provinces.manual;
              } else {
                this.manualProvinces = [];
              }
            })
            .catch((err) => {
              console.log("addProvince() " + err);
            });
        },
        addCity($dispatch) {
          fetch(
            `/api/v1/local/address/edit/province/${this.inputData.province}/city/add`,
            {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                city: this.addNew.city,
              }),
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }
              if (json.city) {
                this.errCity = true;
                this.errmCity = json.city;
              } else {
                this.errCity = false;
                this.errmCity = "";
              }
              if (json.cities.original != null) {
                this.cities = json.cities.original;
              } else {
                this.cities = [];
              }
              if (json.cities.manual != null) {
                this.manualCities = json.cities.manual;
              } else {
                this.manualCities = [];
              }
            })
            .catch((err) => {
              console.log("addCity() " + err);
            });
        },
        addDistrict($dispatch) {
          fetch(
            `/api/v1/local/address/edit/city/${this.inputData.city}/district/add`,
            {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                district: this.addNew.district,
              }),
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }

              if (json.district) {
                this.errDistrict = true;
                this.errmDistrict = json.district;
              } else {
                this.errDistrict = false;
                this.errmDistrict = "";
              }
              if (json.districts.original != null) {
                this.districts = json.districts.original;
              } else {
                this.districts = [];
              }
              if (json.districts.manual != null) {
                this.manualDistricts = json.districts.manual;
              } else {
                this.manualDistricts = [];
              }
            })
            .catch((err) => {
              console.log("addDistrict() " + err);
            });
        },
        addVillage($dispatch) {
          fetch(
            `/api/v1/local/address/edit/district/${this.inputData.district}/village/add`,
            {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                village: this.addNew.village,
              }),
            }
          )
            .then((res) => res.json())
            .then((json) => {
              if (json.message) {
                $dispatch("notif", {
                  type: json.status,
                  message: json.message,
                });
              }

              if (json.village) {
                this.errVillage = true;
                this.errmVillage = json.village;
              } else {
                this.errVillage = false;
                this.errmVillage = "";
              }
              if (json.villages.original != null) {
                this.villages = json.villages.original;
              } else {
                this.villages = [];
              }
              if (json.villages.manual != null) {
                this.manualVillages = json.villages.manual;
              } else {
                this.manualVillages = [];
              }
            })
            .catch((err) => {
              console.log("addVillage() " + err);
            });
        },
        deleteProvince($dispatch, provinceID) {
          (this.toDelete.province = null), (this.inputData.province = null);
          this.inputData.provinceName = "";
          fetch(`/api/v1/local/address/edit/country/${this.inputData.country}/province/${provinceID}/delete`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((json) => {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });

              if (json.provinces.manual != null) {
                this.manualProvinces = json.provinces.manual;
              } else {
                this.manualProvinces = [];
              }
            })
            .catch((err) => {
              console.log("Error deleteProvince() " + err);
            });
        },
        deleteCity($dispatch, cityID) {
          (this.toDelete.city = null), (this.inputData.city = null);
          this.inputData.cityName = "";
          fetch(`/api/v1/local/address/edit/province/${this.inputData.province}/city/${cityID}/delete`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((json) => {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });

              if (json.cities.manual != null) {
                this.manualCities = json.cities.manual;
              } else {
                this.manualCities = [];
              }
            })
            .catch((err) => {
              console.log("Error deleteCity() " + err);
            });
        },
        deleteDistrict($dispatch, districtID) {
          (this.toDelete.district = null), (this.inputData.district = null);
          this.inputData.cityName = "";
          fetch(`/api/v1/local/address/edit/city/${this.inputData.city}/district/${districtID}/delete`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((json) => {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });

              if (json.districts.manual != null) {
                this.manualDistricts = json.districts.manual;
              } else {
                this.manualDistricts = [];
              }
            })
            .catch((err) => {
              console.log("Error deleteDistricts() " + err);
            });
        },
        deleteVillage($dispatch, villageID) {
          (this.toDelete.village = null), (this.inputData.village = null);
          this.inputData.villageName = "";
          fetch(`/api/v1/local/address/edit/district/${this.inputData.district}/village/${villageID}/delete`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((json) => {
              $dispatch("notif", {
                type: json.status,
                message: json.message,
              });

              if (json.villages.manual != null) {
                this.manualVillages = json.villages.manual;
              } else {
                this.manualVillages = [];
              }
            })
            .catch((err) => {
              console.log("Error deleteVillages() " + err);
            });
        },
      };
    }
  </script>
</div>
{{ end }}
