<!DOCTYPE html>
<html lang="en" x-data="card()" x-init="initPrinter()">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .site_title }} - {{ .site_name }}</title>
    <link rel="stylesheet" href="/assets/css/tailwind.optimized.css" />
    <link rel="stylesheet" href="/assets/css/loading.css" />
    <link rel="stylesheet" href="/assets/css/print.css" />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script src="/assets/js/alpine-magic-helper-component.js"></script>
    <script src="/assets/js/alpine.min.js" defer></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/jspm/zip.js"></script>
    <script src="/assets/js/jspm/zip-ext.js"></script>
    <script src="/assets/js/jspm/deflate.js"></script>
    <script src="/assets/js/jspm/JSPrintManager.js"></script>
    <script src="/assets/js/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="w-full h-screen" :class="{'overflow-hidden': loading }">
      <template x-if="loading">
        <div
          class="w-full h-full overflow-y-hidden overflow-x-hidden fixed block top-0 left-0 bg-black bg-opacity-75 z-50"
        >
          <span
            class="w-full flex flex-wrap justify-center content-center items-center opacity-100 relative"
            style="top: 42%"
          >
            <div class="block lds-ripple">
              <div></div>
              <div></div>
            </div>
            <div class="w-1/3">
              <div class="relative pt-1">
                <div class="flex mb-2 items-center justify-between">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200"
                      x-text="loadingText"
                    >
                    </span>
                  </div>
                  <div class="text-right">
                    <span
                      class="text-xs font-bold inline-block text-pink-600"
                      x-text="`${progress()}%`"
                    >
                    </span>
                  </div>
                </div>
                <div
                  class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200"
                >
                  <div
                    :style="`width: ${progress()}%;`"
                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"
                  ></div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </template>
      <div style="text-align: center">
        <div>
          <label for="PrinterName">Pilih printer secara manual:</label>
          <select x-model="selectedPrinter">
            <option>Default</option>
            <template x-if="clientPrinters !== null">
              <template x-for="n in clientPrinters" :key="n">
                <option x-text="n" :value="n"></option>
              </template>
            </template>
          </select>
          <span class="block text-gray-500" x-show="lastPrinter != ''">
            Printer terakhir:
            <b
              x-text="lastPrinter"
              :class="{'text-red-500': removeLastPrinter }"
              class="cursor-pointer"
              @contextmenu.prevent="removeLastPrinter = true;"
              @dblclick="if (removeLastPrinter) { setLastPrinter(''); }"
            ></b>
          </span>
        </div>
      </div>

      <template x-if="orders !== null" x-for="order in orders" :key="order.ID">
        <div class="w-full relative lg:flex lg:items-center lg:justify-center">
          <div x-show="order.ID == 0">Tidak dapat membuat kartu angsuran</div>
          <div
            x-show="order.ID > 0"
            class="m-5 flex flex-wrap content-center items-center paper bg-white"
            style="width: 210mm; height: 170mm"
          >
            <div class="p-5 w-full" :id="order.Code">
              <div class="w-full">
                <div class="w-full relative text-center font-semibold">
                  <span
                    class="pt-2 block text-2xl font-extrabold tracking-wider"
                    style="font-family: 'Lapica'"
                    >CV.NAZWA ELEKTRONIK & FURNITURE</span
                  >
                  <div class="leading-4">
                    <p class="text-sm">
                      Jalan Raya Cihaur - Bojongsari - Jampangkulon 43178
                    </p>
                    <p class="text-sm tracking-tighter">
                      Telp. 0858-6355-5270 / 0815-6346-5840
                    </p>
                    <p class="text-sm tracking-tighter">
                      website
                      <a
                        href="https://cvnazwa.com"
                        class="text-blue-500 underline"
                        >https://cvnazwa.com</a
                      >
                    </p>
                    <div class="w-32 h-20 top-0 absolute ml-2 mt-1">
                      <img
                        src="/assets/img/logo.svg"
                        class="object-cover w-full h-full"
                        loading="lazy"
                      />
                    </div>
                    <div class="top-0 right-0 absolute">
                      <img
                        :src="`data:image/png;base64,${order.QR}`"
                        class="object-cover w-full h-full"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-full flex flex-row text-left px-4 py-2 text-sm leading-5"
                >
                  <div class="w-2/4">
                    <table class="w-full table-fixed">
                      <tr>
                        <th class="w-2/6 align-top">Nama</th>
                        <td class="capitalize flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${order.Customer.Name} (${order.Customer.Code})`"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="align-top">Kode Transaksi</th>
                        <td class="flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${order.Code}`"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="align-top">Alamat</th>
                        <td class="flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${order.BillingAddress}`"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="align-top">Tanggal Kirim</th>
                        <td class="flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${orderDate(order.ShippingDate)}`"
                          ></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="w-2/4">
                    <table class="w-full table-fixed">
                      <tr>
                        <th class="w-2/6 align-top">Harga Total</th>
                        <td class="flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${toRupiah(order.PriceTotal)} ${deposit(order.Deposit)}`"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="w-2/6 align-top">Lama Angsuran</th>
                        <td class="flex flex-wrap">
                          <span>:</span
                          ><span
                            style="width: 98%"
                            class="pl-1"
                            x-text="`${toRupiah(order.CreditDetail.Monthly)} x ${order.CreditDetail.Duration} bln (${toRupiah(order.CreditDetail.Total)})`"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="w-2/6 align-top">Barang</th>
                        <td class="flex flex-wrap">
                          <div class="flex flex-wrap">
                            :
                            <template x-if="order.Items !== null">
                              <template
                                x-for="(item, idx) in order.Items"
                                :key="idx"
                              >
                                <div class="flex item-center text-sm">
                                  &nbsp;
                                  <p
                                    class="text-sm text-gray-600 dark:text-gray-400"
                                    x-text="`[${item.Quantity}x ${item.Product.Name}]`"
                                  ></p>
                                  <p
                                    class="pr-1"
                                    x-show="order.Items.length > 1 && idx < (order.Items.length-2)"
                                  >
                                    ,
                                  </p>
                                  <p
                                    class="px-1"
                                    x-show="order.Items.length > 1 && idx == (order.Items.length-2)"
                                  >
                                    dan
                                  </p>
                                </div>
                              </template>
                            </template>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div
                  class="w-full flex flex-wrap justify-center px-1 pt-1"
                  style="height: 50%"
                >
                  <template
                    x-for="(i, k) in order.CreditDetail.Duration"
                    :key="k"
                  >
                    <div class="p-1" :class="{'w-1/2': order.CreditDetail.Duration > 4 , 'w-1/3': order.CreditDetail.Duration > 6 , 'w-1/4': order.CreditDetail.Duration > 8 ,'w-1/5': order.CreditDetail.Duration > 10 }">
                      <div
                        class="w-full border border-gray-700 h-full p-1 text-xs text-left items-start justify-start"
                      >
                        <table class="w-full">
                          <tr class="border-b border-gray-700">
                            <th class="w-1/5">Ke</th>
                            <td>:</td>
                          </tr>
                          <tr class="border-b border-gray-700">
                            <th>Tgl</th>
                            <td>:</td>
                          </tr>
                          <tr
                            :class="{'border-b border-gray-700': order.CreditDetail.Duration <= 15}"
                          >
                            <th>Uang</th>
                            <td>:</td>
                          </tr>
                          <tr x-show="order.CreditDetail.Duration <= 15">
                            <th>TTD</th>
                            <td>:</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </template>
                </div>
                <div class="w-full flex flex-wrap pb-2">
                  <div class="w-4/5 text-left text-xs pl-2">
                    <table class="w-full">
                      <tr>
                        <th>Keterangan</th>
                        <td class="text-gray-500 font-semibold">
                          <ul>
                            <li>
                              Angsuran harus tepat pada waktunya sesuai nominal
                              tertera
                            </li>
                            <li>
                              Kartu dan Kwitansi resmi saat transaksi tidak
                              boleh hilang
                            </li>
                            <li>
                              Lakukan transaksi kepada petugas resmi Nazwa
                              Elektronik & Furniture
                            </li>
                            <li>
                              Jika ada pertanyaan silahkan hubungi nomor yang
                              tertera diatas kartu ini
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="w-1/5 text-center">
                    <span class="block pb-6">Hormat Kami,</span>
                    <span class="block">Upen Supendi</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <div class="flex pb-5 w-full">
        <button
          class="inline-flex mx-auto shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white text-sm py-2 px-5"
          @click="loading = true; setTimeout(function() { printCard($dispatch); }, 0);"
        >
          {{ template "_svg_icon_printer" }} Print
        </button>
      </div>
    </div>
    <script>
      function jspmWSStatus() {
        //Check JSPM WebSocket status
        if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Open) {
          return true;
        } else if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Closed) {
          console.warn('JSPrintManager (JSPM) is not installed or not running! Download JSPM Client App from https://neodynamic.com/downloads/jspm');
          return false;
        } else if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Blocked) {
          alert('JSPM has blocked this website!');
          return false;
        }
      }
      function card() {
        function getLastCardPrinter() {
          return window.localStorage.getItem('cardPrinter')
        }
        return {
          loading: false,
          loadingText: "LOADING...",
          progresses: 0,
          orders: {{ .orders }},
          fails: {{ .fails }},
          selectedPrinter: "",
          lastPrinter: getLastCardPrinter(),
          removeLastPrinter: false,
          clientPrinters: null,
          cjp: null,
          initPrinter() {
            var _this = this;
            //WebSocket settings
            JSPM.JSPrintManager.auto_reconnect = true;
            JSPM.JSPrintManager.start();
            JSPM.JSPrintManager.WS.onStatusChanged = function () {
              if (jspmWSStatus()) {
                JSPM.JSPrintManager.getPrinters().then(function (printersList) {
                  _this.clientPrinters = printersList;
                });
              }
            };

            //Create a ClientPrintJob
            this.cpj = new JSPM.ClientPrintJob();
          },
          setLastPrinter(printer) {
              window.localStorage.setItem('cardPrinter', printer);
              this.lastPrinter = printer;
          },
          deposit(depo) {
            if (Number(depo) > 0) {
              return `(-${toRupiah(depo)})`;
            } else {
              return "";
            }
          },
          orderDate(date) {
            return date.split(" ")[0];
          },
          async printCard($dispatch) {
            // Tentukan printer
            if (this.selectedPrinter == "") {
              if (this.lastPrinter != "") {
                this.cpj.clientPrinter = new JSPM.InstalledPrinter(this.lastPrinter);
              } else {
                this.cpj.clientPrinter = new JSPM.DefaultPrinter();
              }
            } else {
              this.cpj.clientPrinter = new JSPM.InstalledPrinter(this.selectedPrinter);
              this.setLastPrinter(this.selectedPrinter);
            }

            await this.orders.reduce(async (promise, order) => {
              await promise;

              this.loadingText = "Membuat kartu " + order.Code;
              this.progresses += 1;
              await html2canvas(document.querySelector(`#${order.Code}`), {scrollY: -window.scrollY, scrollX: -6}).then(canvas => {
                //document.body.appendChild(canvas)

                // Buat file (gambar) untuk di print...
                var b64Prefix = "data:image/png;base64,";
                var imgBase64DataUri = canvas.toDataURL("image/png");
                var imgBase64Content = imgBase64DataUri.substring(b64Prefix.length, imgBase64DataUri.length);

                var myImageFile = new JSPM.PrintFile(imgBase64Content, JSPM.FileSourceType.Base64, `${order.Customer.Code}_${order.ID}_${order.Customer.Name}-PW=7.50-PH=6.png`, 1);
                // Tambahkan file ke daftar yang akan di print
                this.cpj.files.push(myImageFile);
              });

            }, Promise.resolve());

            this.loadingText = "LOADING...";
            this.loading = false;
            this.progresses = 0;

            // Kirim signal ke printer untuk melakukan print
            this.cpj.sendToClient();
          },
          progress() {
            return Math.round((this.progresses / this.orders.length) * 100);
          }
        };
      }
    </script>
  </body>
</html>
