{{ define "dashboard_order_detail_modal" }}
<template x-ref="orderDetail">
  <div x-init="fetchById($dispatch)" x-data="fOrdDetail($parent)">
    <div
      class="absolute top-0 mt-3 ml-3 sm:mr-0 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
    >
      <a
        :href="`/check/card/${order.Code}`"
        target="_blank"
        x-text="'#'+order.Code"
      ></a>
    </div>
    <!-- Yang terlibat -->
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">#Melibatkan</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Nama Pembeli</td>
          <td class="px-4 py-1 text-sm" x-text="customer.Name"></td>
        </tr>
        <template x-if="order.ImportedSales === ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Sales</td>
            <td class="px-4 py-1 text-sm" x-text="sales.Name"></td>
          </tr>
        </template>
        <template x-if="order.ImportedSurveyor === ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Surveyor</td>
            <td class="px-4 py-1 text-sm" x-text="surveyor.Name"></td>
          </tr>
        </template>
        <template x-if="order.ImportedSales !== ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Sales</td>
            <td class="px-4 py-1 text-sm" x-text="order.ImportedSales"></td>
          </tr>
        </template>
        <template x-if="order.ImportedSurveyor !== ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Surveyor</td>
            <td class="px-4 py-1 text-sm" x-text="order.ImportedSurveyor"></td>
          </tr>
        </template>
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Collector</td>
          <td class="px-4 py-1 text-sm" x-text="collector.Name"></td>
        </tr>
      </tbody>
    </table>

    <!-- Alamat -->
    <table class="w-full">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">#Alamat</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <template x-if="order.ImportedAddress === ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Pengiriman</td>
            <td class="px-4 py-1 text-sm" x-text="shippingAddress"></td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Penagihan</td>
            <td class="px-4 py-1 text-sm" x-text="billingAddress"></td>
          </tr>
        </template>
        <template x-if="order.ImportedAddress !== ''">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Pemesanan</td>
            <td class="px-4 py-1 text-sm" x-text="order.ImportedAddress"></td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-1 text-sm">Pengiriman</td>
            <td class="px-4 py-1 text-sm" x-text="order.ImportedAddress"></td>
          </tr>
        </template>
      </tbody>
    </table>

    <!-- Alamat -->
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">#Tanggal</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Pemesanan</td>
          <td class="px-4 py-1 text-sm" x-text="order.OrderDate"></td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Pengiriman</td>
          <td class="px-4 py-1 text-sm" x-text="order.ShippingDate"></td>
        </tr>
      </tbody>
    </table>

    <!-- Other -->
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">#Lainnya</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>
      <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Status</td>
          <td class="px-4 py-1 text-xs">
            <span
              class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              x-show="order.Status == 'Completed'"
              x-text="order.Status"
            ></span>
            <span
              class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700"
              x-show="order.Status == 'Pending'"
              x-text="order.Status"
            ></span>
            <span
              class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"
              x-show="order.Status == 'Canceled'"
              x-text="order.Status"
            ></span>
            <span
              class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"
              x-show="order.Status == 'Denied'"
              x-text="order.Status"
            ></span>
          </td>
        </tr>

        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-1 text-sm">Pembayaran</td>
          <td class="px-4 py-1 text-xs">
            <span
              class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:bg-orange-700 dark:text-orange-100"
              x-show="order.Credit"
              >Kredit</span
            ><span
              class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              x-show="!order.Credit"
              >Cash</span
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div class="overflow-x-auto mt-4">
      <!-- Items -->
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-3 py-3">No</th>
            <th class="px-4 py-3">Nama</th>
            <th class="px-4 py-3">Qty</th>

            <th class="px-4 py-3">Harga</th>
          </tr>
        </thead>

        <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
          <!-- Items -->
          <template x-if="order.ImportedItems === ''">
            <template x-for="(item, index) in items" :key="index">
              <tr
                class="text-gray-700 dark:text-gray-400 hover:bg-green-100 cursor-pointer border-b"
              >
                <td class="px-3 py-3 text-sm" x-text="index + 1"></td>
                <td class="px-1 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Tampilkan avatar -->
                    <div
                      class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                      <img
                        class="object-cover w-full h-full rounded-full"
                        :src="'/file/product/no-photo.png'"
                        alt=""
                        loading="lazy"
                        x-show="item.Product.Thumbnail == ''"
                      />
                      <img
                        class="object-cover w-full h-full rounded-full"
                        :src="`/file/product/thumbnail/${item.Product.Thumbnail}`"
                        alt=""
                        loading="lazy"
                        x-show="item.Product.Thumbnail != ''"
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>
                    <div>
                      <p class="font-semibold" x-text="item.Product.Name"></p>
                      <p
                        class="text-xs text-gray-600 dark:text-gray-400"
                        x-text="item.Product.Code"
                      ></p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm" x-text="item.Quantity"></td>
                <td
                  x-show="item.Discount == 0"
                  class="px-4 py-3 text-sm"
                  x-text="toRupiah(item.Price*item.Quantity)"
                ></td>
                <td x-show="item.Discount > 0" class="px-4 py-3 text-sm">
                  <div>
                    <p
                      class="font-semibold"
                      x-text="toRupiah(item.Discount*item.Quantity)"
                      :class="{'text-green-400': item.Discount < item.Price, 'text-orange-400': item.Discount > item.Price }"
                    ></p>
                    <p class="text-xs">
                      <span
                        class="text-red-400 line-through dark:text-gray-400"
                        x-text="toRupiah(item.Price*item.Quantity)"
                      ></span>
                      <template
                        x-if="(item.Price*item.Quantity) > (item.Discount*item.Quantity)"
                      >
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                          x-text="` (-${toRupiah((item.Price*item.Quantity)-(item.Discount*item.Quantity))})`"
                        ></span>
                      </template>
                      <template
                        x-if="(item.Price*item.Quantity) < (item.Discount*item.Quantity)"
                      >
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100"
                          x-text="` (+${toRupiah((item.Price*item.Quantity)-(item.Discount*item.Quantity))})`"
                        ></span>
                      </template>
                    </p>
                  </div>
                </td>
              </tr>
            </template>
          </template>
          <template x-if="order.ImportedItems != '' && order.Credit">
            <tr
              class="text-gray-700 dark:text-gray-400 hover:bg-green-100 cursor-pointer border-b"
            >
              <td class="px-3 py-3 text-sm">1</td>
              <td class="px-1 py-3" x-text="order.ImportedItems"></td>
              <td class="px-4 py-3 text-sm">1</td>
              <td
                class="px-4 py-3 text-sm font-semibold text-orange-500"
                x-text="`${toRupiah(order.CreditDetail.Monthly)}`"
              ></td>
            </tr>
          </template>

          <template x-if="order.Credit">
            <tr class="text-gray-700 dark:text-gray-400 border-b">
              <td class="px-3 py-3 text-sm"></td>
              <td class="px-3 py-3 text-sm"></td>
              <td class="px-3 py-3 text-sm"></td>
              <td
                class="px-4 py-3 text-sm font-semibold text-orange-500"
                x-text="`${toRupiah(order.CreditDetail.Monthly)}`"
              ></td>
            </tr>
          </template>

          <!-- Total Harga -->
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-3 pt-3 text-sm"></td>
            <td class="px-3 pt-3 text-sm"></td>
            <td class="px-3 pt-3 text-sm">Total</td>
            <td
              class="px-4 pt-3 text-sm"
              x-text="toRupiah(order.PriceTotal)"
              :title="`Harga beli total ${toRupiah(order.BasePriceTotal)}`"
            ></td>
          </tr>
          <!-- Deposit -->
          <template x-if="order.Credit">
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-3 pb-2 text-sm"></td>
              <td class="px-3 pb-2 text-sm"></td>
              <td class="px-3 pb-2 text-sm border-b">Deposit</td>
              <td
                class="px-4 pb-2 text-sm font-semibold text-orange-500 border-b"
                x-text="`-${toRupiah(order.Deposit)}`"
              ></td>
            </tr>
          </template>
          <!-- Total sisa kredit -->
          <template x-if="order.Credit">
            <tr class="text-gray-700 dark:text-gray-400 font-bold">
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm">Kredit</td>
              <td class="px-4 text-sm">
                <span
                  class="text-lg"
                  x-text="`${toRupiah(order.PriceTotal-order.Deposit)}`"
                ></span>
              </td>
            </tr>
          </template>
          <!-- Diskon keberuntungan -->
          <template x-if="order.Credit && order.CreditDetail.LuckyDiscount > 0">
            <tr class="text-green-400 font-bold">
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm">Diskon ajaib</td>
              <td
                class="px-4 text-sm"
                x-text="`${toRupiah(order.CreditDetail.LuckyDiscount)}`"
              ></td>
            </tr>
          </template>
          <!-- Cicilan per bulan -->
          <template x-if="order.Credit">
            <tr class="text-gray-400 font-bold">
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm"></td>
              <td class="px-3 text-sm"></td>
              <td
                class="px-4 text-sm"
                x-text="`${toRupiah(order.CreditDetail.Monthly)}/bulan x ${order.CreditDetail.Duration}`"
              ></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
  function fOrdDetail($parent) {
    return {
      id: $parent.modalTmp,
      order: [],
      customer: [],
      sales: [],
      surveyor: [],
      collector: [],
      shippingAddress: [],
      billingAddress: [],
      items: [],
      fetchById($dispatch) {
        fetch(`/api/v1/local/order/id/${this.id}`, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.order == null) {
              $dispatch("notif", {
                type: "error",
                message:
                  "Sepertinya telah terjadi kesalahan saat memuat data order/penjualan",
              });
            } else {
              this.order = json.order;
              this.customer = json.order.Customer;
              this.sales = json.order.Sales;
              this.surveyor = json.order.Surveyor;
              this.collector = json.order.Collector;
              this.shippingAddress = json.order.ShippingAddress;
              this.billingAddress = json.order.BillingAddress;
              this.items = json.order.Items;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
    };
  }
</script>
{{ end }}
