{{ template "base" .}} {{ define "dashboard_users_content" }}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Data Pengguna
</h2>

<!-- Daftar Pengguna -->
<div
  x-data="UserData()"
  x-init="fetchInit($watch, $dispatch)"
  class="w-full mb-8 overflow-hidden rounded-lg shadow-xs"
>
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-3 py-3">No</th>
          <th class="px-4 py-3">Nama Lengkap</th>
          <th class="px-4 py-3">Kode</th>
          <th class="px-4 py-3">Saldo</th>
          <th class="px-4 py-3">Tanggal Ditambahkan</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="(user, index) in users" :key="index">
          <tr
            class="text-gray-700 dark:text-gray-400 hover:opacity-50 cursor-pointer"
            @click="$dispatch('modal', { tmp: user.ID, html: $refs.userDetail.innerHTML, callback: function() { alert('Fungsi belum di implementasikan') } });"
          >
            <td class="px-3 py-3 text-sm" x-text="index + loaded + 1"></td>
            <td class="px-1 py-3">
              <div class="flex items-center text-sm">
                <!-- Tampilkan avatar -->
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    :src="'/file/profile/thumbnail/'+user.Avatar"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p
                    class="font-semibold"
                    x-text="user.Firstname+' '+user.Lastname"
                  ></p>
                  <p
                    class="text-xs text-gray-600 dark:text-gray-400"
                    x-text="user.Role"
                  ></p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm" x-text="user.Username"></td>
            <td class="px-4 py-3 text-sm" x-text="user.Balance"></td>
            <td class="px-4 py-3 text-sm" x-text="user.CreatedAt"></td>
          </tr>
        </template>
        <template x-ref="userDetail">
          <div x-init="fetchById($dispatch)" x-data="fUseDetail($parent)">
            <div
              class="absolute top-0 mt-4 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
              x-text="'Kode #'+user.Username"
            ></div>
            <!-- Photo pengguna -->
            <div
              class="w-full h-48 flex flex-col justify-center items-center"
              x-show="typeof user.Avatar !== 'undefined'"
            >
              <div class="w-full relative">
                <div class="h-48 w-full flex items-center rounded-lg">
                  <div
                    class="relative cursor-pointer w-full h-full"
                    @click="$dispatch('preview', {
                    html: '<img @click=\'closePreview()\' src=\'/file/profile/'+user.Avatar+'\' class=\'object-scale-down object w-full h-full\' />',
                    });"
                  >
                    <img
                      class="object-scale-down w-full h-full object"
                      :src="'/file/profile/'+user.Avatar"
                      alt=""
                      loading="lazy"
                    />
                    <div
                      class="absolute inset-0 shadow-inner"
                      aria-hidden="true"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">ID Unik</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Kartu Keluarga
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.FamilyCardNumber != ''"
                  x-text="user.FamilyCardNumber"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.FamilyCardNumber == ''"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Induk Kependudukan
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.RIC != ''"
                  x-text="user.RIC"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.RIC == ''"
                >
                  -
                </dd>
              </div>
            </dl>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">Informasi Pengguna</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nama Lengkap
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.Firstname + ' ' + user.Lastname"
                ></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Jenis Kelamin
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Gender == 'm'"
                >
                  Laki-Laki
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Gender == 'f'"
                >
                  Perempuan
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Pekerjaan
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Occupation != ''"
                  x-text="user.Occupation"
                ></dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="user.Occupation == ''"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Saldo
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.Balance"
                ></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Peran
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.Role"
                ></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Terdaftar Pada
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-text="user.CreatedAt"
                ></dd>
              </div>
            </dl>

            <dl class="w-full whitespace-no-wrap">
              <div
                class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <dt class="px-3 py-3">Informasi Kontak</dt>
                <dd class="px-4 sm:px-0"></dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Email
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="emails.length > 0"
                >
                  <template x-for="(email, index) in emails" :key="index">
                    <p x-text="email.Email"></p>
                  </template>
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="emails.length == 0"
                >
                  -
                </dd>
              </div>
              <div class="px-4 py-1 sm:grid sm:grid-cols-2">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Nomor Telepon
                </dt>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="phones.length > 0"
                >
                  <template x-for="(phone, index) in phones" :key="index">
                    <p x-text="phone.Phone"></p>
                  </template>
                </dd>
                <dd
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0"
                  x-show="phones.length == 0"
                >
                  -
                </dd>
              </div>
            </dl>

            <table class="w-full whitespace-no-wrap table-auto">
              <thead>
                <tr
                  class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                >
                  <th class="px-3 py-3">Informasi Alamat</th>
                  <th class="px-4 py-3"></th>
                </tr>
              </thead>
              <tbody class="bg-white dark:divide-gray-700 dark:bg-gray-800">
                <template x-for="(address, index) in addresses" :key="index">
                  <tr class="text-gray-600 dark:text-gray-400">
                    <td class="px-4 py-1 align-top">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold" x-text="address.name"></p>
                          <p
                            class="text-xs text-gray-500 dark:text-gray-400"
                            x-text="address.description"
                          ></p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-4 py-1 text-sm whitespace-normal break-words align-top"
                      x-text="address.one + address.two + ', ' + address.VillageName + ', ' + address.DistrictName + ', ' + address.CityName + ', ' + address.ProvinceName + ', ' +address.zip"
                    ></td></tr
                ></template>
                <tr
                  class="text-gray-700 dark:text-gray-400"
                  x-show="addresses.length == 0"
                >
                  <td class="px-4 py-1 text-sm align-top">-</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
        <script>
          function fUseDetail($parent) {
            return {
              id: $parent.modalTmp,
              user: [],
              emails: [],
              phones: [],
              addresses: [],
              fetchById($dispatch) {
                fetch(`/api/v1/local/user/id/${this.id}`, {
                  method: "GET",
                })
                  .then((res) => res.json())
                  .then((json) => {
                    if (json.error) {
                      $dispatch("notif", {
                        type: "error",
                        message: json.error,
                      });
                    }

                    if (json.user == null) {
                      $dispatch("notif", {
                        type: "error",
                        message:
                          "Sepertinya telah terjadi kesalahan saat memuat data pengguna",
                      });
                    } else {
                      this.user = json.user;
                      if (json.user.Emails) {
                        this.emails = json.user.Emails;
                      }
                      if (json.user.Phones) {
                        this.phones = json.user.Phones;
                      }
                      if (json.user.Addresses) {
                        this.addresses = json.user.Addresses;
                      }
                    }
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              },
            };
          }
        </script>
      </tbody>
    </table>
  </div>
  <div
    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
  >
    <span
      class="flex items-center justify-center sm:justify-start col-span-10 sm:col-span-1"
    >
      <div class="relative">
        <select
          class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
          x-model="limit"
        >
          <option value="">Jumlah per halaman</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          {{ template "_svg_icon_arrow_bottom" }}
        </div>
      </div>
    </span>
    <span class="flex items-center col-span-10 sm:col-span-7 justify-center">
      Total
      <div x-text="total" class="px-1"></div>
      -
      <div class="px-1"></div>
      Halaman
      <div x-text="page" class="px-1"></div>
    </span>
    <!-- Pagination -->
    <span
      class="flex justify-center col-span-10 sm:col-span-1 mt-2 sm:mt-auto sm:justify-end"
    >
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <!-- Backwaard -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Previous"
              @click="backW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': page <= 1 || loading == true}"
              :disabled="page <= 1 || loading == true"
            >
              <svg
                aria-hidden="true"
                class="w-4 h-4 fill-current"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
          <!-- Forward -->
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Next"
              @click="forW($dispatch)"
              :class="{'cursor-not-allowed opacity-50': last == true || loading == true}"
              :disabled="last == true || loading == true"
            >
              <svg
                class="w-4 h-4 fill-current"
                aria-hidden="true"
                viewBox="0 0 20 20"
              >
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>

<script>
  function UserData() {
    return {
      fetchInit($watch, $dispatch) {
        $watch("limit", (value) => {
          if (value != "") {
            this.users = [];
            this.page = 1;
            this.loaded = 0;
            this.fetchUsersData($dispatch, true, "init");
          }
        });
        this.fetchUsersData($dispatch, true, "init");
      },
      users: [],
      loading: false,
      lastid: 0,
      limit: 10,
      userType: "all",
      loaded: 0,
      last: false,
      page: 1,
      total: 0,
      fetchUsersData($dispatch, reset, go) {
        this.loading = true;
        if (reset) {
          this.lastid = 0;
        }
        if (go == "back") {
          ffrom = `/api/v1/local/user/list/${this.limit}?lastid=${this.lastid}&direction=back&role=${this.userType}`;
        } else {
          ffrom = `/api/v1/local/user/list/${this.limit}?lastid=${this.lastid}&direction=next&role=${this.userType}`;
        }
        fetch(ffrom, {
          method: "GET",
        })
          .then((res) => res.json())
          .then((json) => {
            this.loading = false;
            if (json.error) {
              $dispatch("notif", {
                type: "error",
                message: json.error,
              });
            }

            if (json.users != null) {
              this.users = json.users;
              this.last = json.last;
              this.total = json.total;

              if (go == "back") {
                this.page = Number(this.page) - 1;
                this.loaded -= 10;
              } else if (go == "next") {
                this.page = Number(this.page) + 1;
                this.loaded += 10;
              }
            } else {
              this.last = true;
              $dispatch("notif", {
                type: "error",
                message: "Tidak ada data produk/barang yang bisa ditampilkan",
              });
            }
          })
          .catch((err) => {
            console.log(err);
            this.loading = false;
          });
      },
      backW($dispatch) {
        if (this.page > 1) {
          this.lastid = this.users[0].ID;
          this.fetchUsersData($dispatch, false, "back");
        }
      },
      forW($dispatch) {
        this.lastid = this.users[this.users.length - 1].ID;
        this.fetchUsersData($dispatch, false, "next");
      },
    };
  }
</script>
{{ end }}
