<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ .title }} - {{ .site_name }}</title>

    <link rel="stylesheet" href="/assets/css/tailwind.optimized.css" />
    {{ range $href := .css }}
    <link rel="stylesheet" href="{{ $href }}" />
    {{ end }}
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script src="/assets/js/alpine-magic-helper-component.js"></script>
    <script src="/assets/js/alpine.min.js" defer></script>
    <script src="/assets/js/init.js"></script>
    <script src="/assets/js/focus-trap.js"></script>
    {{ range $href := .js }}
    <script src="{{ $href }}"></script>
    {{ end }}
  </head>

  <body>
    <div class="flex flex-col flex-1 w-full">
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container m-10 px-2 sm:px-6 mx-auto grid">
          <div x-init="initProduct($dispatch)" x-data="product()">
            <!-- Title -->
            <div
              class="absolute top-0 mt-3 ml-3 sm:mr-0 text-sm md:text-lg font-semibold tracking-wide text-left text-gray-500 uppercase dark:text-gray-400"
            >
              Katalog produk
            </div>
            <div class="text-center">
              <div class="mx-auto py-4">
                <label for="search" class="sr-only">Search</label>
                <div class="relative rounded-md shadow">
                  <input
                    class="block h-10 w-full px-4 sm:text-sm sm:leading-5"
                    placeholder="Cari nama atau kode produk"
                    x-model="product_instant_search"
                  />
                </div>
              </div>
              <ul
                class="grid grid-cols-1 col-gap-4 row-gap-8 md:col-gap-6 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
              >
                <template
                  x-for="(product, index) in fill_products"
                  :key="index"
                >
                  <a
                    class="relative cursor-pointer"
                    :href="`/product/${product.ID}`"
                  >
                    <div
                      x-show="product.Stock <= 0"
                      class="absolute z-30 bg-gray-500 opacity-50 inset-0"
                    ></div>
                    <div class="rounded relative overflow-hidden shadow-lg">
                      {{ if and (.login) (ne .user.Role "Customer") }}
                      <div
                        class="absolute bg-blue-200 text-blue-500 font-bold text-xs top-0 right-0 px-1"
                      >
                        <p x-text="toRupiah(product.Price)"></p>
                      </div>
                      {{ end }}
                      <img
                        class="object-cover w-full"
                        :src="'/file/product/'+product.Thumbnail"
                        alt=""
                        loading="lazy"
                        x-show="product.Thumbnail != ''"
                      />
                      <img
                        class="object-cover w-full"
                        :src="'/file/product/no-photo.png'"
                        alt=""
                        loading="lazy"
                        x-show="product.Thumbnail === ''"
                      />
                      <div class="px-6 py-2">
                        <div
                          class="font-bold text-xl mb-2"
                          x-text="product.Name"
                        ></div>
                        <p
                          x-show="product.Description != ''"
                          class="text-gray-700 text-base text-left"
                          x-text="product.Description"
                        ></p>
                      </div>
                      <div class="px-2 pt-2 pb-2">
                        <span
                          class="inline-block bg-orange-200 rounded-full px-3 py-1 text-xs font-semibold text-orange-500 mr-2 mb-2"
                          x-text="'#Merk: ' + product.Brand"
                          x-show="product.Brand != ''"
                        ></span>
                        <span
                          class="inline-block bg-green-200 rounded-full px-3 py-1 text-xs font-semibold text-green-500 mr-2 mb-2"
                          x-text="'#Tipe: ' + product.Type"
                          x-show="product.Type != ''"
                        ></span>
                        <span
                          class="inline-block bg-red-200 rounded-full px-3 py-1 text-xs font-semibold text-red-500 mr-2 mb-2"
                          x-text="'#Stok: ' + product.Stock"
                          :class="{}"
                        ></span>
                        {{ if and (.login) (ne .user.Role "Customer") }}
                        <span
                          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-500 mr-2 mb-2"
                          x-text="'#Beli: ' + toRupiah(product.BasePrice)"
                        ></span>
                        {{ end }}
                      </div>
                    </div>
                  </a>
                </template>
              </ul>
              <div class="bg-blue-500">
                <button
                  class="block w-full mx-auto mt-5 shadow hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white text-sm py-2 px-5"
                  @click="showMore($dispatch)"
                  :class="{'disable cursor-not-allowed bg-blue-400': products.length <= count }"
                >
                  Lihat Lebih Banyak
                </button>
              </div>
            </div>
          </div>
          <script>
            function product() {
              return {
                products: [],
                product_instant_search: "",
                count: 15,
                initProduct($dispatch) {
                  this.fetchProduct($dispatch);
                },
                fetchProduct($dispatch) {
                  fetch(`/api/v1/public/product/all`, {
                    method: "GET",
                  })
                    .then((res) => res.json())
                    .then((data) => {
                      if (data.error) {
                        $dispatch("notif", {
                          type: "error",
                          message: data.error,
                        });
                      }
                      if (data.products) {
                        this.products = data.products;
                      }
                    })
                    .catch(() => {
                      console.log(
                        "Telah terjadi kesalahan saat memuat data produk"
                      );
                    });
                },
                get fill_products() {
                  return this.products
                    .filter((p) => {
                      const pattern = new RegExp(
                        this.product_instant_search,
                        "i"
                      );
                      return (
                        p.Name.match(pattern) ||
                        p.Code.match(pattern) ||
                        p.Brand.match(pattern) ||
                        p.Type.match(pattern)
                      );
                    })
                    .slice(0, this.count);
                },
                showMore($dispatch) {
                  if (this.products.length <= this.count) {
                    $dispatch("notif", {
                      type: "error",
                      message: "Tidak ada lagi data yang bisa ditampilkan",
                    });
                  } else {
                    this.count += 12;
                  }
                },
              };
            }
          </script>
        </div>
      </main>

      {{ template "footer" .}}
      
    </div>
  </body>
</html>
